//--------------------------------\\
//---------- VARIABLES  ----------\\
//--------------------------------\\

$content-width: $global-content-width;

$header-height: 4rem;
$sub-nav-height: 3rem;
$nav-separator-width: 2px;
$global-banner-height: 3.5rem;
$global-banner-height_phone: 4rem;
$footer-height: 6rem;
$footer-height_phone: 6rem;

//Theme
$header-color: $color-white !default;
$header-text-color: $color-purple !default;
$header-underline-width: 4px;
$header-underline-color: $color-data-teal !default;

$sub-nav-color: $color-white !default;
$sub-nav-text-color: $color-purple !default;
$sub-nav-underline-width: 4px;
$sub-nav-underline-color: $color-data-teal !default;

$header-shadow: 0 1px 5px rgba(0, 0, 0, 0.5) !default;

body.has-footer {
	min-height: calc(100vh - #{$header-height} - #{$sub-nav-height});
	position: relative;

	.content {
		padding-bottom: $footer-height_phone;

		@media #{$tablet} {
			padding-bottom: $footer-height;
		}
	}
}

.header {
	align-items: center;
	display: flex;
	height: $header-height;
	left: 0;
	margin: auto;
	max-height: $header-height;

	max-width: $content-width;
	padding: $space-xs;
	position: fixed;
	right: 0;
	top: 0;

	width: 100%;
	z-index: calc(#{$zindex-header} + 1);

	&::after {
		background: $header-color;
		border-bottom: $nav-separator-width solid $color-border;
		content: '';
		height: calc(#{$header-height} + #{$nav-separator-width});
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: $zindex-negative;
	}

	.header-nav {
		display: none; //Hide header nav links on mobile

		ul {
			@extend %remove-list-style;

			li {
				align-items: center;
				display: inline-block;

				a {
					align-items: center;
					color: $header-text-color;
					display: flex;
					font-size: 1.1rem;
					font-weight: $font-weight-semibold;
					margin: 0 $space-m;
					position: relative;
					text-decoration: none;

					&::after {
						@include transition(all 0.2s ease-out);
						background-color: $color-data-teal;
						border-radius: 10px;
						bottom: calc(-#{$header-underline-width} - 2px);
						content: '';
						height: $header-underline-width;
						left: 0;
						position: absolute;
						right: 0;
						-webkit-transform: scaleX(0);
						transform: scaleX(0);

						visibility: hidden;
					}

					&:hover,
					&.active {
						opacity: 1;

						&::after {
							-webkit-transform: scaleX(1);
							transform: scaleX(1);

							visibility: visible;
						}
					}

				}
			}
		}
		@media #{$tablet} {
			display: flex;
		}
	}


	.logo + .header-nav {
		margin-left: $space-m;
	}//IE wants this... okay IE. Here you are.
}

.logo {
	align-items: center;
	display: flex;
	height: 4rem;
	justify-content: center;
	margin: 0 auto;
	padding: $space-m;
	padding: $space-xs;
	width: 10.75rem;

	img {
		height: 4rem;
		width: 100%;
	}

	a:hover {
		opacity: 1;
	}
	@media #{$tablet} {
		padding: $space-m;
	}

	@media #{$tablet} {
		justify-content: center;
		margin: 0;
	}
}

.content {
	margin: auto;
	margin-top: $header-height;
	max-width: $content-width;
	-webkit-overflow-scrolling: touch;
	z-index: $zindex-content;
}

.sub-nav {
	height: $sub-nav-height;
	left: 0;
	margin: auto;

	max-width: $content-width;

	position: fixed;
	right: 0;
	top: $header-height;

	width: 100%;
	z-index: $zindex-header;

	~.content {
		margin-top: calc(#{$header-height} + #{$sub-nav-height});
	}

	&::after {
		background-color: $sub-nav-color;
		box-shadow: $header-shadow;
		content: '';
		height: $sub-nav-height;
		left: 0;
		position: fixed;
		top: $header-height;
		width: 100%;
		z-index: $zindex-negative;
	}

	&.has-title {
		align-items: center;
		display: flex;
		justify-content: flex-start;

		@media #{$phone} {
			ul {
				@include dropdown-menu;

				display: flex;
				flex-direction: column;
				height: auto;
				left: 1rem;
				top: calc(#{$sub-nav-height} - 0.2rem);

				&.hide-menu { display: none !important; }

				li {
					margin: 0;

					a::after { display: none; }
				}
			}
		}
	}

	&.sub-nav--back {
		align-items: center;
		display: flex;
		padding: 0 $grid-gutter/2;

		a {
			height: auto; //make back link centered
		}

		@media #{$tablet} {
			padding: 0 $grid-gutter;
		}
	}

	.sub-nav--title {
		align-items: center;
		color: $color-purple;
		display: flex;
		font-size: $font-size-medium;
		font-weight: $font-weight-semibold;
		height: 100%;
		padding: 0 $grid-gutter 0 $grid-gutter;

		.sub-nav--icon { display: none; }

		@media #{$phone} {
			cursor: pointer;
			position: relative;

			.sub-nav--icon {
				display: inline-block;
				left: 0.3rem;
				position: relative;
				top: 0.1rem;
			}
		}
	}

	ul,
	li,
	a {
		height: 100%;
	}

	ul {
		@extend %remove-list-style;
		overflow-x: auto;
		overflow-y: hidden;
		white-space: nowrap;

		li {
			display: inline-block;
			margin: 0 $space-m;

			a {
				align-items: center;
				color: $sub-nav-text-color;
				display: flex;
				font-size: 1rem;
				font-weight: $font-weight-semibold;
				position: relative;
				text-decoration: none;

				&::after {
					@include transition(all 0.2s ease-out);
					background-color: $color-data-teal;
					border-radius: 10px;
					bottom: 0;
					content: '';
					height: $header-underline-width;
					left: 0;
					position: absolute;
					right: 0;
					-webkit-transform: scaleX(0);
					transform: scaleX(0);

					visibility: hidden;
				}

				&:hover,
				&.active {
					opacity: 1;

					&::after {
						-webkit-transform: scaleX(1);
						transform: scaleX(1);

						visibility: visible;
					}
				}
			}
		}
	}
}

// Profile Image
.profile {
	align-items: center;
	border-radius: 5px;
	color: $color-white;
	cursor: pointer;
	display: none;
	justify-content: center;
	padding: $space-xs;
	width: auto;

	@media #{$tablet} {
		display: flex;
	}
}

/* Global Banner Adjustment
  =========================================================================== */
.global-banner-container {
	+ .header {
		top: $global-banner-height_phone;
		&::after { top: $global-banner-height_phone; }

		+ .sub-nav {
			top: calc(#{$global-banner-height_phone} + #{$header-height});

			&::after {
				top: calc(#{$global-banner-height_phone} + #{$header-height});
			}

			~.content {
				margin-top: calc(#{$global-banner-height_phone} + #{$header-height} + #{$sub-nav-height});
			}
			@media #{$tablet} {
				top: calc(#{$global-banner-height} + #{$header-height});

				&::after {
					top: calc(#{$global-banner-height} + #{$header-height});
				}

				~.content {
					margin-top: calc(#{$global-banner-height} + #{$header-height} + #{$sub-nav-height});
				}
			}
		}

		~.content {
			margin-top: calc(#{$global-banner-height_phone} + #{$header-height});
		}

		@media #{$tablet} {
			top: $global-banner-height;
			&::after { top: $global-banner-height; }
		}
		@media #{$tablet} {
			~.content {
				margin-top: calc(#{$global-banner-height} + #{$header-height});
			}
		}
	}
}
