/* Typography Utility Classes
  =========================================================================== */

.text-align-center,
.center-align,
.align-center { text-align: center !important; }

.text-align-left,
.left-align,
.align-left { text-align: left !important; }

.text-align-right,
.right-align,
.align-right { text-align: right !important; }

.no-wrap {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.break-word {
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
	overflow-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	word-wrap: break-word;
}

/* Typography Styles
  =========================================================================== */

* {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

body {
	background-color: var(--color-background);
	color: var(--color-text);
	font-family: $font-family-body;
	font-size: $font-size-normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--color-text);
	font-family: $font-family-header;
	font-weight: $font-weight-semibold;
	margin: 0;
	margin-bottom: $space-xxs;
}

h1,
.font-size--xlarge { font-size: $font-size-xlarge; }

h2,
.font-size--large { font-size: $font-size-large; }

h3,
.font-size--medium { font-size: $font-size-medium; }

h4,
.font-size--normal { font-size: $font-size-normal; }

small,
.font-size--small { font-size: $font-size-small; }
.font-size--xsmall { font-size: $font-size-xsmall; }

a {
	color: var(--color-link);
	cursor: pointer;
	font-weight: $font-weight-semibold;
	text-decoration: underline;

	&:hover,
	&:focus {
		opacity: 0.7;
		text-decoration-color: inherit;
	}

	&.no-decoration {
		color: inherit;
		font-weight: inherit;
		text-decoration: none;

		&:hover,
		&:focus {
			opacity: 1;
		}
	}
}

p,
li.text-list_item {
	color: var(--color-text);
	font-size: $font-size-normal;
	line-height: $space-l;
	margin: 0;
	margin-bottom: $space-xs;
}

ul.text-list {
	list-style: none;
	margin: 0;
	padding: 0;
}


strong,
.strong {
	font-weight: $font-weight-semibold;
}

.bold {
	font-weight: $font-weight-bold;
}
