/*
_______   _______ ___________ ________  ________ _   _ _____ ___  _
|  ___\ \ / / ___ \  ___| ___ \_   _|  \/  |  ___| \ | |_   _/ _ \| |
| |__  \ V /| |_/ / |__ | |_/ / | | | .  . | |__ |  \| | | |/ /_\ \ |
|  __| /   \|  __/|  __||    /  | | | |\/| |  __|| . ` | | ||  _  | |
| |___/ /^\ \ |   | |___| |\ \ _| |_| |  | | |___| |\  | | || | | | |____
\____/\/   \|_|   \____/\_| \_|\___/\_|  |_|____/\_| \_/ \_/\_| |_|_____/

This is an EXPERIMENT and is not ready to be included in production!
*/

.accordion--table {
  .accordion--row {
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
  }

  .accordion--content {
    border-bottom: 2px solid $gray-50;
  }
}

.accordion--key {
  cursor: default;
  background-color: $gray-700c;
}

.provider, .member, .amount, .sharing, .youpay, .status, .category, .date {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 0.5rem;
}

.accordion--arrow { width: 35px; text-align: center; }
.date             { width: 4rem; flex-grow: 1; }
.provider         { width: 5rem; flex-grow: 2; }
.member           { width: 5rem; flex-grow: 1; }
.amount           { width: 5rem; flex-grow: 1; }
.sharing          { width: 5rem; flex-grow: 1; }
.youpay           { width: 5rem; flex-grow: 1; }
.status           { width: 5rem; flex-grow: 1; }
.category         { width: 5rem; flex-grow: 1; }
