/*
_______   _______ ___________ ________  ________ _   _ _____ ___  _
|  ___\ \ / / ___ \  ___| ___ \_   _|  \/  |  ___| \ | |_   _/ _ \| |
| |__  \ V /| |_/ / |__ | |_/ / | | | .  . | |__ |  \| | | |/ /_\ \ |
|  __| /   \|  __/|  __||    /  | | | |\/| |  __|| . ` | | ||  _  | |
| |___/ /^\ \ |   | |___| |\ \ _| |_| |  | | |___| |\  | | || | | | |____
\____/\/   \|_|   \____/\_| \_|\___/\_|  |_|____/\_| \_/ \_/\_| |_|_____/

This is an EXPERIMENT and is not ready to be included in production!
*/

.accordian--breakdown {
  ol {
    width: 50%;
    list-style-type: none;
    padding:0;
    display: inline-block;
    li {
      display: inline-block;
    }
  }
}

.accordion--table {
  .accordion--row {
    justify-content: space-between;
    list-style-type: none;
    margin: 0;

    font-size: 0.75rem;
  }

  // margin: 0 -1rem;

  .accordion--content {
    border-bottom: 2px solid $gray-50;
    // border-top: 2px solid $gray-50;
    padding: 1rem;
  }

  @media #{$tablet} { margin: 0 -1rem; }//offset padding

}

.accordion--key {
  cursor: default;
  font-weight: 600;
  border-bottom: 2px solid $gray-150;
  font-size: 14px;
  background-color: $gray-50;

  //The remainder of this is the same styles as accordion--row
  justify-content: space-between;
  list-style-type: none;
  margin: 0;

  padding: 0.5rem $grid-gutter;
  display: flex;
  align-items: center;
  h1, h2, h3, h4 { margin-bottom: 0; }//removes default margin-bottom in accordion headers
}

.details {
  display: flex;
  margin: 0.5rem 0;
  justify-content: space-between;
  p, h3, .label-class {
    width: 50%;
  }
  strong, .description {
    width: 50%;
  }
}

.provider, .member, .amount, .sharing, .youpay, .status, .category, .date {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 0.5rem;
}

.scroll {
  overflow-x: auto;
  box-shadow: inset 0 2px 4px rgba(0,0,0, 0.5);
}

.scroll--width {
  min-width: 1200px;
}

.accordion--arrow { width: 1rem; text-align: center; display: flex; align-content: center;}
.date             { width: 1rem; flex-grow: 1; margin-left: 0.5rem}
.provider         { width: 2rem; flex-grow: 2; }
.member           { width: 2rem; flex-grow: 2; }
// .amount           { width: 2rem; flex-grow: 1; }
.sharing          { width: 2rem; flex-grow: 1; }
// .youpay           { width: 2rem; flex-grow: 1; }
.category         { width: 3rem; flex-grow: 1; }
.status           { width: 1rem; flex-grow: 1; }
