/*
_______   _______ ___________ ________  ________ _   _ _____ ___  _
|  ___\ \ / / ___ \  ___| ___ \_   _|  \/  |  ___| \ | |_   _/ _ \| |
| |__  \ V /| |_/ / |__ | |_/ / | | | .  . | |__ |  \| | | |/ /_\ \ |
|  __| /   \|  __/|  __||    /  | | | |\/| |  __|| . ` | | ||  _  | |
| |___/ /^\ \ |   | |___| |\ \ _| |_| |  | | |___| |\  | | || | | | |____
\____/\/   \|_|   \____/\_| \_|\___/\_|  |_|____/\_| \_/ \_/\_| |_|_____/

This is an EXPERIMENT and is not ready to be included in production!
*/
@import '../base/base';
@import '../modules/typography/typography';
@import '../modules/navigation/navigation';
@import '../modules/actions/actions';
@import '../modules/icons/icons';

//This is the mobile menu including sidebar and profile

//Variables
$animation-time: 0.3s;
$sidebar-highlight: #9d6cde;
$sidebar-text-color: $color-white;
$sidebar-width: 12rem;
$sidebar-background: #354052;

//SIDEBAR

.sidebar {

	display: none;
	float: left;
	left: 0;
	min-height: calc(100vh - #{$header-height});
	min-width: $sidebar-width;
	position: fixed;
	top: $header-height;/*fallback*///left or right

	@media #{$tablet} {
		display: flex;
	}
}

.mobile-sidebar {
	bottom: 0;
	position: absolute;
	top: 0;
	width: 90%;
}

.sidebar,
.mobile-sidebar { background-color: $sidebar-background; }

.sidebar-nav,
.mobile-sidebar-nav {
	list-style-type: none;
	padding: 0;

	li {

		@extend %icon-white;
		align-items: center;
		display: flex;
		height: 2.5rem;
		padding-left: $grid-gutter;

		&:hover { background-color: $sidebar-highlight; }

		a {
			align-items: center;
			color: $sidebar-text-color;
			display: flex;
			height: 100%;
			padding-left: $space-xs;
			width: 100%;
		}
	}
}

.sidebar-nav { width: $sidebar-width; }
.mobile-sidebar-nav { width: 100%; }

.mobile-overlay {

	background-color: rgba(0, 0, 0, 0.6);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	transition: width $animation-time;
	width: 100%;
	z-index: $zindex-mobilemenu;

	* {
		opacity: 1;
		transition: opacity $animation-time;
	}

	&.is-collapsed {
		overflow: hidden;
		transition: width $animation-time;
		width: 0;

		* {
			opacity: 0;
			transition: opacity $animation-time;
		}
	}

	.mobile-profile {
		background-color: #333;
		max-height: 15rem;
		width: 100%;
	}
}

.button--mobile-sidebar {
	@extend %icon-white;
	@extend .button;
	@extend .button--transparent;
	@extend .button--icon;
	@extend .button--white;
	@media #{$tablet} { display: none !important; }
}

.mobile-profile {
	padding-top: $space-m;

	.button--mobile-sidebar {
		display: inline-block;
		margin-left: $space-m !important;
	}
}

.mobile-profile--account {
	display: block;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr auto auto;
	margin-top: 1.5rem;
	padding: $grid-gutter;

	.profile-image {
		align-items: center;
		background-color: $color-gray-3;

		border-radius: 50px;
		display: flex;

		float: left;
		height: 3rem;
		justify-content: center;
		margin-right: auto;
		width: 3rem;//fallback
	}

	.profile-name {

		clear: both;
		color: $color-white;
		font-size: 1.25rem;
		font-weight: $font-weight-semibold;
		grid-column: 1 / 3;
		padding: $space-xs 0;//fallback
	}

	.profile-email {
		color: $color-white;
		grid-column: 1 / 3;
	}

	.profile-edit {
		align-items: center;
		display: flex;

		float: right;
		height: 3rem;
		justify-content: center;

		margin-left: auto;
		width: 3rem;

		i::before { color: $color-white; }//fallback
	}
}

//fallback
@supports (display: grid) {
	.mobile-profile--account > * { width: auto; }
	.mobile-profile--account { display: grid; }
}

.map { //TODO rename this
	.sidebar {
		left: auto;
		right: 0;
	}
}
