/*
_______   _______ ___________ ________  ________ _   _ _____ ___  _
|  ___\ \ / / ___ \  ___| ___ \_   _|  \/  |  ___| \ | |_   _/ _ \| |
| |__  \ V /| |_/ / |__ | |_/ / | | | .  . | |__ |  \| | | |/ /_\ \ |
|  __| /   \|  __/|  __||    /  | | | |\/| |  __|| . ` | | ||  _  | |
| |___/ /^\ \ |   | |___| |\ \ _| |_| |  | | |___| |\  | | || | | | |____
\____/\/   \|_|   \____/\_| \_|\___/\_|  |_|____/\_| \_/ \_/\_| |_|_____/

This is an EXPERIMENT and is in no way ready to be included in production!
*/

$header-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
$sub-nav-height: calc(#{$header-height} / 2);
$sub-nav-color: $white;
$header-gradient: linear-gradient(100deg, $blue-600, $blue-800);

//New stuff for navigation in the header
.header-v2 {

  &::after {
  	content: "";
    box-shadow: $header-shadow;
  	width: 100%;
  	height: $header-height;
    background-image: $header-gradient;
  	position: fixed;
  	top: 0;
  	left: 0;
  	z-index: -1;
  }

  span:last-of-type {//title thing
    margin-right: auto;
  }

  .header-nav {
    margin-right: auto;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        margin-right: auto;

        margin: 0 1rem;
        height: 2.5rem;
        max-width: 5rem;
        align-items: center;

        a {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          color: $gray-100;
          font-weight: 400;
          font-size: 1.1rem;

          border-bottom: 2px solid transparent;
          &:hover  { border-bottom: 3px solid $gray-100; }
          &.active { border-bottom: 3px solid $gray-100; }
        }
      }
    }
  }
}

.sub-nav {
  height: $sub-nav-height;

  ~.app {
    margin-top: calc(#{$header-height} + #{$sub-nav-height});
  }

  position: fixed;
  top: $header-height;

  max-width: $content-width;
  margin: auto;

  overflow: hidden;
  display: flex;
  align-items: center;
  position: fixed;
  grid-column: 1 / -1;
  left: 0;
  right: 0;
  clear: both;/*fallback*/

  z-index: 0;

  &::after {
  	content: "";
    box-shadow: $header-shadow;
  	width: 100%;
  	height: calc(#{$header-height} / 2);
    background-color: $sub-nav-color;
    // background-image: $header-gradient;
  	position: fixed;
  	top: $header-height;
  	left: 0;
  	z-index: -1;
  }

  ul, li, a {
    height: 100%;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin-right: auto;

      margin: 0 1rem;
      max-width: 5rem;
      align-items: center;

      a {
        width: 100%;
        display: flex;
        align-items: center;
        color: $gray-900;
        font-weight: 400;
        font-size: 1rem;

        border-bottom: 2px solid transparent;
        &:hover  { border-bottom: 3px solid $gray-900; }
        &.active { border-bottom: 3px solid $gray-900; }
      }
    }
  }
}
