/*
_______   _______ ___________ ________  ________ _   _ _____ ___  _
|  ___\ \ / / ___ \  ___| ___ \_   _|  \/  |  ___| \ | |_   _/ _ \| |
| |__  \ V /| |_/ / |__ | |_/ / | | | .  . | |__ |  \| | | |/ /_\ \ |
|  __| /   \|  __/|  __||    /  | | | |\/| |  __|| . ` | | ||  _  | |
| |___/ /^\ \ |   | |___| |\ \ _| |_| |  | | |___| |\  | | || | | | |____
\____/\/   \|_|   \____/\_| \_|\___/\_|  |_|____/\_| \_/ \_/\_| |_|_____/

This is an EXPERIMENT and is in no way ready to be included in production!
*/

$space-xxs: 0.25rem;
$space-xs:  0.5rem;
$space-s:   0.75rem;
$space-m:   1rem;
$space-l:   1.5rem;
$space-xl:  2rem;
$space-xxl: 3rem;

//SPACING UTILITY
$spaceamounts: (
  "space-xxs":  #{$space-xxs},
  "space-xs":   #{$space-xs},
  "space-s":    #{$space-s},
  "space-m":    #{$space-m},
  "space-l":    #{$space-l},
  "space-xl":   #{$space-xl},
  "space-xxl":  #{$space-xxl},
);

$sides: (
  "":     "all",
  "t":    "top",
  "b":    "bottom",
  "l":    "left",
  "r":    "right",
  "auto": "auto",
);

@each $space, $space-variable in $spaceamounts {
  $space-var: if($space == '', '', #{$space-variable});

  @each $prefix, $value in $sides {
    $property: if($prefix == '', '', -#{$value});
    .m#{$prefix}-#{$space} { //.mb-space-xs
      margin#{$property}: #{$space-var} !important; //margin-bottom: space-xs;
    }

    .p#{$prefix}-#{$space} { //.p-space-m
      padding#{$property}: #{$space-var} !important; //padding: space-m;
    }
  }
}

//input spacing
fieldset #{$inputs} {
  margin-bottom: $space-m;
}
