.toast-container {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  animation-name: fadeInOut;
  animation-duration: 1s;
  @media #{$tablet} {
    bottom: 2rem;
    right: 2rem;
    left: auto;
  }
}

.toast-message {
  position: relative;
  background-color: $white;
  width: 100%;
  padding: $space-s calc( #{$space-xl} + #{$space-xs});
  border-radius: 0;
  border-top: 1px solid $blue;
  @extend %card-shadow--hover;
  @include transition(opacity 0.5s ease-out);
  p { margin: 0; }
  @media #{$tablet} {
    width: 300px;
    border-radius: 5px;
    padding: $space-m calc( #{$space-xl} + #{$space-xs});
    border: 1px solid $blue;
  }

  .toast-message--close {
    position: absolute;
    right: $space-xs;
    top: $space-xs;
    opacity: 0;
    @include transition(all 0.3s ease-out);

    @extend .button--transparent;
    @extend .button--gray;
    @extend .button--icon;
    @extend .button--icon--small;
  }

  .toast-message--icon {
    position: absolute;
    left: $space-m;
    top: $space-s;
    @extend .dashing-icon;
    @extend .dashing-icon--info-stroke;
    @extend .dashing-icon--blue;
    @media #{$tablet} { top: $space-m;}
  }

  &.success {
    border-color: $green;
    .toast-message--icon {
      @extend .dashing-icon--green;
      @extend .dashing-icon--checkmark-filled;
    }
  }
  &.warning {
    border-color: $orange;
    .toast-message--icon {
      @extend .dashing-icon--orange;
      @extend .dashing-icon--info-filled;
    }
  }
  &.error {
    border-color: $red;
    .toast-message--icon {
      @extend .dashing-icon--red;
      @extend .dashing-icon--alert-filled;
    }
  }
  &:hover {
    .toast-message--close {
      opacity: 1;
    }
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
