@import '../base/base';
@import '../modules/typography/typography';
@import '../modules/actions/actions';
@import '../modules/icons/icons';

$toast-width: 300px;

.toast-container {
	align-items: center;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	width: 100%;
	z-index: 3;
	@media #{$tablet} {
		bottom: 1rem;
		left: auto; //Positions to bottom right of screen
	}
}

.toast-message {
	@extend %card-shadow--hover;
	background-color: $color-purple;
	border-radius: 5px;
	bottom: -130px; //hide by default (for demo)
	margin: $space-m $space-xl 0 $space-m;
	padding: $space-s $space-m $space-s calc(#{$space-xl} + #{$space-xs});

	position: relative;
	width: $toast-width;
	* { color: $color-white; }

	p {
		font-weight: $font-weight-semibold;
		margin: 0;
	}

	.toast-message--close {

		@extend .button--transparent;
		@extend .button--gray;
		@extend .button--icon;
		@include transition(opacity 0.3s ease-out);
		opacity: 1;
		position: absolute;
		right: $space-xs;
		top: $space-xs;

		@media #{$desktop} {
			opacity: 0;
		}
	}

	.toast-message--icon {
		@extend .dashing-icon;
		@extend .dashing-icon--info-stroke;
		@extend .dashing-icon--white;
		left: $space-m;
		position: absolute;
		top: $space-m;
		@media #{$tablet} { top: $space-m;}
	}

	&.success {
		background-color: $color-green;

		.toast-message--icon {
			@extend .dashing-icon--checkmark-filled;
		}
	}

	&.warning {
		background-color: $color-orange;
		* { color: $color-black; }

		.toast-message--icon {
			@extend .dashing-icon--black;
			@extend .dashing-icon--info-filled;
		}
	}

	&.error {
		background-color: $color-red;

		.toast-message--icon {
			@extend .dashing-icon--alert-filled;
		}
	}

	&:hover {
		.toast-message--close {
			opacity: 1;
		}
	}

	&.animate {
		animation-duration: 4s;
		animation-name: slideInUpThenOut;
		animation-timing-function: ease-in-out;
	}

	&.has-close-button {
		padding: $space-s calc(#{$space-xl} + #{$space-xs});
	}
}

@keyframes slideInLeftThenOut {
	0% {
		right: calc(-#{$toast-width} - 2.5rem);
	}

	10% {
		right: 0;
	}

	90% {
		right: 0;
	}

	100% {
		right: calc(-#{$toast-width} - 2.5rem);
	}
}
@keyframes slideInUpThenOut {
	0% {
		bottom: calc(-130px);
	}

	10% {
		bottom: 1rem;
	}

	90% {
		bottom: 1rem;
	}

	100% {
		bottom: calc(-130px);
	}
}
