/*
_______   _______ ___________ ________  ________ _   _ _____ ___  _
|  ___\ \ / / ___ \  ___| ___ \_   _|  \/  |  ___| \ | |_   _/ _ \| |
| |__  \ V /| |_/ / |__ | |_/ / | | | .  . | |__ |  \| | | |/ /_\ \ |
|  __| /   \|  __/|  __||    /  | | | |\/| |  __|| . ` | | ||  _  | |
| |___/ /^\ \ |   | |___| |\ \ _| |_| |  | | |___| |\  | | || | | | |____
\____/\/   \|_|   \____/\_| \_|\___/\_|  |_|____/\_| \_/ \_/\_| |_|_____/

This is an EXPERIMENT and is not ready to be included in production!
*/

$content-s:     350px;
$content-m:     600px;
$content-l:     1200px;
$content-full:  auto;

$widths: (
  "-s":     #{$content-s},
  "-m":     #{$content-m},
  "-l":     #{$content-l},
  "-full":  "auto",
);

@each $width, $width-var in $widths {
  $max-width: if($width == '', '', #{$width-var});
  .content#{$width} { //.content-s
    max-width: #{$max-width}; //max-width: 350px;
  }
}
