/*
_______   _______ ___________ ________  ________ _   _ _____ ___  _
|  ___\ \ / / ___ \  ___| ___ \_   _|  \/  |  ___| \ | |_   _/ _ \| |
| |__  \ V /| |_/ / |__ | |_/ / | | | .  . | |__ |  \| | | |/ /_\ \ |
|  __| /   \|  __/|  __||    /  | | | |\/| |  __|| . ` | | ||  _  | |
| |___/ /^\ \ |   | |___| |\ \ _| |_| |  | | |___| |\  | | || | | | |____
\____/\/   \|_|   \____/\_| \_|\___/\_|  |_|____/\_| \_/ \_/\_| |_|_____/

This is an EXPERIMENT and is not ready to be included in production!
*/

.button--tooltip { //gives tooltips focus and allows for one-class implementation
  @extend .dashing-icon;
  @extend .dashing-icon--question-filled;
  cursor: help;
}

.button--close { //gives tooltips focus and allows for one-class implementation
  @extend .dashing-icon;
  @extend .dashing-icon--close;
}
