//LETS KILL THE AUTO SPACING MUAHAHAHAHAHA
p {
  margin: 0;
  line-height: $space-l !important;
}

.grid .card {
  padding: $space-m;
}

p {
  margin-bottom: $space-xs;
}

h1, h2, h3 {
  margin-bottom: $space-xxs;
}

button {
  margin: $space-xs 0;
}

.grid .card {
  margin-bottom: $space-m;
}
