/*
_______   _______ ___________ ________  ________ _   _ _____ ___  _
|  ___\ \ / / ___ \  ___| ___ \_   _|  \/  |  ___| \ | |_   _/ _ \| |
| |__  \ V /| |_/ / |__ | |_/ / | | | .  . | |__ |  \| | | |/ /_\ \ |
|  __| /   \|  __/|  __||    /  | | | |\/| |  __|| . ` | | ||  _  | |
| |___/ /^\ \ |   | |___| |\ \ _| |_| |  | | |___| |\  | | || | | | |____
\____/\/   \|_|   \____/\_| \_|\___/\_|  |_|____/\_| \_/ \_/\_| |_|_____/

This is an EXPERIMENT and is not ready to be included in production!
*/

h1, h2, h3, h4 { margin-bottom: $space-xxs; }

.card-header {
  h1, h2, h3, h4 { margin-bottom: 0; }
}

.grid .card {
  margin-bottom: $space-m;
}

.loading {
  position: relative;
  background-color: $gray-100;
  border-radius: 3px;

  &::after {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    animation: loading 1.5s infinite;
  }
}

@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}

.card-header .loading {
  height: 1.563rem; //h2 height
  width: 150px;
}

.card-content .loading {
  height: 1.5rem;
}
