@import '../vendor/vendor';
@import '../base/base';
@import '../modules/modules';

@import 'experimental';

@font-face {
  font-family: 'dashing-icons';
  src: url('https://assets.smchcn.net/dashing-icons.woff') format('woff');
}
