//BRAND THEME
$color--classic: #9669aa;
$color--basic: #faa445;

//NEEDS THEME
$color--discounts: #6a8dd3; //discounts
$color--sharable: #47cb86; //sharable,
$color--co-share: #268654; //co-share
$color--threshold: #47cb86; //over limit, under threshold
$color--spn: #8f669c; //spn
$color--missing-info: #f7ad4b; //missing info, problem
$color--not-sharable: #f76553; //not sharable
$color--pending: #a1a1a1; //pending review

//MARKETING THEME
$samaritan-purple: #af93c5;
$guidelines-purple_alt: #622e68;
$guidelines-purple: #54377c;
$paper: #fff;
$barbi-world-pink: #ef557b;
$receiver-orange: #f68b20;
$executive-blue: #434e5b;
$medical-blue: #6bc9d1;
$sharing-blue: #71b9e0;
$medical-green: #2eb9ab;

//UI THEME
$ui-gray: #d4d4d4;
$ui-grey: #d4d4d4;

$brand-1: #66416b;
$brand-2: #ce6b61;
$brand-3: #628a8f;
$brand-4: #e19847;

$brand-purple: #72569b;
$brand-blue: #28336d;
$brand-red: #e96a63;
$brand-yellow: #f5cd66;
$brand-gray: #f1f2f2;

$neutral100: #24292c;
$neutral90: #434f5b;
$neutral80: #6c747d;
$neutral70: #8c9196;
$neutral60: #9ca3aa;
$neutral50: #b6bbc2;
$neutral40: #c4c8cd;
$neutral30: #dde1e3;
$neutral20: #ededed;
$neutral10: #f2f2f2;

$blue50: #365273;
$blue40: #276eb2;
$blue30: #3889d6;
$blue20: #7da3e3;
$blue10: #9fccef;

$green50: #00685e;
$green40: #027f40;
$green30: #0ec129;
$green20: #3bb774;
$green10: #78c696;

//large color card
.card-color--large {
	border: 0;
	display: flex;
	height: 10rem;
	line-height: 1.75rem;
	margin: 0;
	overflow: hidden;
	padding: 0;

	.color-left,
	.color-center,
	.color-right {
		border: 2px solid;
		float: left;
		height: 100%;
		padding: 0.5rem;
	}

	.color-left,
	.color-center {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}

	.color-left {
		background-color: $neutral30;
		border-color: $neutral30;
		padding: 0.3rem 0.5rem;
	}

	.color-right {
		border-radius: 0 10px 10px 0;
		flex: 2;
		overflow: hidden;
	}
}

//small color card
.card-color--small {
	border-bottom: 2px solid var(--color-border);
	display: flex;
	line-height: 1.7rem;
	padding: 0.2rem 0 0.2rem 0.5rem;
	position: relative;
	&:last-of-type { border-bottom: 0; }

	label { margin-top: 0 !important; }

	button {
		opacity: 0;
		transition: all 0.3s;
		width: 0;
	}

	.color-swatch {
		// border-radius: 5px;
		// height: 2.8rem;
		// overflow: hidden;
		// position: relative;
		// min-width: 4rem;
		// width: 4rem;
		// float: left;

		border-radius: 0;
		float: left;
		height: 3.25rem;
		margin: -0.2rem 0 -0.2rem -0.5rem;
		min-width: 4rem;
		overflow: hidden;
		position: relative;
		width: 4rem;

		&:hover {
			cursor: pointer;
			min-width: 6rem;
			transition: all 0.3s;
			width: 20%;

			~.color-text,
			.color-text label,
			.color-text span { transition: all 0.3s; }

			button { display: block;
				opacity: 1; }
		}
	}

	.color-detail {
		float: left;
		margin-left: 1rem;
	}
}

.card-color--large {
	button { display: none; }
}

.card-color--large:hover {
	cursor: pointer;

	.color-center,
	.color-right,
	label,
	span { transition: all 0.3s; }

	.color-center { flex: 2; }

	.color-right { border-left: 0;
		flex: 0;
		margin-left: -2rem;}

	label,
	span {
		opacity: 0;
		transform: translateX(8rem);
	}
	button { display: block; }
}


@mixin color-guide($color, $hex, $sass) {
	.color-center { background-color: $color;
		border-color: $color; }
	.color-right { border-color: $color; }
	.color-swatch { background-color: $color; }

	&:not(.card-color--small):hover {
		label,
		.aa,
		.aaa,
		span { display: none; }
		.button--copy::before { content: $hex;}
	}
	span.hex-code::after { content: $hex; }
	span.sass-variable::after { content: $sass; }
}

.color--classic { @include color-guide($color--classic, '#9669AA', '$color--classic'); }
.color--basic { @include color-guide($color--basic, '#FAA445', '$color--basic'); }

//NEEDS THEME
.color--discounts { @include color-guide($color--discounts, '#5678BC', '$color--discounts'); }
.color--sharable { @include color-guide($color--sharable, '#47CB86', '$color--sharable'); .button--copy { color: $color-black !important;}}
.color--co-share { @include color-guide($color--co-share, '#268654', '$color--co-share'); }
.color--threshold { @include color-guide($color--threshold, '#47CB86', '$color--threshold'); .button--copy { color: $color-black !important;}}
.color--spn { @include color-guide($color--spn, '#8F669C', '$color--spn'); }
.color--missing-info { @include color-guide($color--missing-info, '#F7AD4B', '$color--missing-info'); .button--copy { color: $color-black !important;}}
.color--not-sharable { @include color-guide($color--not-sharable, '#F76553', '$color--not-sharable'); }
.color--pending { @include color-guide($color--pending, '#A1A1A1', '$color--pending'); .button--copy { color: $color-black !important;}}

//UI THEME
// .color--ui-blue     { @include color-guide(var(--color-accent), "#3F70C9", "$blue"); }
// .color--ui-green    { @include color-guide($color-green, "#09AA66", "$green");}
// .color--ui-orange   { @include color-guide($color-orange, "#FFA11F", "$orange");}
// .color--ui-red      { @include color-guide($color-red, "#DA3D30", "$red");}
// .color--ui-purple   { @include color-guide($color-purple, "#9F65AE", "$purple");}
// .color--ui-gray     { @include color-guide($color-gray, "#D4D4D4", "$gray");}


//SYSTEM THEME
//GRAY
.card--header--color.color--gray-500 { background-color: $gray-500; }
.color--gray-50 { @include color-guide($gray-50, '#F2F2F2', '$gray-50'); .button--copy { color: $black !important;} }
.color--gray-100 { @include color-guide($gray-100, '#EDEDED', '$gray-100'); .button--copy { color: $black !important;} }
.color--gray-150 { @include color-guide($gray-150, '#E0E0E0', '$gray-150'); .button--copy { color: $black !important;} }
.color--gray-200 { @include color-guide($gray-200, '#D4D4D4', '$gray-200'); .button--copy { color: $black !important;} }
.color--gray-250 { @include color-guide($gray-250, '#C7C7C7', '$gray-250'); .button--copy { color: $black !important;} }
.color--gray-300 { @include color-guide($gray-300, '#BABABA', '$gray-300'); .button--copy { color: $black !important;} }
.color--gray-400 { @include color-guide($gray-400, '#A1A1A1', '$gray-400'); }
.color--gray-500 { @include color-guide($gray-500, '#878787', '$gray-500'); }
.color--gray-600 { @include color-guide($gray-600, '#6E6E6E', '$gray-600'); }
.color--gray-700 { @include color-guide($gray-700, '#555555', '$gray-700'); }
.color--gray-800 { @include color-guide($gray-800, '#3B3B3B', '$gray-800'); }
.color--gray-900 { @include color-guide($gray-900, '#222222', '$gray-900'); }

//COOL GRAY
.card--header--color.color--gray-500c { background-color: $gray-500c; }
.color--gray-50c { @include color-guide($gray-50c, '#F5F6F7', '$gray-50c'); .button--copy { color: $black !important;} }
.color--gray-100c { @include color-guide($gray-100c, '#EDF1F2', '$gray-100c'); .button--copy { color: $black !important;} }
.color--gray-150c { @include color-guide($gray-150c, '#DDE2E6', '$gray-150c'); .button--copy { color: $black !important;} }
.color--gray-200c { @include color-guide($gray-200c, '#D2D5D9', '$gray-200c'); .button--copy { color: $black !important;} }
.color--gray-250c { @include color-guide($gray-250c, '#C4C8CD', '$gray-250c'); .button--copy { color: $black !important;} }
.color--gray-300c { @include color-guide($gray-300c, '#B6BBC2', '$gray-300c'); .button--copy { color: $black !important;} }
.color--gray-400c { @include color-guide($gray-400c, '#9CA3AA', '$gray-400c'); }
.color--gray-500c { @include color-guide($gray-500c, '#828B94', '$gray-500c'); }
.color--gray-600c { @include color-guide($gray-600c, '#6C747D', '$gray-600c'); }
.color--gray-700c { @include color-guide($gray-700c, '#575D64', '$gray-700c'); }
.color--gray-800c { @include color-guide($gray-800c, '#41464B', '$gray-800c'); }
.color--gray-900c { @include color-guide($gray-900c, '#24292C', '$gray-900c'); }

//BLUE
.card--header--color.color--blue { background-color: $blue-600; }
.color--blue-50 { @include color-guide($blue-50, '#E9FFFF', '$blue-50'); .button--copy { color: $black !important;} }
.color--blue-100 { @include color-guide($blue-100, '#D0F3FF', '$blue-100'); .button--copy { color: $black !important;} }
.color--blue-200 { @include color-guide($blue-200, '#B7DAFF', '$blue-200'); .button--copy { color: $black !important;} }
.color--blue-300 { @include color-guide($blue-300, '#9DC0FF', '$blue-300'); .button--copy { color: $black !important;} }
.color--blue-400 { @include color-guide($blue-400, '#84A7ED', '$blue-400'); .button--copy { color: $black !important;} }
.color--blue-500 { @include color-guide($blue-500, '#6A8DD3', '$blue-500'); }
.color--blue-600 { @include color-guide($blue-600, '#5174BA', '$blue-600'); }
.color--blue-700 { @include color-guide($blue-700, '#375AA0', '$blue-700'); }
.color--blue-800 { @include color-guide($blue-800, '#1E4187', '$blue-800'); }
.color--blue-900 { @include color-guide($blue-900, '#04276D', '$blue-900'); }

//GREEN
.card--header--color.color--green { background-color: $green-500; }
.color--green-50 { @include color-guide($green-50, '#ACFFEB', '$green-50'); .button--copy { color: $black !important;} }
.color--green-100 { @include color-guide($green-100, '#93FFD2', '$green-100'); .button--copy { color: $black !important;} }
.color--green-200 { @include color-guide($green-200, '#7AFEB9', '$green-200'); .button--copy { color: $black !important;} }
.color--green-300 { @include color-guide($green-300, '#60E49F', '$green-300'); .button--copy { color: $black !important;} }
.color--green-400 { @include color-guide($green-400, '#47CB86', '$green-400'); .button--copy { color: $black !important;} }
.color--green-500 { @include color-guide($green-500, '#2DB16C', '$green-500'); }
.color--green-600 { @include color-guide($green-600, '#149853', '$green-600'); }
.color--green-700 { @include color-guide($green-700, '#007E39', '$green-700'); }
.color--green-800 { @include color-guide($green-800, '#006520', '$green-800'); }
.color--green-900 { @include color-guide($green-900, '#004B06', '$green-900'); }

//ORANGE
.card--header--color.color--orange { background-color: $orange-500; }
.color--orange-50 { @include color-guide($orange-50, '#FFFFB0', '$orange-50'); .button--copy { color: $black !important;} }
.color--orange-100 { @include color-guide($orange-100, '#FFF997', '$orange-100'); .button--copy { color: $black !important;} }
.color--orange-200 { @include color-guide($orange-200, '#FFE07E', '$orange-200'); .button--copy { color: $black !important;} }
.color--orange-300 { @include color-guide($orange-300, '#FFC664', '$orange-300'); .button--copy { color: $black !important;} }
.color--orange-400 { @include color-guide($orange-400, '#F7AD4B', '$orange-400'); .button--copy { color: $black !important;} }
.color--orange-500 { @include color-guide($orange-500, '#DD9331', '$orange-500'); .button--copy { color: $black !important;} }
.color--orange-600 { @include color-guide($orange-600, '#C47A18', '$orange-600'); }
.color--orange-700 { @include color-guide($orange-700, '#AA6000', '$orange-700'); }
.color--orange-800 { @include color-guide($orange-800, '#914700', '$orange-800'); }
.color--orange-900 { @include color-guide($orange-900, '#772D00', '$orange-900'); }

//RED
.card--header--color.color--red { background-color: $red-500; }
.color--red-50 { @include color-guide($red-50, '#FFCAB8', '$red-50'); .button--copy { color: $black !important;} }
.color--red-100 { @include color-guide($red-100, '#FFB19F', '$red-100'); .button--copy { color: $black !important;} }
.color--red-200 { @include color-guide($red-200, '#FF9886', '$red-200'); .button--copy { color: $black !important;} }
.color--red-300 { @include color-guide($red-300, '#FF7E6C', '$red-300'); .button--copy { color: $black !important;} }
.color--red-400 { @include color-guide($red-400, '#F76553', '$red-400'); .button--copy { color: $black !important;} }
.color--red-500 { @include color-guide($red-500, '#DD4B39', '$red-500'); }
.color--red-600 { @include color-guide($red-600, '#C43220', '$red-600'); }
.color--red-700 { @include color-guide($red-700, '#AA1806', '$red-700'); }
.color--red-800 { @include color-guide($red-800, '#910000', '$red-800'); }
.color--red-900 { @include color-guide($red-900, '#770000', '$red-900'); }

//PURPLE
.card--header--color.color--purple { background-color: $purple-500; }
.color--purple-50 { @include color-guide($purple-50, '#F4CBFF', '$purple-50'); .button--copy { color: $black !important;} }
.color--purple-100 { @include color-guide($purple-100, '#DBB2E8', '$purple-100'); .button--copy { color: $black !important;} }
.color--purple-200 { @include color-guide($purple-200, '#C299CF', '$purple-200'); .button--copy { color: $black !important;} }
.color--purple-300 { @include color-guide($purple-300, '#A87FB5', '$purple-300'); .button--copy { color: $black !important;} }
.color--purple-400 { @include color-guide($purple-400, '#8F669C', '$purple-400'); }
.color--purple-500 { @include color-guide($purple-500, '#754C82', '$purple-500'); }
.color--purple-600 { @include color-guide($purple-600, '#5C3369', '$purple-600'); }
.color--purple-700 { @include color-guide($purple-700, '#42194F', '$purple-700'); }
.color--purple-800 { @include color-guide($purple-800, '#290036', '$purple-800'); }
.color--purple-900 { @include color-guide($purple-900, '#0F001C', '$purple-900'); }

.card--header--color {
	color: $color-white;
	font-size: $font-size-medium;
	font-weight: $font-weight-semibold;
	padding: 0.5rem 0.7rem !important;
}

.grade-container {
	label,
	h2 {
		margin: 0;
		text-align: center;
	}
}

.card--pass {
	background-color: $ui-green;
	border-color: $ui-green;
	color: $color-white;

	label,
	h2 { color: $color-white; }
}

.color-input { position: relative; }

.text-color--container,
.background-color--container {
	border-radius: 3px;
	bottom: 1.5rem;
	display: inline-block;
	height: 1.65rem;
	position: absolute;
	right: 1.5rem;
	width: 2.5rem;
}

.button--copy {
	bottom: 0;
	left: 2rem;
	margin: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: calc(100% - 2rem);
	&:hover { opacity: 1 !important; }
	&:active { opacity: 0.6 !important; }

	&::before {
		content: '';
		display: block;
		font-size: 2rem;
		margin: auto;
		margin-bottom: 0.5rem;
	}
}

.card-color--small .button--copy {
	left: 0;
	margin: auto;
	min-width: 6rem;
	top: -5px;
	width: 100%;

	&::before {
		content: '';
		display: inline;
	}
}

.color--ui-white,
.color--brand-gray,
.color--brand-light-gray,
.color--ui-orange,
.color--ui-gray,
.color--basic {
	.button--copy {
		color: $black !important;
	}
}

//Color Guide Cards
.color-white { color: $color-white; }
.color-black { color: #24292c; }

.aa::after {
	content: 'AA';
	font-size: 18px;
}

.aaa::after {
	content: 'AAA';
	font-size: 16px;
	font-weight: $font-weight-semibold;
}

.color-right,
.card-color--small {
	label,
	span { display: block; }

	label { color: $color-black;
		font-size: 0.8rem;
		font-weight: $font-weight-semibold;
		margin-bottom: -0.5rem;}
	span { font-size: 0.9rem; }
}


/*
////////////////////////////////
Code tab color sass
////////////////////////////////
*/

.example-flex {
	overflow: auto;

	.column-flex {
		color: $color-white;
		font-weight: $font-weight-semibold;
		line-height: 0;
		margin: 0;
		padding: 3rem 0;
		text-align: center;

		&.half-height {
			@media all and (min-width: 840px) {
				padding: 1.5rem 0;
			}
		}

		input {
			background-color: transparent;
			border: 0;
			margin: -1rem;
			outline: none;
			text-align: center;
			text-transform: uppercase;
			width: 100%;
		}
	}

	.row-flex.row-column {
		flex-direction: column;
		float: left;
		width: 100%;

		@media all and (min-width: 840px) {
			width: 12.5%;
		}
	}

	.column-flex:hover {
		box-shadow: inset 0 0 0 4px #000;
		text-transform: uppercase;
	}

	.default {
		margin: 0 0 2rem !important;
		@media all and (min-width: 840px) {
			margin: 0 0 1rem !important;
		}
	}
}

.color-group {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
}

.color-square,
.color-rectangle {
	align-items: center;
	border-radius: 5px;
	display: flex;
	font-weight: $font-weight-semibold;
	height: 75px;
	justify-content: center;
	margin-bottom: $space-xs;
	margin-right: $space-xs;
	width: 125px;

	&.color-gradient { width: calc((125px * 2) + #{$space-xs}); }

	input {
		background-color: transparent;
		border: 0;
		margin: -1rem;
		outline: none;
		text-align: center;
		text-transform: uppercase;
		width: 100%;
	}

	&.color-purple { background-color: $color-purple;
		color: $color-white; }

	&.color-blue { background-color: var(--color-accent);
		color: $color-white; }

	&.color-green { background-color: $color-green;
		color: $color-white; }

	&.color-orange { background-color: $color-orange;
		color: $color-white; }

	&.color-red { background-color: $color-red;
		color: $color-white; }

	&.color-black { background-color: $color-black;
		color: $color-white; }

	&.color-gray-4 { background-color: $color-gray-4;
		color: $color-white; }

	&.color-gray-3 { background-color: $color-gray-3;
		color: $color-black; }

	&.color-gray-2 { background-color: $color-gray-2;
		color: $color-black; }

	&.color-gray-1 { background-color: $color-gray-1;
		color: $color-black; }

	&.color-white { background-color: $color-white;
		border: 2px solid $color-gray-2;
		color: $color-black; }

	&.color-data-teal { background-color: $color-data-teal;
		color: $color-white; }

	&.color-data-purple { background-color: $color-data-purple;
		color: $color-white; }

	&.color-gradient { background-image: $color-gradient;
		color: $color-white; }
}

// .example-flex .column-flex {
//   &.gray-50  { background-color: $gray-50;  color: $gray-900; }
//   &.gray-100 { background-color: $gray-100; color: $gray-900; }
//   &.gray-150 { background-color: $color-gray-3; color: $gray-900; }
//   &.gray-200 { background-color: $color-gray-3; color: $gray-900; }
//   &.gray-250 { background-color: $color-gray-3; color: $gray-900; }
//   &.gray-300 { background-color: $gray-300; color: $gray-900; }
//   &.gray-400 { background-color: $gray-400; }
//   &.gray-500 { background-color: $gray-500; }
//   &.gray-600 { background-color: $gray-600; }
//   &.gray-700 { background-color: $gray-700; }
//   &.gray-800 { background-color: $gray-800; }
//   &.gray-900 { background-color: $gray-900; }
//   &.gray     { background-color: $gray;     }
//
//   &.gray-50c  { background-color: $gray-50c;  color: $gray-900c; }
//   &.gray-100c { background-color: $gray-100c; color: $gray-900c; }
//   &.gray-150c { background-color: $gray-150c; color: $gray-900c; }
//   &.gray-200c { background-color: $gray-200c; color: $gray-900c; }
//   &.gray-250c { background-color: $gray-250c; color: $gray-900c; }
//   &.gray-300c { background-color: $gray-300c; color: $gray-900c; }
//   &.gray-400c { background-color: $gray-400c; }
//   &.gray-500c { background-color: $gray-500c; }
//   &.gray-600c { background-color: $gray-600c; }
//   &.gray-700c { background-color: $gray-700c; }
//   &.gray-800c { background-color: $gray-800c; }
//   &.gray-900c { background-color: $gray-900c; }
//   &.gray-cool { background-color: $gray-cool; }
//
//   &.blue-50  { background-color: $blue-50;  color: $blue-900; }
//   &.blue-100 { background-color: $blue-100; color: $blue-900; }
//   &.blue-200 { background-color: $blue-200; color: $blue-900; }
//   &.blue-300 { background-color: $blue-300; color: $blue-900; }
//   &.blue-400 { background-color: $blue-400; }
//   &.blue-500 { background-color: $blue-500; }
//   &.blue-600 { background-color: $blue-600; }
//   &.blue-700 { background-color: $blue-700; }
//   &.blue-800 { background-color: $blue-800; }
//   &.blue-900 { background-color: $blue-900; }
//   &.blue     { background-color: $blue;     }
//
//   &.red-50  { background-color: $red-50;  color: $red-900; }
//   &.red-100 { background-color: $red-100; color: $red-900; }
//   &.red-200 { background-color: $red-200; color: $red-900; }
//   &.red-300 { background-color: $red-300; color: $red-900; }
//   &.red-400 { background-color: $red-400; }
//   &.red-500 { background-color: $red-500; }
//   &.red-600 { background-color: $red-600; }
//   &.red-700 { background-color: $red-700; }
//   &.red-800 { background-color: $red-800; }
//   &.red-900 { background-color: $red-900; }
//   &.red     { background-color: $red;     }
//
//   &.orange-50  { background-color: $orange-50;  color: $orange-900; }
//   &.orange-100 { background-color: $orange-100; color: $orange-900; }
//   &.orange-200 { background-color: $orange-200; color: $orange-900; }
//   &.orange-300 { background-color: $orange-300; color: $orange-900; }
//   &.orange-400 { background-color: $orange-400; }
//   &.orange-500 { background-color: $orange-500; }
//   &.orange-600 { background-color: $orange-600; }
//   &.orange-700 { background-color: $orange-700; }
//   &.orange-800 { background-color: $orange-800; }
//   &.orange-900 { background-color: $orange-900; }
//   &.orange     { background-color: $orange;     }
//
//   &.green-50  { background-color: $green-50;  color: $green-900; }
//   &.green-100 { background-color: $green-100; color: $green-900; }
//   &.green-200 { background-color: $green-200; color: $green-900; }
//   &.green-300 { background-color: $green-300; color: $green-900; }
//   &.green-400 { background-color: $green-400; }
//   &.green-500 { background-color: $green-500; }
//   &.green-600 { background-color: $green-600; }
//   &.green-700 { background-color: $green-700; }
//   &.green-800 { background-color: $green-800; }
//   &.green-900 { background-color: $green-900; }
//   &.green     { background-color: $green;     }
//
//   &.purple-50  { background-color: $purple-50;  color: $purple-900; }
//   &.purple-100 { background-color: $purple-100; color: $purple-900; }
//   &.purple-200 { background-color: $purple-200; color: $purple-900; }
//   &.purple-300 { background-color: $purple-300; color: $purple-900; }
//   &.purple-400 { background-color: $purple-400; }
//   &.purple-500 { background-color: $purple-500; }
//   &.purple-600 { background-color: $purple-600; }
//   &.purple-700 { background-color: $purple-700; }
//   &.purple-800 { background-color: $purple-800; }
//   &.purple-900 { background-color: $purple-900; }
//   &.purple     { background-color: $purple;     }
//
//   &.yellow-50  { background-color: $yellow-50;  color: $yellow-900; }
//   &.yellow-100 { background-color: $yellow-100; color: $yellow-900; }
//   &.yellow-200 { background-color: $yellow-200; color: $yellow-900; }
//   &.yellow-300 { background-color: $yellow-300; color: $yellow-900; }
//   &.yellow-400 { background-color: $yellow-400; color: $yellow-900; }
//   &.yellow-500 { background-color: $yellow-500; }
//   &.yellow-600 { background-color: $yellow-600; }
//   &.yellow-700 { background-color: $yellow-700; }
//   &.yellow-800 { background-color: $yellow-800; }
//   &.yellow-900 { background-color: $yellow-900; }
//   &.yellow     { background-color: $yellow;     }
// }
