/* http://prismjs.com/download.html?themes=prism&languages=markup+css+scss&plugins=previewer-base+previewer-color */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

:root {
	--color-example-container-background: #fff;
}

body.dark-mode {
	--color-example-container-background: rgb(46, 45, 56, 0.5);
}


$white: #fff;
$gray-50: #f2f2f2;
$gray-100: #ededed;
$gray-150: #e0e0e0;
$gray-900: #222;
$gray-300c: #b6bbc2;
$gray-700c: #575d64;
$gray-800: #3b3b3b;
$gray-900c: #24292c;
$yellow-500: #f2e670;
$orange-200: #ffe07e;
$code-toggle: #313538;

$tablet: 'all and (min-width: 40em)' !default;

.example-body {
	background-color: var(--color-example-container-background);
	font-size: 18px;
	margin: auto;
}

.example-container {
	background-color: var(--color-example-container-background);
	border: 2px solid var(--color-border);
	border-bottom: 0;
	border-radius: 8px 8px 0 0;

	.grid & {
		background-color: var(--color-example-container-background);
		border-color: transparent !important;
		border-radius: 8px; //temp
		padding: $space-l;
	}
}

.example-text {
	background-color: var(--color-background);
	border-radius: 5px;
	color: var(--color-text);
	font-size: 0.9rem;
	padding: 0.1rem 0.3rem;
}

.example-header {
	display: inline-block;
	margin: 2rem auto 1rem;

	& + p:first-of-type {
		margin-top: 0;
	}
}

.example-tip {
	background-color: var(--color-background);
	border: 2px solid var(--color-border);
	border-radius: 5px;
	margin-bottom: 1rem;
	padding: 0.5rem;

	p {
		line-height: 1.5rem;
		margin: 0;
	}
}

.page-header {
	// background-color: $color-gray-3;
	background-color: #393e41;
	line-height: 1.7rem;
	margin-bottom: 1rem;
	padding: 2rem 1rem;
	text-align: center;

	h1 {
		color: var(--color-white);
		font-weight: $font-weight-semibold;
		margin: 0;
	}

	.button {
		position: relative;
		top: -2.1rem;
	}
}

code[class*='language-'],
pre[class*='language-'] {
	border-radius: 5px;
	color: var(--color-white);
	display: none;
	font-family: monaco, 'Inconsolata', sans-serif;
	font-size: 0.8rem;
	font-weight: $font-weight-semibold;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	line-height: 1.4rem;
	padding: 0;
	position: relative;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	top: 0;

	&.show {
		display: block;
	}
}

/* Code blocks */
pre[class*='language-'] {
	border-radius: 0 0 0.3rem 0.3rem;
	margin: 0 0 1rem;
	overflow: auto;
	padding: 1rem;

	&::before {
		border-radius: 3px;
		color: $gray-900c;
		content: '';
		line-height: 1rem;
		opacity: 0.9;
		padding: 0.2rem 0.2rem 0.3rem;
		position: absolute;
		right: 0.5rem;
		top: 0.5rem;
	}
}

pre.language-scss {
	border-radius: 0.3rem;
}

// .example-container ~ pre[class*="language-"]:first-of-type {
// 	border-radius: 0 0 0.3rem 0.3rem;
// }

pre.language-html::before {
	background-color: var(--color-background);
	content: 'html';
}

pre.language-scss::before {
	background-color: rgb(220, 165, 208);
	content: 'scss';
}

pre.language-jsx::before {
	background-color: var(--color-warning);
	content: 'jsx';
}

pre.language-css::before {
	background-color: var(--color-warning);
	content: 'css';
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
	background-color: rgba($code-toggle, 0.9);
}

/* Inline code */
:not(pre) > code[class*='language-'] {
	border-radius: 0.3em;
	padding: 0.1em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	/* stylelint-disable-next-line */
	color: slategray;
}

.token.punctuation {
	color: #f8f8f2;
}

.namespace {
	opacity: 0.7;
}

.token.property {
	color: #ffffb8;
}

.token.exampletag,
.token.constant,
.token.symbol,
.token.deleted,
.token.rule,
.token.keyword {
	color: #96cbfe;
}

.token.boolean,
.token.number {
	color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted,
.token.variable {
	color: #c6c5fe;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function {
	color: #a6e22e;
}

.token.regex,
.token.important {
	color: #96cbfe;
}

.token.important,
.token.bold {
	font-weight: $font-weight-bold;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

pre.line-numbers {
	counter-reset: linenumber;
	padding-left: 1rem;
	position: relative;
}

pre.line-numbers > code {
	position: relative;
}

.line-numbers .line-numbers-rows {
	background-color: rgba($gray-700c, 0.8);
	bottom: 0;
	font-size: 100%;
	left: -3rem;
	letter-spacing: -1px;
	padding: 1rem 0;
	pointer-events: none;
	position: absolute;
	top: 0;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 3.5rem; /* works for line-numbers below 100 lines */

}

.line-numbers-rows > span {
	counter-increment: linenumber;
	display: block;
	pointer-events: none;
}

.line-numbers-rows > span::before {
	color: $gray-300c;
	content: counter(linenumber);
	display: block;
	padding-right: 0.8em;
	text-align: right;
}

.language-bash {
	border-radius: 5px !important;
	display: block !important;
}

//code toggle
.code-toggle {
	background-color: var(--button-gray-bg);
	border-radius: 0 0 5px 5px;
	cursor: pointer;
	display: block;
	padding: 0.5rem 0;
	text-align: center;
	transition: background-color 0.2s ease-in-out;
	width: 100%;

	.grid & {
		border-radius: 5px;
		padding: $space-xs;
	}

	.icon--code {
		background-image: url('../img/icon--code_light.svg');
		background-repeat: no-repeat;
		background-size: 100%;
		display: inline-block;
		height: 16px;
		margin: 0 0.1rem -0.1rem 0;
		width: 16px;
	}

	&:hover {
		background-color: $code-toggle;
		&::after { color: var(--color-white); }

		.icon--code {
			background-image: url('../img/icon--code.svg');
		}
	}

	&::after {
		color: var(--color-text);
		content: 'SHOW CODE';
		font-weight: $font-weight-semibold;
	}

	&.is-open {
		background-color: $code-toggle;
		border-radius: 5px 5px 0 0;
		.icon--code { background-image: url('../img/icon--code.svg'); }

		&::after {
			color: var(--color-white);
			content: 'HIDE CODE';
			font-weight: $font-weight-semibold;
		}
	}
}

.group-open {
	+.language-scss {
		display: block;
	}

	+.language-scss code[class*='language-'] {
		display: block;
	}
}

.code {
	display: none;
	overflow: hidden;

	&.show {
		display: block;
	}
}

code,
pre {
	white-space: pre-wrap !important;
	word-wrap: break-word !important;
}
