/* Paragraph
  ================================================== */

.image-container + p {
	margin-top: 2rem;
}

.intro {
	font-size: 1.25rem;
	line-height: 2rem;
	margin-bottom: 2rem;
	margin-top: 0;
}

.definition {
	font-style: italic;
	margin-left: 1rem;
}

.version {
	border: 1px solid;
	border-radius: 3px;
	display: inline-block;
	font-size: 0.7rem;
	line-height: 1rem;
	padding: 0.3rem;
	position: relative;
	top: -0.75rem;
}

/* Blockquote
  ================================================== */

blockquote {
	border-left: 4px solid var(--color-border);
	margin-left: $space-m;
	padding-left: $space-m;

	&.tips { border-left: 4px solid var(--color-green); }
	&.warning { border-left: 4px solid var(--color-orange); }
	&.caution { border-left: 4px solid var(--color-red); }
	&.related { border-left: 4px solid var(--color-accent); }
	p { margin-top: 0.5rem; }
	.tips-list { line-height: 1.5rem; }
}

.has-number {
	margin-top: 3rem;

	&::before {
		border-radius: 30px;
		color: var(--color-white);
		content: '';
		font-size: 18px;
		font-weight: $font-weight-semibold;
		line-height: 0;
		margin: 0 0.6rem 0 0;
		padding: 3px 10px;
		position: relative;
		top: -3px;
	}

	&.has-number--one::before { background-color: #f88c00;
		content: '1'; }

	&.has-number--two::before { background-color: #af92c6;
		content: '2'; }

	&.has-number--three::before { background-color: #22baac;
		content: '3'; }

	&.has-number--four::before { background-color: #f2547b;
		content: '4'; }

	&.has-number--five::before { background-color: #78b1e2;
		content: '5'; }

	&.has-number--six::before { background-color: #f88c00;
		content: '6'; }

	&.has-number--seven::before { background-color: #af92c6;
		content: '7'; }

	&.has-number--eight::before { background-color: #22baac;
		content: '8'; }
}
