$tooltip-color: #555; //$gray-700
$clippy-color: #FFF; //$gray-400

//STATE
.has-tooltip { @include user-select(none); }

//MODULE
i.dashing-tooltip,
i.dashing-clippy {
	@extend .dashing-icon;
	@extend .dashing-icon--question-filled;
	@extend .dashing-icon--gray;
	cursor: help;
  display: inline-block;

  @media #{$phone} {
    margin: -0.6rem -0.4rem !important;
    padding: 0.6rem;
    border-radius: 50px;
    &:hover { background-color: rgba(85, 85, 85, 0.1); }
  }
}

span .dashing-tooltip,
p .dashing-tooltip {
  margin-left: 0.2rem;
}

span.dashing-tooltip { display: inline-block; }

//Custom Tooltip Code
.tooltip {
	background-color: $tooltip-color;
	opacity: 1 !important;
  box-shadow: 0 4px 8px rgba(0,0,0, 0.3);
  border: none;
  max-width: 250px;
  padding: $space-s;
  border-radius: 5px;
	//overflow: hidden;
	font-weight: $font-weight-semibold;
}

.clippy {
	background-color: $clippy-color !important;
	opacity: 1 !important;
	border-radius: 5px !important;
	box-shadow: 0 4px 8px rgba(0,0,0, 0.2);
	border: 2px solid $gray-200;
	max-width: 350px;
	padding: $space-m;
	&.place-top { margin-top: -5px !important; }
	&:hover {
		visibility: visible !important;
		opacity: 1 !important;
	}
	&:after { display: none; }
}
