//--------------------------------\\
//---------- VARIABLES  ----------\\
//--------------------------------\\

$content-width: $global-content-width;

$header-height: 4rem;
$sub-nav-height: 3rem;
$footer-height: 6rem; //includes padding
$footer-height_phone: 7rem;
$nav-separator-width: 2px;

//Theme
$header-color: $color-white !default;
$header-text-color: $color-purple !default;
$header-underline-width: 4px;
$header-underline-color: $color-data-teal !default;

$sub-nav-color: $color-white !default;
$sub-nav-text-color: $color-purple !default;
$sub-nav-underline-width: 4px;
$sub-nav-underline-color: $color-data-teal !default;
$header-z-index: calc(#{$zindex-header} + 1);

$header-shadow: 0 1px 5px rgba(0, 0, 0, 0.5) !default;

//used to give the footer the proper positioning
body {
	min-height: 100vh;
	position: relative;
}

.header-container {
	position: sticky;
	top: 0;
	z-index: $header-z-index;
}

.primary-nav-container {
	background: $header-color;
	border-bottom: $nav-separator-width solid $color-border;
	position: relative;
	z-index: $header-z-index;
}

.primary-nav {
	align-items: center;
	display: flex;
	height: $header-height;
	margin: auto;
	max-height: $header-height;

	max-width: $content-width;
	padding: $space-xs;
	position: relative;

	width: 100%;

	ul {
		@extend %remove-list-style;

		li {
			align-items: center;
			display: inline-block;

			a {
				align-items: center;
				color: $header-text-color;
				display: flex;
				font-size: 1.1rem;
				font-weight: $font-weight-semibold;
				margin: 0 $space-m;
				position: relative;
				text-decoration: none;

				&::after {

					@include transition(all 0.2s ease-out);
					bottom: calc(-#{$header-underline-width} - 2px);
					content: '';
					height: $header-underline-width;
					left: 0;
					position: absolute;
					right: 0;
					-webkit-transform: scaleX(0);
					transform: scaleX(0);

					visibility: hidden;
				}

				&:hover,
				&.active {
					opacity: 1;

					&::after {

						background-color: $header-underline-color;
						border-radius: 10px;
						bottom: calc(-#{$header-underline-width} - 2px);
						height: $header-underline-width;
						left: 0;
						right: 0;
						-webkit-transform: scaleX(1);
						transform: scaleX(1);

						visibility: visible;
					}
				}

			}
		}
	}

	.logo + .header-nav {
		margin-left: $space-m;
	}//IE wants this... okay IE. Here you are.
}

.content {
	margin: auto;
	max-width: $content-width;
	-webkit-overflow-scrolling: touch;
	padding-bottom: $footer-height_phone;
	position: relative;
	z-index: $zindex-content;

	@media #{$tablet} {
		padding-bottom: $footer-height;
	}
}

.sub-nav-container {
	background-color: $sub-nav-color;
	box-shadow: $header-shadow;
	position: relative;
	z-index: $zindex-header;
}

.sub-nav {
	height: $sub-nav-height;
	margin: auto;
	max-width: $content-width;

	width: 100%;

	ul,
	li,
	a {
		height: 100%;
	}

	ul {
		@extend %remove-list-style;
		overflow-x: auto;
		overflow-y: hidden;
		white-space: nowrap;

		li {
			display: inline-block;
			margin: 0 $space-m;

			a {
				align-items: center;
				color: $sub-nav-text-color;
				display: flex;
				font-size: 1rem;
				font-weight: $font-weight-semibold;
				position: relative;
				text-decoration: none;

				&::after {

					@include transition(all 0.2s ease-out);
					bottom: 0;
					content: '';
					height: $header-underline-width;
					left: 0;
					position: absolute;
					right: 0;
					-webkit-transform: scaleX(0);
					transform: scaleX(0);

					visibility: hidden;
				}

				&:hover,
				&.active {
					opacity: 1;

					&::after {

						background-color: $sub-nav-underline-color;
						border-radius: 10px;
						bottom: 0;
						height: $header-underline-width;
						left: 0;
						right: 0;
						-webkit-transform: scaleX(1);
						transform: scaleX(1);

						visibility: visible;
					}
				}
			}
		}
	}
}
