//--------------------------------\\
//---------- VARIABLES  ----------\\
//--------------------------------\\

$content-width: $global-content-width;

$header-height: 4rem;
$sub-nav-height: 3rem;
$nav-separator-width: 2px;
$global-banner-height: 3.5rem;
$global-banner-height_phone: 4rem;

//Theme
$header-color: $color-white !default;
$header-text-color: $color-purple !default;
$header-underline-width: 4px;
$header-underline-color: $color-data-teal !default;

$sub-nav-color: $color-white !default;
$sub-nav-text-color: $color-purple !default;
$sub-nav-underline-width: 4px;
$sub-nav-underline-color: $color-data-teal !default;

$header-shadow: 0 1px 5px rgba(0, 0, 0, 0.5) !default;

.header {
	align-items: center;
	display: flex;
	height: $header-height;
	left: 0;
	margin: auto;
	max-height: $header-height;

	max-width: $content-width;
	padding: $space-xs;
	position: fixed;
	right: 0;
	top: 0;

	width: 100%;
	z-index: calc(#{$zindex-header} + 1);

	&::after {
		background: $header-color;
		border-bottom: $nav-separator-width solid $color-border;
		content: '';
		height: calc(#{$header-height} + #{$nav-separator-width});
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: $zindex-negative;
	}

	.header-nav {
		ul {
			@extend %remove-list-style;

			li {
				align-items: center;
				display: inline-block;

				a {
					align-items: center;
					color: $header-text-color;
					display: flex;
					font-size: 1.1rem;
					font-weight: $font-weight-semibold;
					margin: 0 $space-m;
					position: relative;
					text-decoration: none;

					&::after {

						@include transition(all 0.2s ease-out);
						bottom: calc(-#{$header-underline-width} - 2px);
						content: '';
						height: $header-underline-width;
						left: 0;
						position: absolute;
						right: 0;
						-webkit-transform: scaleX(0);
						transform: scaleX(0);

						visibility: hidden;
					}

					&:hover,
					&.active {
						opacity: 1;

						&::after {

							background-color: $color-data-teal;
							border-radius: 10px;
							bottom: calc(-#{$header-underline-width} - 2px);
							height: $header-underline-width;
							left: 0;
							right: 0;
							-webkit-transform: scaleX(1);
							transform: scaleX(1);

							visibility: visible;
						}
					}

				}
			}
		}
	}

	.logo + .header-nav {
		margin-left: $space-m;
	}//IE wants this... okay IE. Here you are.
}

.content {
	margin: auto;
	margin-top: $header-height;
	max-width: $content-width;
	-webkit-overflow-scrolling: touch;
	z-index: $zindex-content;
}

.sub-nav {
	height: $sub-nav-height;
	left: 0;
	margin: auto;

	max-width: $content-width;

	position: fixed;
	right: 0;
	top: $header-height;

	width: 100%;
	z-index: $zindex-header;

	~.content {
		margin-top: calc(#{$header-height} + #{$sub-nav-height});
	}

	&::after {
		background-color: $sub-nav-color;
		box-shadow: $header-shadow;
		content: '';
		height: $sub-nav-height;
		left: 0;
		position: fixed;
		top: $header-height;
		width: 100%;
		z-index: $zindex-negative;
	}

	ul,
	li,
	a {
		height: 100%;
	}

	ul {
		@extend %remove-list-style;
		overflow-x: auto;
		overflow-y: hidden;
		white-space: nowrap;

		li {
			display: inline-block;
			margin: 0 $space-m;

			a {
				align-items: center;
				color: $sub-nav-text-color;
				display: flex;
				font-size: 1rem;
				font-weight: $font-weight-semibold;
				position: relative;
				text-decoration: none;

				&::after {

					@include transition(all 0.2s ease-out);
					bottom: 0;
					content: '';
					height: $header-underline-width;
					left: 0;
					position: absolute;
					right: 0;
					-webkit-transform: scaleX(0);
					transform: scaleX(0);

					visibility: hidden;
				}

				&:hover,
				&.active {
					opacity: 1;

					&::after {

						background-color: $color-data-teal;
						border-radius: 10px;
						bottom: 0;
						height: $header-underline-width;
						left: 0;
						right: 0;
						-webkit-transform: scaleX(1);
						transform: scaleX(1);

						visibility: visible;
					}
				}
			}
		}
	}
}

/* Global Banner Adjustment
  =========================================================================== */
.global-banner-container {
	+ .header {
		top: $global-banner-height_phone;
		&::after { top: $global-banner-height_phone; }

		+ .sub-nav {
			top: calc(#{$global-banner-height_phone} + #{$header-height});

			&::after {
				top: calc(#{$global-banner-height_phone} + #{$header-height});
			}

			~.content {
				margin-top: calc(#{$global-banner-height_phone} + #{$header-height} + #{$sub-nav-height});
			}
			@media #{$tablet} {
				top: calc(#{$global-banner-height} + #{$header-height});

				&::after {
					top: calc(#{$global-banner-height} + #{$header-height});
				}

				~.content {
					margin-top: calc(#{$global-banner-height} + #{$header-height} + #{$sub-nav-height});
				}
			}
		}

		~.content {
			margin-top: calc(#{$global-banner-height_phone} + #{$header-height});
		}

		@media #{$tablet} {
			top: $global-banner-height;
			&::after { top: $global-banner-height; }
		}
		@media #{$tablet} {
			~.content {
				margin-top: calc(#{$global-banner-height} + #{$header-height});
			}
		}
	}
}
