//--------------------------------\\
//---------- VARIABLES  ----------\\
//--------------------------------\\

$content-width: 1200px !default;

$header-height: 4rem;
$sub-nav-height: 3rem;
$nav-separator-width: 2px;

//Theme
$header-color: $color-white !default;
$header-text-color: $color-purple !default;
$sub-nav-color: $color-white !default;
$sub-nav-text-color: $color-purple !default;
$header-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5) !default;

.header {
  z-index: $zindex-header;
  display: flex;
  align-items: center;
  padding: $space-xs;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;
  max-height: $header-height;

  max-width: $content-width;
  margin: auto;

  width: 100%;//IE wants this... okay IE. Here you are.

  &::after {
    z-index: $zindex-negative;
  	content: "";
  	width: 100%;
  	height: $header-height;
    background: $header-color;
  	position: fixed;
  	top: 0;
  	left: 0;
  }

  .header-nav {

    ul {
      @extend %remove-list-style;

      li {
        display: inline-block;
        align-items: center;

        a {
          margin: 0 $space-m;
          display: flex;
          align-items: center;
          color: $header-text-color;
          font-weight: 600;
          font-size: 1.1rem;
          border-bottom: 2px solid transparent;
          text-decoration: none;
          @include transition(border-bottom 0.2s ease-out);

          &:hover, &.active {
            border-bottom: 2px solid $header-text-color;
            opacity: 1;
          }

        }
      }
    }
  }
}

.content {
  z-index: $zindex-content;
  max-width: $content-width;
  margin: auto;
  margin-top: $header-height;
  -webkit-overflow-scrolling: touch;
}

.sub-nav {
  z-index: calc(#{$zindex-header} - 1);
  height: calc(#{$sub-nav-height} + #{$nav-separator-width});

  ~.content {
    margin-top: calc(#{$header-height} + #{$sub-nav-height});
  }

  position: fixed;
  left: 0;
  right: 0;
  top: $header-height;

  max-width: $content-width;
  margin: auto;

  width: 100%;

  &::after {
  	content: "";
    box-shadow: $header-shadow;
  	width: 100%;
  	height: calc(#{$sub-nav-height} + #{$nav-separator-width});
    background-color: $sub-nav-color;
  	position: fixed;
  	top: $header-height;
  	left: 0;
  	z-index: $zindex-negative;
    border-top: $nav-separator-width solid $color-background;
  }

  ul, li, a {
    height: 100%;
  }

  ul {
    @extend %remove-list-style;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;

    li {
      display: inline-block;
      margin: 0 $space-m;

      a {
        display: flex;
        align-items: center;
        color: $sub-nav-text-color;
        font-weight: 600;
        font-size: 1rem;
        text-decoration: none;
        border-bottom: 3px solid transparent;
        @include transition(border-bottom 0.2s ease-out);

        &:hover, &.active  {
          border-bottom: 3px solid $sub-nav-text-color;
          opacity: 1;
        }
      }
    }
  }
}

/* Mobile Navigation Icon
  =========================================================================== */
.button--mobile-sidebar {
  @extend %icon-purple;
  @extend .button;
  @extend .button--transparent;
  @extend .button--icon;
  @extend .button--purple;
  @media #{$tablet} { display: none; }
}
