//--------------------------------\\
//---------- VARIABLES  ----------\\
//--------------------------------\\

$content-width: $global-content-width;

$header-height: 4rem;
$sub-nav-height: 3rem;
$nav-separator-width: 2px;
$global-banner-height: 3.5rem;
$global-banner-height_phone: 4rem;
$footer-height: 6rem;
$footer-height_phone: 6rem;

//Theme
$header-color: $color-white !default;
$header-text-color: $color-purple !default;
$header-underline-width: 4px;
$header-underline-color: $color-data-teal !default;

$sub-nav-color: $color-white !default;
$sub-nav-text-color: $color-purple !default;
$sub-nav-underline-width: 4px;
$sub-nav-underline-color: $color-data-teal !default;

$header-shadow: 0 1px 5px rgba(0, 0, 0, 0.5) !default;

body.has-footer {
	min-height: calc(100vh - #{$header-height} - #{$sub-nav-height});
	position: relative;

	.content {
		padding-bottom: $footer-height_phone;

		@media #{$tablet} {
			padding-bottom: $footer-height;
		}
	}
}

.header {
	align-items: center;
	display: flex;
	height: $header-height;
	left: 0;
	margin: auto;
	max-height: $header-height;

	max-width: $content-width;
	padding: $space-xs;
	position: fixed;
	right: 0;
	top: 0;

	width: 100%;
	z-index: calc(#{$zindex-header} + 1);

	&::after {
		background: $header-color;
		border-bottom: $nav-separator-width solid $color-border;
		content: '';
		height: calc(#{$header-height} + #{$nav-separator-width});
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: $zindex-negative;
	}

	.header-nav {
		ul {
			@extend %remove-list-style;

			li {
				align-items: center;
				display: inline-block;

				a {
					align-items: center;
					color: $header-text-color;
					display: flex;
					font-size: 1.1rem;
					font-weight: $font-weight-semibold;
					margin: 0 $space-m;
					position: relative;
					text-decoration: none;

					&::after {

						@include transition(all 0.2s ease-out);
						bottom: calc(-#{$header-underline-width} - 2px);
						content: '';
						height: $header-underline-width;
						left: 0;
						position: absolute;
						right: 0;
						-webkit-transform: scaleX(0);
						transform: scaleX(0);

						visibility: hidden;
					}

					&:hover,
					&.active {
						opacity: 1;

						&::after {

							background-color: $color-data-teal;
							border-radius: 10px;
							bottom: calc(-#{$header-underline-width} - 2px);
							height: $header-underline-width;
							left: 0;
							right: 0;
							-webkit-transform: scaleX(1);
							transform: scaleX(1);

							visibility: visible;
						}
					}

				}
			}
		}
	}

	.logo + .header-nav {
		margin-left: $space-m;
	}//IE wants this... okay IE. Here you are.
}

.content {
	margin: auto;
	margin-top: $header-height;
	max-width: $content-width;
	-webkit-overflow-scrolling: touch;
	z-index: $zindex-content;
}

.sub-nav {
	height: $sub-nav-height;
	left: 0;
	margin: auto;

	max-width: $content-width;

	position: fixed;
	right: 0;
	top: $header-height;

	width: 100%;
	z-index: $zindex-header;

	~.content {
		margin-top: calc(#{$header-height} + #{$sub-nav-height});
	}

	&::after {
		background-color: $sub-nav-color;
		box-shadow: $header-shadow;
		content: '';
		height: $sub-nav-height;
		left: 0;
		position: fixed;
		top: $header-height;
		width: 100%;
		z-index: $zindex-negative;
	}

	&.has-title {
		align-items: center;
		display: flex;
		justify-content: flex-start;

		@media #{$phone} {
			ul {
				display: flex;
				flex-direction: column;
				height: auto;
				left: 1rem;
				padding: $space-m;
				top: 2.9rem;

				li {
					margin: 0;

					a::after {
						height: 100% !important;
						-webkit-transform: scaleY(0);
						transform: scaleY(0);
						width: 4px;

						&:hover,
						&.active {
							height: 100%;
							-webkit-transform: scaleY(1);
							transform: scaleY(1);
							width: 4px;
						}
					}
				}
			}
		}
	}

	.sub-nav--title {
		color: $color-purple;
		font-size: $font-size-medium;
		font-weight: $font-weight-semibold;
		margin: 0 $grid-gutter 0 $grid-gutter;

		position: relative;
	}

	ul,
	li,
	a {
		height: 100%;
	}

	ul {
		@extend %remove-list-style;
		overflow-x: auto;
		overflow-y: hidden;
		white-space: nowrap;

		li {
			display: inline-block;
			margin: 0 $space-m;

			a {
				align-items: center;
				color: $sub-nav-text-color;
				display: flex;
				font-size: 1rem;
				font-weight: $font-weight-semibold;
				position: relative;
				text-decoration: none;

				&::after {

					@include transition(all 0.2s ease-out);
					bottom: 0;
					content: '';
					height: $header-underline-width;
					left: 0;
					position: absolute;
					right: 0;
					-webkit-transform: scaleX(0);
					transform: scaleX(0);

					visibility: hidden;
				}

				&:hover,
				&.active {
					opacity: 1;

					&::after {

						background-color: $color-data-teal;
						border-radius: 10px;
						bottom: 0;
						height: $header-underline-width;
						left: 0;
						right: 0;
						-webkit-transform: scaleX(1);
						transform: scaleX(1);

						visibility: visible;
					}
				}
			}
		}
	}
}

/* Global Banner Adjustment
  =========================================================================== */
.global-banner-container {
	+ .header {
		top: $global-banner-height_phone;
		&::after { top: $global-banner-height_phone; }

		+ .sub-nav {
			top: calc(#{$global-banner-height_phone} + #{$header-height});

			&::after {
				top: calc(#{$global-banner-height_phone} + #{$header-height});
			}

			~.content {
				margin-top: calc(#{$global-banner-height_phone} + #{$header-height} + #{$sub-nav-height});
			}
			@media #{$tablet} {
				top: calc(#{$global-banner-height} + #{$header-height});

				&::after {
					top: calc(#{$global-banner-height} + #{$header-height});
				}

				~.content {
					margin-top: calc(#{$global-banner-height} + #{$header-height} + #{$sub-nav-height});
				}
			}
		}

		~.content {
			margin-top: calc(#{$global-banner-height_phone} + #{$header-height});
		}

		@media #{$tablet} {
			top: $global-banner-height;
			&::after { top: $global-banner-height; }
		}
		@media #{$tablet} {
			~.content {
				margin-top: calc(#{$global-banner-height} + #{$header-height});
			}
		}
	}
}

/////


@media #{$phone} {
	.profile-menu {
		// @extend %remove-list-style;

		background-color: $color-white;
		border-radius: 3px;
		box-shadow: (0 4px 8px rgba(0, 0, 0, 0.3));
		color: $color-black;
		font-size: 1rem;
		font-weight: $font-weight-normal;

		position: absolute;
		right: 1rem;
		top: 3.5rem;
		width: 200px;

		hr { margin: 0; }

		li {

			cursor: pointer;

			a {
				color: $color-text;
				display: block;
				font-weight: $font-weight-normal;
				padding: 0.5rem 1rem;
				text-decoration: none;
				&:hover { opacity: 1; }
			}

			&:hover {
				background-color: $color-hover;
			}

			&:first-of-type {
				border-radius: 3px 3px 0 0;
			}

			&.logout {
				border-radius: 0 0 3px 3px;

				a {
					color: $color-red;
					font-weight: $font-weight-semibold;
				}
			}
		}//calculate this later to match whatever the heaer settings are?//just under header height
	}
}
