$global-content-width: 800px !default;

@import '../paragon';
@import 'color';
@import 'typography';
@import 'image';
@import 'prism';
@import 'example-css-grid';

$sidebar-width:  13rem;

//Give example pages gray background
.app { background-color: $gray-100; }

.content--example-page {
  margin-top: $space-m;
}

.button--copy-link {
  display: none;
}

.logo-container {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
  }
}

.example-sidebar {
  width: $sidebar-width;
  background-color: $gray-100;
  line-height: 2rem;
  border-right: 2px solid $gray-200;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -#{$sidebar-width};
  transition: right 0.3s;
  overflow-y: auto;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
  @media #{$tablet} {
    left: 0rem;
  }
  &.show {
    @media #{$phone} {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      border: none;
      right: 0rem;
    }
  }

  ul { margin: 0; padding: 0; }

  .logo {
    height: 81px;
    width: 170px;
    text-align: center;
    background-color: $white;
    margin: 1rem auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 1rem;
  }

  a {
    padding-left: 0.5rem;
    display: block;
    color: $gray-700;
  }
  .active {
    color: $white;
    background-color: $brand-blue;
    border-radius: 5px;
  }

  .group-container {
    position: relative;
    cursor: pointer;

    &:last-of-type {
      border-bottom: 2px solid $gray-200;
    }

    &.expanded {
      .menu-group { display: block; }
      &:last-of-type {
        border-bottom: none;
      }
    }
  }

  .group-title {
    display: flex;
    align-items: center;
    background-color: $white;
    padding: 0.3rem 1rem;
    border-top: 2px solid $gray-200;
    font-size: 1.1rem;
  }

  i.dashing-icon::before {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  .menu-group {
    padding: 0.5rem 1rem;
    background-color: $gray-100;
    display: none;
    line-height: 1.9rem;
    font-size: 0.9rem;
    border-top: 2px solid $gray-200;
    &.expanded {
      display: block;
    }
  }
}


/* Principles
  ================================================== */

.splash-image {
  background-image: linear-gradient(-45deg, $brand-blue, $brand-purple);
  height: 22rem;
  margin-top: -1rem;
  position: relative;
  .splash-image--content {
    display: flex;
    height: 100%;
  }
  .splash-image--title {
    margin-bottom: 0.5rem;
    color: $white;
  }
  .splash-image--subtitle {
    margin-bottom: 1rem;
    color: $white;
  }
  .splash-image--title { font-size: 3rem; }
  button {

  }
}

.dashing-description {
  padding: 1rem 0;
}

.space-between--principles {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 3rem;
  .principles-icon {
    display: none;
    height: 90px;
    width: 90px;
    background-color: gray;
    border-radius: 10px;
    margin-right: 1rem;
    @extend %shadow-50;
    &.consistent { background-color: $brand-gray; }
    &.clean { background-color: $brand-blue; }
    &.confident { background-color: $brand-purple; }
    @media #{$tablet} {
      display: block;
    }
  }
  .principles-paragraph {
    font-size: 1.3rem;
    line-height: 1.8rem;
    margin: 0.5rem 0;
  }
}

.app-content {
  background-color: $white;
  @media all and (min-width: 40em) {
    margin-left: 13rem;
  }
}

.example-container {
  .header {
    position: relative;
    &:after { position: absolute; }
  }
  .sub-nav {
    position: relative;
    top: 0;
    &:after {
      position: absolute;
      top: 0;
    }
  }
}

.subnav {
  background-color: $brand-blue;
  box-shadow: 0 2px 6px $gray-200;
  h1 {
    max-width: $global-content-width;
    margin: auto;
    color: $white;
    padding: 2rem 0;
    padding-left: 1rem;
  }
  .subnav-links {
    max-width: $global-content-width;
    margin: auto;
    padding-bottom: 0.55rem;
    padding-left: 1rem;
    a {
      text-transform: uppercase;
      color: white;
      margin-right: 1rem;
      padding-bottom: 0.3rem;
      &.active {
        border-bottom: 4px solid white;
      }
    }
  }
}

/* Sidebar Icon
  ================================================== */

.example-mobile-sidebar {
  .button--sidebar-icon {
    border-radius: 5px 0 0 5px;
    background-color: $gray-100;
    position: fixed;
    top: 1.9rem;
    right: 0;
    transition: right 0.3s;
    z-index: 1001;
    padding: 0.8rem 0.9rem;
    @media #{$tablet} {
      display: none;
    }
    i {
      margin: 0;
        &:not(.dashing-icon--close) {
        background-image: url("../../img/menu.svg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        height: 18px;
        width: 16px;
      }
    }
  }
  &.expanded {
    .button--sidebar-icon { right: $sidebar-width; }
  }
}

/* Copy Link Button
  ================================================== */

h2 {
  .button--copy-link {
    &:after {
      content: "Copy Link";
    }
      width: 100px;
      pointer-events: initial;
      transition: all 0.25s;
      opacity: 1;
      text-align: left;

    @media #{$tablet} {
      width: 0px;
      overflow: hidden;
      white-space: nowrap;
      pointer-events: none;
      opacity: 0;
    }
  }

  &:hover,
  &:active {
      .button--copy-link {
        &:active,
        &:focus {
          &:after {
            content: "Copied";
          }
          color: $green-500;
        }
      width: 100px;
      pointer-events: initial;
      // transition: all 0.5s;
      opacity: 1;
    }
  }
}

/* Blockquotes
  ================================================== */
.flex-container {
  display: flex;
  align-items: center;
}

.icon-container {
  width: 50px;
}

/* Banner Page
  ================================================== */

.banner-container {
  .card-banner {
    margin: 0;
    margin-bottom: 0.5rem;
  }
}

/* Cards Page
  ================================================== */

.card--example-footer {
  border-radius: 0 0 10px 10px;
  margin: 0;
}

.card--example-titles {
  margin: 0;
  border-radius: 10px 10px 0 0;
  border-bottom: none;
  flex-grow: 1;
  h3 {
    margin-bottom: 0;
    font-weight: 600;
  }
}

/* Checkboxes Page
  ================================================== */

.example--checkbox {
  display: inline-flex;
  margin-right: 2rem;
  line-height: 1.5rem;
}

/* Grid Page
  ================================================== */

.row--example {
  background-color: rgba(157, 192, 255, 0.5);
  margin: 2rem auto;
}
.column--example {
  font-size: 16px;
  text-align: center;
}
.grid--example {
  background-color: #6A8DD3;
  color: white;
  font-weight: 600;
  padding: 0.5rem;
}
.column--nested .grid--example { background-color: #2DB16C; }
.row--example.row--nested {
  background-color: rgba(45, 177, 108, 0.4);
  margin: 0;
}
.column--nested.column--example { margin: 0; }

/* Icons Page
  ================================================== */

.example--container {
  display: block;
  margin: auto;
  text-align: center;
}

.example--icon-container {
  border: 2px solid transparent;
  border-radius: 5px;
  display: inline-block;
  margin: 0.5rem;
  width: 6rem;
  height: 6rem;
  padding: 1rem 0.2rem;
  text-align: center;
}

.example--icon-container:hover { background-color: #E0E0E0; }
.example--icon-container .dashing-icon:before { font-size: 32px; }

.example--caption {
  color: #555555;
  display: block;
  font-size: 12px;
  margin-top: 1rem;
}

/* Navigation Page
  ================================================== */

.example-page--app-navigation {
  li a {
    color: #FFFFFF !important;
    opacity: 0.7;
    &.active { border-bottom-color: #FFFFFF; opacity: 1; color: #FFFFFF !important; }
  }
}
.app-menu .app-context .app-title .button--navigation.example-button--navigation:before {
  color: #FFFFFF !important;
}

.hide-HTML-code {
  +.group-open .language-html {
    display: none;
  }
  +.group-open +.language-scss {
    border-radius: 0 0 0.3rem 0.3rem;
  }
}

.show-code {
  code[class*="language-"],
  pre[class*="language-"] {
    display: block;
    border-radius: 0.3rem;
    margin-bottom: 0;
  }
  .code-toggle { display: none; }
}

/* Radio Buttons Page
  ================================================== */

.example--radio {
  display: inline-block;
  margin-right: 2rem;
  line-height: 1.5rem;
}

/* Follow Message
  ================================================== */

.follow-message {
  background-repeat: no-repeat;
  display: table;
  width: 100%;
  background-position: center;

  .follow-message-inner {
    display: table-cell;
    font-size: .8rem;
    text-align: center;
    vertical-align: middle;
  }

  @media #{$tablet} {
    background-image: url("../../img/follow-message.svg");
    height: 500px;
    margin-top: -2rem;
    padding-bottom: 0;
  }
}

/* Intro Page
  ================================================== */

.intro {
  .hero {
    padding: 2rem;
    margin: 5rem 0 -1rem;
  }

  .note {
    border-radius: 5px;
    background-color: #DCDCDC;
    color: #555;
    padding: 1rem;
  }

  .underline {
    border-bottom: 2px solid #6E6E6E;
    padding-bottom: 0.1rem;
  }
}

/* Resources Page
  ================================================== */

.card--resource {
  overflow: auto;
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;

  h3 {
    display: inline-block;
    font-weight: 600;
  }

  .text-container {
    @media #{$tablet} {
      display: inline-block;
      width: calc(100% - 12rem);
    }

    p {
      margin: 0;
      line-height: 1.4rem;
    }
  }

  .tag { margin-top: 0.1rem; position: absolute; }

  @media #{$phone} {
    .button { display: block; width: 100%;}
  }

  .button {
    margin-top: $grid-gutter;
    @media #{$tablet} {
      margin-top: 1.3rem;
    }
  }

  .card--resource-text {
    margin-left: 0;
    @media #{$tablet} {
      margin-left: 1rem;
    }
  }

  .card--resource-buttons {
    flex-grow: 1;
    margin-top: 1rem;
    flex-basis: 100%;
    @media #{$tablet} {
      flex-grow: 0;
      margin-left: auto;
      margin-top: 0;
      flex-basis: unset;
    }
    align-self: center;
    .button {
      margin: 0;
    }
  }
  .resource-badge img {
    position: relative;
    top: 0.2rem;
    left: 0.2rem;
  }
}


.resource-image-container {
  background-color: $gray-150;
  border-radius: 8px;
  overflow: hidden;
  min-width: 94px;
  display: none;
  @media #{$tablet} {
    display: block;
  }


  &.image--wireframe-kit .resource-image { background-image: url("../../img/wireframe-kit.png"); }
  &.image--prototype-kit .resource-image { background-image: url("../../img/prototype-kit.png"); }
  &.resources--github .resource-image { background-image: url("../../img/resources--github.svg"); }
  &.resources--prototype .resource-image { background-image: url("../../img/resources--prototype.svg"); }

  .resource-image {
    background-size: 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    padding: 2.8rem;
  }
}

/* Footer
  ================================================== */

footer {
  background-color: $gray-50c;
  float: right;
  position: relative;
  width: 100%;
  text-align: center;

  a, .copyright {
    display: inline-block;
    margin: $space-m;
  }
}

.img-placeholder {
  background-color: $gray-200;
  border-color: $gray-200;
  height: 4rem;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.ex {
  &-no-color {
    background-color: transparent;
  }
}

/* Accessibility
  ================================================== */

$brand-purple: #72569B;
$brand-blue: #28336D;
$brand-red: #E96A63;
$brand-yellow: #F5CD66;
$brand-gray: #F1F2F2;

.card--accessibility {
  overflow: hidden;
  background-color: transparent;
  .card-content {
    position: relative;

    &::after {
      z-index: -1;
      content: "";
      width: calc(100% - 5rem);
      height: 100%;
      position: absolute;
      top: 0;
      left: 5rem;
    }
  }
  &.card--blue .card-content:after { background: $blue; }
  &.card--green .card-content:after { background: $green; }
  &.card--red .card-content:after { background: $red; }
  &.card--orange .card-content:after { background: $orange; }
  &.card--purple .card-content:after { background: $purple; }
  &.card--gray .card-content:after { background: $gray-200; }
  &.card--brand-red .card-content:after { background: #E96A63; }
  &.card--brand-purple .card-content:after { background: #72569B; }
  &.card--brand-darkBlue .card-content:after { background: #28336D; }
  &.card--brand-yellow .card-content:after { background: #F5CD66; }
  &.card--brand-gray .card-content:after { background: #F1F2F2; }
}

.x-accessibility-group {
  display: flex;
  align-items: center;
  margin-bottom: $space-xs;
  .dashing-icon {
    margin-left: $space-s;
  }
  h1, h2, h3, h4, h5, p, .button:first-of-type, .dashing-icon:first-of-type {
    margin: 0;
    margin-left: $space-l;
  }
  .tag { min-width: 3rem; text-align: center; }
}

.button--blueWhite  {@include button($background-color: $blue, $color: $white); }
.button--whiteBlue  {@include button($background-color: $white, $color: $blue); }
.button--blueBlack  {@include button($background-color: $blue, $color: $black); }
.button--blackBlue  {@include button($background-color: $black, $color: $blue); }

.button--greenWhite  {@include button($background-color: $green, $color: $white); }
.button--whiteGreen  {@include button($background-color: $white, $color: $green); }
.button--greenBlack  {@include button($background-color: $green, $color: $black); }
.button--blackGreen  {@include button($background-color: $black, $color: $green); }

.button--redWhite  {@include button($background-color: $red, $color: $white); }
.button--whiteRed  {@include button($background-color: $white, $color: $red); }
.button--redBlack  {@include button($background-color: $red, $color: $black); }
.button--blackRed  {@include button($background-color: $black, $color: $red); }

.button--orangeWhite  {@include button($background-color: $orange, $color: $white); }
.button--whiteOrange  {@include button($background-color: $white, $color: $orange); }
.button--orangeBlack  {@include button($background-color: $orange, $color: $black); }
.button--blackOrange  {@include button($background-color: $black, $color: $orange); }

.button--purpleWhite  {@include button($background-color: $purple, $color: $white); }
.button--whitePurple  {@include button($background-color: $white, $color: $purple); }
.button--purpleBlack  {@include button($background-color: $purple, $color: $black); }
.button--blackPurple  {@include button($background-color: $black, $color: $purple); }

.button--grayWhite  {@include button($background-color: $gray-200, $color: $white); }
.button--whiteGray  {@include button($background-color: $white, $color: $gray-200); }
.button--grayBlack  {@include button($background-color: $gray-200, $color: $black); }
.button--blackGray  {@include button($background-color: $black, $color: $gray-200); }

.button--brand-redWhite  {@include button($background-color: #E96A63, $color: $white); }
.button--brand-whiteRed  {@include button($background-color: $white, $color: #E96A63); }
.button--brand-redBlack  {@include button($background-color: #E96A63, $color: $black); }
.button--brand-blackRed  {@include button($background-color: $black, $color: #E96A63); }

.button--brand-purpleWhite  {@include button($background-color: #72569B, $color: $white); }
.button--brand-whitePurple  {@include button($background-color: $white, $color: #72569B); }
.button--brand-purpleBlack  {@include button($background-color: #72569B, $color: $black); }
.button--brand-blackPurple  {@include button($background-color: $black, $color: #72569B); }

.button--brand-blueWhite  {@include button($background-color: #28336D, $color: $white); }
.button--brand-whiteBlue  {@include button($background-color: $white, $color: #28336D); }
.button--brand-blueBlack  {@include button($background-color: #28336D, $color: $black); }
.button--brand-blackBlue  {@include button($background-color: $black, $color: #28336D); }

.button--brand-yellowWhite  {@include button($background-color: #F5CD66, $color: $white); }
.button--brand-whiteYellow  {@include button($background-color: $white, $color: #F5CD66); }
.button--brand-yellowBlack  {@include button($background-color: #F5CD66, $color: $black); }
.button--brand-blackYellow  {@include button($background-color: $black, $color: #F5CD66); }

.button--brand-grayWhite  {@include button($background-color: #F1F2F2, $color: $white); }
.button--brand-whiteGray  {@include button($background-color: $white, $color: #F1F2F2); }
.button--brand-grayBlack  {@include button($background-color: #F1F2F2, $color: $black); }
.button--brand-blackGray  {@include button($background-color: $black, $color: #F1F2F2); }

.x-accessiblity-table {
  span, p, h2, .x-accessibility--white, .x-accessibility--black {
    background-color: $gray-100;
    display: inline-flex;
    align-items: center;
    padding: 0 $space-s;
    margin: 0;
    height: $space-xl;
    border-radius: 3px;
  }
  .x-accessibility--white {
    @extend .dashing-icon;
    @extend .dashing-icon--add;
    @extend .dashing-icon--white;
  }
  .x-accessibility--black {
    @extend .dashing-icon;
    @extend .dashing-icon--add;
    @extend .dashing-icon--black;
  }

  i.x-fail,i.x-pass {
    margin-right: $space-s;
  }

  i.x-fail {
    @extend .dashing-icon;
    @extend .dashing-icon--close;
    @extend .dashing-icon--red;
  }
  i.x-pass {
    @extend .dashing-icon;
    @extend .dashing-icon--checkmark;
    @extend .dashing-icon--green;
  }
  .color--brand-purple { p, h2, .x-accessibility--white, .x-accessibility--black
    { background-color: $brand-purple; }
  }
  .color--brand-blue { p, h2, .x-accessibility--white, .x-accessibility--black
    { background-color: $brand-blue; }
  }
  .color--brand-red { p, h2, .x-accessibility--white, .x-accessibility--black
    { background-color: $brand-red; }
  }
  .color--brand-yellow { p, h2, .x-accessibility--white, .x-accessibility--black
    { background-color: $brand-yellow; }
  }
  .color--brand-gray { p, h2, .x-accessibility--white, .x-accessibility--black
    { background-color: $brand-gray; }
  }
  .color--blue { p, h2, .x-accessibility--white, .x-accessibility--black
    { background-color: $blue; }
  }
  //UI
  .color--blue { p, h2, .x-accessibility--white, .x-accessibility--black
    { background-color: $blue; }
  }
  .color--green { p, h2, .x-accessibility--white, .x-accessibility--black
    { background-color: $green; }
  }
  .color--orange { p, h2, .x-accessibility--white, .x-accessibility--black
    { background-color: $orange; }
  }
  .color--red { p, h2, .x-accessibility--white, .x-accessibility--black
    { background-color: $red; }
  }
  .color--purple { p, h2, .x-accessibility--white, .x-accessibility--black
    { background-color: $purple; }
  }
  .color--gray { p, h2, .x-accessibility--white, .x-accessibility--black
    { background-color: $gray-200; }
  }
}
