@import '../dashing';
@import 'color';
@import 'typography';
@import 'image';
@import 'prism';
@import 'example-css-grid';

$sidebar-width:  13rem;

body {
  background-color: $white;
}

.content-container {
  margin: 1rem 0 1rem 0;
}

.example-sidebar {
  width: $sidebar-width;
  background-color: $gray-100;
  line-height: 2rem;
  border-right: 2px solid $gray-200;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -#{$sidebar-width};
  transition: right 0.3s;
  overflow-y: auto;
  z-index: 1;
  @media #{$tablet} {
    left: 0rem;
  }
  &.show {
    @media #{$phone} {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      border: none;
      right: 0rem;
    }
  }

  ul { margin: 0; padding: 0; }

  .logo {
    height: 81px;
    width: 170px;
    text-align: center;
    background-color: $white;
    margin: 1rem auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 1rem;
  }

  a {
    padding-left: 0.5rem;
    display: block;
    color: $gray-700;
  }
  .active {
    color: $white;
    background-color: $blue;
    border-radius: 5px;
  }

  .group-container {
    position: relative;
    cursor: pointer;

    &:last-of-type {
      border-bottom: 2px solid $gray-200;
    }

    &.expanded {
      .menu-group { display: block; }
      &:last-of-type {
        border-bottom: none;
      }
    }
  }

  .group-title {
    display: flex;
    align-items: center;
    background-color: $white;
    padding: 0.3rem 1rem;
    border-top: 2px solid $gray-200;
    font-size: 1.1rem;
  }

  i.dashing-icon::before {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  .menu-group {
    padding: 0.5rem 1rem;
    background-color: $gray-100;
    display: none;
    line-height: 1.9rem;
    font-size: 0.9rem;
    border-top: 2px solid $gray-200;
    &.expanded {
      display: block;
    }
  }
}


/* Principles
  ================================================== */

.splash-image {
  background-image: linear-gradient(-45deg, $blue , $purple);
  height: 22rem;
  margin-top: -1rem;
  padding: 1rem;
  position: relative;
  .splash-image--content {
    display: flex;
    height: 100%;
  }
  .splash-image--title {
    margin-bottom: 0.5rem;
    color: $white;
  }
  .splash-image--subtitle {
    margin-bottom: 1rem;
    color: $white;
  }
  .splash-image--title { font-size: 3rem; }
  button {

  }
}

.space-between--principles {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .principles-icon {
    height: 120px;
    width: 120px;
    background-color: gray;
  }
}

.app-content {
  background-color: $white;
  @media all and (min-width: 40em) {
    margin-left: 13rem;
  }
}

.subnav {
  background-color: $blue;
  box-shadow: 0 2px 6px $gray-200;
  h1 {
    max-width: $global-content-width;
    margin: auto;
    color: $white;
    padding: 2rem 0;
    padding-left: 1rem;
  }
  .subnav-links {
    max-width: $global-content-width;
    margin: auto;
    padding-bottom: 0.55rem;
    padding-left: 1rem;
    a {
      text-transform: uppercase;
      color: white;
      margin-right: 1rem;
      padding-bottom: 0.3rem;
      &.active {
        border-bottom: 4px solid white;
      }
    }
  }
}

/* Sidebar Icon
  ================================================== */

.mobile-sidebar {
  .button--sidebar-icon {
    border-radius: 5px 0 0 5px;
    background-color: $gray-100;
    position: fixed;
    top: 1.9rem;
    right: 0;
    transition: right 0.3s;
    z-index: 2;
    padding: 0.8rem 0.9rem;
    @media #{$tablet} {
      display: none;
    }
    i {
      margin: 0;
        &:not(.dashing-icon--close) {
        background-image: url("../../img/menu.svg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        height: 18px;
        width: 16px;
      }
    }
  }
  &.expanded {
    .button--sidebar-icon { right: $sidebar-width; }
  }
}

/* Copy Link Button
  ================================================== */

h2 {
  .button--copy-link {
    &:after {
      content: "Copy Link";
    }
      width: 100px;
      pointer-events: initial;
      transition: all 0.25s;
      opacity: 1;
      text-align: left;

    @media #{$tablet} {
      width: 0px;
      overflow: hidden;
      white-space: nowrap;
      pointer-events: none;
      opacity: 0;
    }
  }

  &:hover,
  &:active {
      .button--copy-link {
        &:active,
        &:focus {
          &:after {
            content: "Copied";
          }
          color: $green-500;
        }
      width: 100px;
      pointer-events: initial;
      // transition: all 0.5s;
      opacity: 1;
    }
  }
}

/* Blockquotes
  ================================================== */

blockquote {
  border-left: 4px solid $gray;
  margin: 0 0 2rem 0;
  padding-left: 1rem;

  strong {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0;
    color: #232323;
  }

  p {
    margin-top: 0.5rem;
  }

  &.tips { border-left: 4px solid $green; }
  .tips-list {
    margin: -1.3rem 0 0 0;
    padding-left: 2rem;
  }
  &.warning { border-left: 4px solid $orange; }
  &.caution { border-left: 4px solid $red; }
  &.related { border-left: 4px solid $blue; }
}

.flex-container {
  display: flex;
  align-items: center;
}

.icon-container {
  width: 50px;
}

/* Banner Page
  ================================================== */

.banner-container {
  .card-banner {
    margin: 0;
    margin-bottom: 0.5rem;
  }
}

/* Cards Page
  ================================================== */

.card--example-footer {
  border-radius: 0 0 10px 10px;
  margin: 0;
}

.card--example-titles {
  margin: 0;
  border-radius: 10px 10px 0 0;
  border-bottom: none;
  flex-grow: 1;
  h3 {
    margin-bottom: 0;
    font-weight: 600;
  }
}

/* Checkboxes Page
  ================================================== */

.example--checkbox {
  display: inline-flex;
  margin-right: 2rem;
  line-height: 1.5rem;
}

/* Grid Page
  ================================================== */

.row--example {
  background-color: rgba(157, 192, 255, 0.5);
  margin: 2rem auto;
}
.column--example {
  font-size: 16px;
  text-align: center;
}
.grid--example {
  background-color: #6A8DD3;
  color: white;
  font-weight: 600;
  padding: 0.5rem;
}
.column--nested .grid--example { background-color: #2DB16C; }
.row--example.row--nested {
  background-color: rgba(45, 177, 108, 0.4);
  margin: 0;
}
.column--nested.column--example { margin: 0; }

/* Icons Page
  ================================================== */

.example--container {
  display: block;
  margin: auto;
  text-align: center;
}

.example--icon-container {
  border: 2px solid transparent;
  border-radius: 5px;
  display: inline-block;
  margin: 0.5rem;
  width: 6rem;
  height: 6rem;
  padding: 1rem 0.2rem;
  text-align: center;
}

.example--icon-container:hover { background-color: #E0E0E0; }
.example--icon-container .dashing-icon:before { font-size: 32px; }

.example--caption {
  color: #555555;
  display: block;
  font-size: 12px;
  margin-top: 1rem;
}

/* Navigation Page
  ================================================== */

.example-page--app-navigation {
  li a {
    color: #FFFFFF !important;
    opacity: 0.7;
    &.active { border-bottom-color: #FFFFFF; opacity: 1; color: #FFFFFF !important; }
  }
}
.app-menu .app-context .app-title .button--navigation.example-button--navigation:before {
  color: #FFFFFF !important;
}

.hide-HTML-code {
  +.group-open .language-html {
    display: none;
  }
  +.group-open +.language-scss {
    border-radius: 0 0 0.3rem 0.3rem;
  }
}

.show-scss {
  code[class*="language-"],
  pre[class*="language-"] {
    display: block;
  }
}

/* Radio Buttons Page
  ================================================== */

.example--radio {
  display: inline-block;
  margin-right: 2rem;
  line-height: 1.5rem;
}

/* Follow Message
  ================================================== */

.follow-message {
  background-repeat: no-repeat;
  display: table;
  width: 100%;
  background-position: center;

  .follow-message-inner {
    display: table-cell;
    font-size: .8rem;
    text-align: center;
    vertical-align: middle;
  }

  @media #{$tablet} {
    background-image: url("../../img/follow-message.svg");
    height: 500px;
    margin-top: -2rem;
    padding-bottom: 0;
  }
}

/* Intro Page
  ================================================== */

.intro {
  .hero {
    padding: 2rem;
    margin: 5rem 0 -1rem;
  }

  .note {
    border-radius: 5px;
    background-color: #DCDCDC;
    color: #555;
    padding: 1rem;
  }

  .underline {
    border-bottom: 2px solid #6E6E6E;
    padding-bottom: 0.1rem;
  }
}

/* Resources Page
  ================================================== */

.card--resource {
  overflow: auto;
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;

  h3 {
    display: inline-block;
    font-weight: 600;
  }

  .text-container {
    @media #{$tablet} {
      display: inline-block;
      width: calc(100% - 12rem);
    }

    p {
      margin: 0;
      line-height: 1.4rem;
    }
  }

  .tag { margin-top: 0.1rem; position: absolute; }

  @media #{$phone} {
    .button { display: block; width: 100%;}
  }

  .button {
    margin-top: $grid-gutter;
    @media #{$tablet} {
      margin-top: 1.3rem;
    }
  }

  .card--resource-text {
    margin-left: 0;
    @media #{$tablet} {
      margin-left: 1rem;
    }
  }

  .card--resource-buttons {
    flex-grow: 1;
    margin-top: 1rem;
    flex-basis: 100%;
    @media #{$tablet} {
      flex-grow: 0;
      margin-left: auto;
      margin-top: 0;
      flex-basis: unset;
    }
    align-self: center;
    .button {
      margin: 0;
    }
  }
  .resource-badge img {
    position: relative;
    top: 0.2rem;
    left: 0.2rem;
  }
}


.resource-image-container {
  background-color: $gray-150;
  border-radius: 8px;
  overflow: hidden;
  min-width: 94px;
  display: none;
  @media #{$tablet} {
    display: block;
  }


  &.image--wireframe-kit .resource-image { background-image: url("../../img/wireframe-kit.png"); }
  &.image--prototype-kit .resource-image { background-image: url("../../img/prototype-kit.png"); }
  &.resources--github .resource-image { background-image: url("../../img/resources--github.svg"); }
  &.resources--prototype .resource-image { background-image: url("../../img/resources--prototype.svg"); }

  .resource-image {
    background-size: 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    padding: 2.8rem;
  }
}

/* Footer
  ================================================== */

footer {
  background-color: $gray-50c;
  float: right;
  margin-top: 1rem;
  position: relative;
  width: 100%;
  text-align: center;

  a {
    display: inline-block;
    font-size: 0.8rem;
    margin-right: 1rem;
    margin-top: 1rem;
  }

  .copyright { font-size: 0.8rem; }
}

@media #{$tablet} {
  footer .copyright { display: inline-block; }
  footer a {
    margin-left: 2rem;
    margin-top: 0rem;
  }
}
