/* http://prismjs.com/download.html?themes=prism&languages=markup+css+scss&plugins=previewer-base+previewer-color */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

$white:					#FFFFFF;
$gray-50:     	#F2F2F2;
$gray-100:      #EDEDED;
$gray-150:      #E0E0E0;
$gray-900:      #222222;
$gray-300c:     #B6BBC2;
$gray-700c:     #575D64;
$gray-800:      #3B3B3B;
$gray-900c:     #24292C;
$yellow-500:    #F2E670;
$orange-200:    #FFE07E;
$code-toggle:		#313538;

$tablet:        "all and (min-width: 40em)" !default;

.example-body {
	background-color: $color-white;
	font-size: 18px;
	margin: auto;
}

.example-container {
	background-color: $color-white;
	border: 2px solid $color-border;
	border-radius: 8px 8px 0 0;
	border-bottom: none;

	.grid & {
		background-color: $color-background;
		border-color: transparent !important;
		padding: $space-l;
		border-radius: 8px; //temp
	}
}

.example-text {
	background-color: $color-gray-3;
	border-radius: 5px;
	color: $color-text;
	font-size: 0.9rem;
	padding: 0.1rem 0.3rem;
}

.example-header {
	display: inline-block;
	margin: 2rem auto 1rem;

	& + p:first-of-type {
		margin-top: 0;
	}
}

.example-tip {
	background-color: $color-background;
	border-radius: 5px;
	border: 2px solid $color-border;
	margin-bottom: 1rem;
	padding: 0.5rem;

	p {
		line-height: 1.5rem;
		margin: 0;
	}
}

.page-header {
  // background-color: $color-gray-3;
	background-color: #393e41;
	line-height: 1.7rem;
  text-align: center;
  padding: 2rem 1rem;
  margin-bottom: 1rem;
  h1 {
		color: $color-white;
    font-weight: 600;
    margin: 0;
  }
	.button {
		position: relative;
		top: -2.1rem;
	}
}

code[class*="language-"],
pre[class*="language-"] {
	border-radius: 5px;
  color: $color-white;
  font-family: monaco, 'Inconsolata', sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
	display: none;
  padding: 0;
  top: 0;
  position: relative;
  line-height: 1.4rem;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	&.show {
		display: block;
	}
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1rem;
	margin: 0 0 1rem 0;
	overflow: auto;
	border-radius: 0 0 0.3rem 0.3rem;

	&:before {
		content: "";
		border-radius: 3px;
		color: $gray-900c;
		line-height: 1rem;
		opacity: .9;
		padding: 0.2rem 0.2rem 0.3rem;
		position: absolute;
		top: 0.5rem; right: 0.5rem;
	}
}
pre.language-scss {
	border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
}

// .example-container ~ pre[class*="language-"]:first-of-type {
// 	border-radius: 0 0 0.3rem 0.3rem;
// }

pre.language-html:before {
  content: "html";
  background-color: $color-gray-2;
}

pre.language-scss:before {
	content: "scss";
	background-color: rgb(220, 165, 208);
}

pre.language-jsx:before {
	content: "jsx";
	background-color: $color-orange;
}

pre.language-css:before {
	content: "css";
	background-color: $color-orange;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background-color: rgba($code-toggle, .9);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #f8f8f2;
}

.namespace {
	opacity: .7;
}

.token.property {
	color: #FFFFB8;
}

.token.exampletag,
.token.constant,
.token.symbol,
.token.deleted,
.token.rule,
.token.keyword {
	color: #96CBFE;
}

.token.boolean,
.token.number {
	color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted,
.token.variable {
	color: #C6C5FE;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function {
	color: #a6e22e;
}

.token.regex,
.token.important {
	color: #96CBFE;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

pre.line-numbers {
	position: relative;
	padding-left: 1rem;
	counter-reset: linenumber;
}

pre.line-numbers > code {
	position: relative;
}

.line-numbers .line-numbers-rows {
	background-color: rgba($gray-700c, .8);
	padding: 1rem 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	bottom: 0;
	font-size: 100%;
	left: -3rem;
	width: 3.5rem; /* works for line-numbers below 100 lines */
	letter-spacing: -1px;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

.line-numbers-rows > span {
	pointer-events: none;
	display: block;
	counter-increment: linenumber;
}

.line-numbers-rows > span:before {
	content: counter(linenumber);
	color: $gray-300c;
	display: block;
	padding-right: 0.8em;
	text-align: right;
}

.language-bash {
	display: block !important;
	border-radius: 5px !important;
}

//code toggle
.code-toggle {
  background-color: $color-gray-3;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 0.5rem 0;
  text-align: center;
  transition: background-color .2s ease-in-out;

	.grid & {
		border-radius: 5px;
		padding: $space-xs;
	}

  .icon--code {
    background-image: url(../../img/icon--code_light.svg);
    width: 16px;
    height: 16px;
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 0 0.1rem -0.1rem 0;
  }

  &:hover {
    background-color: $code-toggle;
    &:after { color: $color-white; }
    .icon--code {
      background-image: url(../../img/icon--code.svg);
    }
  }

  &:after {
    content: "SHOW CODE";
		font-weight: 600;
    color: $color-text;
  }

  &.is-open {
    background-color: $code-toggle;
    border-radius: 5px 5px 0 0;
    .icon--code { background-image: url(../../img/icon--code.svg); }
    &:after {
      color: $color-white;
      content: "HIDE CODE";
			font-weight: 600;
    }
  }
}

.group-open {
  +.language-scss {
    display: block;
  }
  +.language-scss code[class*="language-"] {
    display: block;
  }
}

.code {
  display: none;
  overflow: hidden;
   &.show {
     display: block;
   }
}

code, pre {
white-space:pre-wrap !important;
word-wrap:break-word !important;
}
