.example-sidebar {
  display: none;
  width: 13rem;
  background-color: white;
  line-height: 2rem;
  border-right: 2px solid #d4d4d4;
  position: fixed;
  top: 0;
  bottom: 0;
  @media all and (min-width: 40em) {
    display: block;
  }

  .logo {
    height: 81px;
    width: 170px;
    text-align: center;
    background-color: white;
    margin: 1rem auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 1rem;
  }

  a {
    padding-left: 0.5rem;
    display: block;
    color: #24292C;
  }
  .active {
    color: white;
    background-color: #3F70C9;
    border-radius: 5px;
  }

  .react-sanfona-item {
    position: relative;
  }

  .react-sanfona-item-title {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0.7rem 1rem;
    border-top: 2px solid #d4d4d4;
    border-bottom: 2px solid #d4d4d4;
    margin-top: -2px !important;
  }

// Sidebar Icon arrow //
  .react-sanfona-item-body-wrapper {
    i:before {
      position: absolute;
      top: 1.35rem;
      right: 1rem;
      content: '\e82e';
    }
  }
  .react-sanfona-item-expanded {
    .react-sanfona-item-body-wrapper  {
      i:before {
        content: '\e800' !important;
      }
    }
  }

  .menu-group {
    padding: 1rem;
    background-color: #ededed;
    display: block;
  }
}

.app-content {
  @media all and (min-width: 40em) {
    margin-left: 13rem;
  }
}

.subnav {
  background-color: #3F70C9;
  box-shadow: 0 2px 6px #d4d4d4;
  h1 {
    color: white;
    padding: 2rem 3rem;
  }
  .subnav-links {
    margin: 0 3rem;
    padding-bottom: 0.55rem;
    a {
      text-transform: uppercase;
      color: white;
      margin-right: 1rem;
      padding-bottom: 0.3rem;
      &.active {
        border-bottom: 4px solid white;
      }
    }
  }
}

.content-container {
  margin: 1rem 3rem;
}

.button--sidebar-icon {
  border-radius: 0 5px 5px 0;
  position: absolute;
  top: 1.2rem;
  left: 0;
  transition: all 0.3s !important;
  z-index: 2;
  @media all and (min-width: 40em) {
    display: none;
  }
}
