@import 'dashing';

$sidebar-width:  13rem;

.example-sidebar {
  width: $sidebar-width;
  background-color: $white;
  line-height: 2rem;
  border-right: 2px solid $gray-200;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -#{$sidebar-width};
  transition: left 0.3s;
  overflow-y: auto;
  @media #{$tablet} {
    left: 0rem;
  }
  &.show {
    @media #{$phone} {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      border-right: none;
      left: 0rem;
    }
  }

  .logo {
    height: 81px;
    width: 170px;
    text-align: center;
    background-color: $white;
    margin: 1rem auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 1rem;
  }

  a {
    padding-left: 0.5rem;
    display: block;
    color: $gray-900c;
  }
  .active {
    color: $white;
    background-color: $blue;
    border-radius: 5px;
  }

  .react-sanfona-item {
    position: relative;
  }

  .react-sanfona-item-title {
    display: flex;
    align-items: center;
    background-color: $white;
    padding: 0.7rem 1rem;
    border-top: 2px solid $gray-200;
    border-bottom: 2px solid $gray-200;
    margin-top: -2px !important;
  }

// Sidebar Icon arrow //
  .react-sanfona-item-body-wrapper {
    i:before {
      position: absolute;
      top: 1.35rem;
      right: 1rem;
      content: '\e82e';
    }
  }
  .react-sanfona-item-expanded {
    .react-sanfona-item-body-wrapper  {
      i:before {
        content: '\e800' !important;
      }
    }
  }

  .menu-group {
    padding: 1rem;
    background-color: $gray-100;
    display: block;
  }
}

.app-content {
  @media all and (min-width: 40em) {
    margin-left: 13rem;
  }
}

.subnav {
  background-color: $blue;
  box-shadow: 0 2px 6px $gray-200;
  h1 {
    color: $white;
    padding: 2rem 3rem;
  }
  .subnav-links {
    margin: 0 3rem;
    padding-bottom: 0.55rem;
    a {
      text-transform: uppercase;
      color: white;
      margin-right: 1rem;
      padding-bottom: 0.3rem;
      &.active {
        border-bottom: 4px solid white;
      }
    }
  }
}

.content-container {
  margin: 1rem 3rem;
}

//Sidebar Icon
.mobile-sidebar {
  .button--sidebar-icon {
    border-radius: 0 5px 5px 0;
    position: absolute;
    top: 1.9rem;
    left: 0;
    transition: left 0.3s;
    z-index: 2;
    padding: 0.8rem 0.9rem;
    @media #{$tablet} {
      display: none;
    }
    i {
      margin: 0;
        &:not(.dashing-icon--close) {
        background-image: url("../img/menu.svg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        height: 18px;
        width: 16px;
      }
    }
  }
  &.expanded {
    .button--sidebar-icon { left: $sidebar-width; }
  }
}
