/* Tag Variables
  =========================================================================== */

$tags: '.tag';
$tag-hover-rules: '.is-selectable';
$tag-default-color: var(--button-gray-bg);

/* Tag Extendables
  =========================================================================== */

%tag {
	@include user-select(none);
	background-color: $tag-default-color;
	border: 2px solid $tag-default-color;
	border-radius: 3px;
	color: var(--color-accent);
	display: inline-block;
	font-size: $font-size-xsmall;
	font-weight: $font-weight-semibold;
	margin: 0.25rem;
	min-width: 1rem;
	padding: 0.1rem 0.25rem;
	pointer-events: none;
	text-decoration: none;
	text-transform: capitalize;

	&:hover,
	&:focus {
		cursor: default;
		opacity: 1;
		text-decoration: none;
	}
}

/* Tag Styles
  =========================================================================== */

#{$tags} {
	@extend %tag;

	&.is-selectable {
		cursor: pointer;
		pointer-events: auto;

		&:hover,
		&:focus {
			border: 2px solid var(--color-focus);
			// color: var(--color-accent);
			opacity: 1;
			text-decoration: none;
			transition: border-color 0.1s ease-in-out;
		}
	}

	&.tag--no-link { cursor: initial;
		opacity: 1; }
	&.tag--large { font-size: $font-size-normal; }

	&.tag--primary,
	&.tag--blue { @include tag--action($color: var(--color-accent)); }

	&.tag--secondary,
	&.tag--gray,
	&.tag--grey { @include tag--action($color: var(--color-text)); }
	&.tag--green { @include tag--action($color: var(--color-success)); }
	&.tag--orange { @include tag--action($color: var(--color-warning)); }
	&.tag--purple { @include tag--action($color: var(--color-primary)); }
	&.tag--red { @include tag--action($color: var(--color-error)); }
	&.tag--white { @include tag--action($color: var(--color-white)); }
	// &.tag--black { @include tag--action($color: $color-black); }
}

.tag--solid {
	&.tag--primary,
	&.tag--blue { @include tag($tag-color: var(--color-accent), 		$color: var(--color-text-invert)); }

	&.tag--secondary,
	&.tag--grey,
	&.tag--gray { @include tag($tag-color: $tag-default-color, 	$color: var(--color-text)); }
	&.tag--green { @include tag($tag-color: var(--color-success), 				$color: var(--color-text-invert)); }
	&.tag--orange { @include tag($tag-color: var(--color-warning), 			$color: var(--color-black)); }
	&.tag--purple { @include tag($tag-color: var(--color-primary), 			$color: var(--color-text-invert)); }
	&.tag--red { @include tag($tag-color: var(--color-error),    			$color: var(--color-text-invert)); }
	&.tag--white { @include tag($tag-color: var(--color-white),    		$color: var(--color-black)); }
}

//Split the tag to hold values on the right
.tag--counter {
	background-color: transparent;
	display: inline-block;

	&.tag--no-link { cursor: initial;
		opacity: 1; }

	#{$tag-hover-rules} {
		//Default hover effects
		border-color: var(--color-accent);
		transition: border-color 0.1s ease-in-out;

		// TODO: lighten and darken
		// &.tag--primary,
		// &.tag--blue { border-color: darken(var(--color-accent), 20%); }
		//
		// &.tag--secondary,
		// &.tag--grey,
		// &.tag--gray { border-color: darken($tag-default-color, 20%); }
		// &.tag--green { border-color: darken(var(--color-success), 20%); }
		// &.tag--orange { border-color: darken(var(--color-warning), 20%); }
		// &.tag--purple { border-color: darken(var(--color-primary), 20%);; }
		// &.tag--red { border-color: darken(var(--color-error), 20%);; }
		// &.tag--white { border-color: darken(var(--color-white), 20%);; }
	}

	.tag:first-child {
		border-radius: 3px 0 0 3px;
		border-right: transparent;
		margin-right: 0;
	}

	.tag:last-child {
		background-color: var(--color-container-background);
		border-left: transparent;
		border-radius: 0 3px 3px 0;
		color: var(--color-text);
		margin-left: 0;
	}
}

//Example: Custom Tags
.tag {//Basic
	&.plan-11 {	@include tag($tag-color: var(--color-warning), $color: var(--color-black)); }
}

// TODO
// .tag--counter {
// 	#{$tag-hover-rules} {
// 		&.plan-11 {
// 			border-color: darken(var(--color-warning), 20%);
// 		}
// 	}
// }

.plan-1 {//Classic
	&.tag {
		@include tag($tag-color: #8560A8, $color: var(--color-white)); }
}

// TODO
// .tag--counter {
// 	#{$tag-hover-rules} {
// 		&.plan-1 {
// 			border-color: darken(#8560a8, 20%);
// 		}
// 	}
// }

.plan-0 {//Some other one!
	&.tag {
		@include tag($tag-color: var(--color-success), $color: var(--color-white)); }
}

// TODO
// .tag--counter {
// 	#{$tag-hover-rules} {
// 		&.plan-0 {
// 			border-color: darken(var(--color-success), 20%);
// 		}
// 	}
// }
