.footer-container {
	bottom: 0;
	margin-top: -#{$footer-height_phone};
	position: absolute;
	top: unset;
	width: 100%;

	@media #{$tablet} {
		margin-top: -#{$footer-height};
	}
}

.footer {
	align-items: center;

	border-top: 2px solid var(--color-border);
	margin: auto;
	max-width: $global-content-width;
	padding: $space-m $space-m 0 $space-m;
	width: 100%;
}

.footer-nav {
	ul.footer-nav-links {
		@extend %remove-list-style;
		display: flex;
		flex-wrap: wrap;

		li {
			margin: 0 $space-l $space-m 0;

			&:last-of-type {
				margin-right: 0;
			}
		}
	}
}
