/* Tag Variables
  =========================================================================== */

$tags: ".tag";
$tag-hover-rules: "&:not(.tag--no-link):hover .tag, &:not(.tag--no-link):focus .tag";

/* Tag Extendables
  =========================================================================== */

%tag {
	@include user-select(none);
	background-color: $gray-150;
	border-radius: 3px;
	border: 2px solid $gray-150;
	color: $blue;
	cursor: pointer;
	display: inline-block;
	font-size: $font-size-xsmall;
	font-weight: 600;
	min-width: 1rem;
	padding: 0.1rem 0.25rem;
	text-transform: uppercase;
	margin: 0.25rem;
	&:not(.tag--no-link):hover,
	&:not(.tag--no-link):focus {
		border: 2px solid $blue;
		color: $blue;
		transition: border-color .1s ease-in-out;
	}
}

/* Tag Styles
  =========================================================================== */

#{$tags} {
	@extend %tag;

	&.tag--no-link  { opacity: 1; cursor: initial; }
	&.tag--large { font-size: $font-size-normal; }

	&.tag--primary,
	&.tag--blue   	  { @include tag--action($color: $blue) }
	&.tag--secondary,
	&.tag--gray,
	&.tag--grey   	  { @include tag--action($color: $gray-800) }
	&.tag--green  	  { @include tag--action($color: $green-600) }
	&.tag--orange 	  { @include tag--action($color: $orange-600) }
	&.tag--purple 	  { @include tag--action($color: $purple) }
	&.tag--red    	  { @include tag--action($color: $red) }
	&.tag--white  	  { @include tag--action($color: $white) }
	&.tag--black    	  { @include tag--action($color: $ui-black) }
}

.tag--solid {
	&.tag--primary,
	&.tag--blue       { @include tag($tag-color: $blue, 		$color: $white) }
	&.tag--secondary,
	&.tag--grey,
	&.tag--gray       { @include tag($tag-color: $gray-200, $color: $brand-black) }
	&.tag--green      { @include tag($tag-color: $green, 		$color: $white) }
	&.tag--orange     { @include tag($tag-color: $orange, 	$color: $brand-black) }
	&.tag--purple     { @include tag($tag-color: $purple, 	$color: $white) }
	&.tag--red        { @include tag($tag-color: $red,    	$color: $white) }
	&.tag--white      { @include tag($tag-color: $white,    $color: $brand-black) }
}

//Split the tag to hold values on the right
.tag--counter {
	display: inline-block;
	background-color: transparent;

	&.tag--no-link  { opacity: 1; cursor: initial; }

	#{$tag-hover-rules} {
		//Default hover effects
		border-color: $blue;
		transition: border-color .1s ease-in-out;

  	&.tag--primary,
		&.tag--blue       { border-color: darken($blue, 20%); }
		&.tag--secondary,
		&.tag--grey,
		&.tag--gray       { border-color: darken($gray-200, 20%); }
		&.tag--green  	  { border-color: darken($green, 20%); }
		&.tag--orange     { border-color: darken($orange, 20%); }
		&.tag--purple     { border-color: darken($purple, 20%);; }
		&.tag--red        { border-color: darken($red, 20%);; }
		&.tag--white      { border-color: darken($white, 20%);; }
	}

	.tag:first-child {
		border-radius: 3px 0 0 3px;
		border-right: transparent;
		margin-right: 0;
	}

	.tag:last-child {
		border-radius: 0 3px 3px 0;
		background-color: $white;
		color: $gray-800;
		border-left: transparent;
		margin-left: 0;

		&:not(.tag--no-link):hover,
		&:not(.tag--no-link):focus {
			color: $gray-800;
		}
	}
}

//Example: Custom Tags
.tag {//Basic
	&.plan-11 {	@include tag($tag-color: $orange, $color: $black) }
}

.tag--counter {
	#{$tag-hover-rules} {
		&.plan-11 {
			border-color: darken($orange, 20%);
		}
	}
}

.plan-1 {//Classic
	&.tag {
		@include tag($tag-color: #8560A8, $color: $white)
	}
}

.tag--counter {
	#{$tag-hover-rules} {
		&.plan-1 {
			border-color: darken(#8560A8, 20%);
		}
	}
}

.plan-0 {//Some other one!
	&.tag {
		@include tag($tag-color: $green, $color: $white)
	}
}

.tag--counter {
	#{$tag-hover-rules} {
		&.plan-0 {
			border-color: darken($green, 20%);
		}
	}
}
