$tooltip-color: var(--color-dark-gray-6);
$clippy-color: var(--color-container-background);

//STATE
.has-tooltip { @include user-select(none); }

//MODULE
i.paragon-tooltip,
i.paragon-clippy {
	@extend .dashing-icon;
	@extend .dashing-icon--question-filled;
	cursor: help;
	display: inline-block;
	font-size: $font-size-normal;

	@media #{$phone} {
		border-radius: 50px;
		margin: -0.6rem -0.4rem !important;
		padding: 0.6rem;
		&:hover { background-color: rgba(var(--color-container-background), 0.1); }
	}
}

span,
p,
label {
	.paragon-clippy,
	.paragon-tooltip {
		margin-left: $space-xxs;
	}
}

// Center icon when used with a smaller label
label {
	.paragon-clippy,
	.paragon-tooltip {
		position: relative;
		top: 0.1rem;
	}
}

/* Custom Tippy.js Themes
  =========================================================================== */
.tippy-box {
	&[data-theme='default'] {
		background-color: $tooltip-color;
		border: 0;
		border-radius: 5px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

		.tippy-content {
			font-size: 0.9rem;
			font-weight: $font-weight-semibold;
			line-height: 1.1rem;
			text-align: center;
		}

		> .tippy-svg-arrow {
			fill: $tooltip-color;
		}
	}

	&[data-theme='clippy'] {
		background-color: $clippy-color;
		border: 2px solid var(--color-border);
		border-radius: 5px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;

		.tippy-content {
			color: var(--color-text);
			font-size: 0.9rem;
			font-weight: $font-weight-normal;
			line-height: 1.2rem;
			padding: $space-xs $space-s;
			text-align: left;

			h4,
			p { font-size: 0.9rem; }
			p { line-height: 1.2rem; }
			h4 { font-weight: $font-weight-semibold;}
			a { margin-top: 0.5rem; }
		}
	}
}
