.accordion {
  border-radius: 5px;
  transition: box-shadow 0.2s ease-in-out, border-color 0.2s ease-in-out;
  background-color: $white;
  overflow: hidden;
  @extend %card-shadow;

  .accordion--header {
    padding: $grid-gutter;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    i.accordion--arrow {
      transition: transform 0.1s linear;
      @extend .dashing-icon--arrow-right;
      &:before { color: $black; }
    }

    .title {
      margin-left: 0.5rem;
    }

    .secondary-title {
      margin-left: auto;
    }

    &:focus,
    &:hover {
      outline: none;
      background-color: $gray-50;
    }

  }
  .accordion--content {
    display: none;
    padding: $grid-gutter;
    border-top: 2px solid $gray-100;
  }

  &:focus,
  &:hover {
    outline: none;
  }

  &.expanded {
    .accordion--header i.accordion--arrow { transform: rotate(90deg); }
    .accordion--header:hover { background-color: none; }
  }
}
