@font-face {
  font-family: 'dashing-icons';
  font-weight: normal;
  font-style: normal;
}

// [class^="icon--"]:before, [class*=" icon-"]:before  {
//
// }

.dashing-icon {
  line-height: 0;

  &:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $gray-700;
    display: inline-block;
    font-family: "dashing-icons";
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 1em;
    speak: none;
    text-decoration: inherit;
    text-align: center;
    opacity: .9;
    // For safety - reset parent styles, that can break glyph codes
    font-variant: normal;
    text-transform: none;
  }

  %action & {
    display: inline-block;
    margin-right: 0.2rem;
    margin-left: -0.2rem;
  }

  &.flow-opposite {
    %action & {
      margin-left: 0.2rem;
      margin-right: -0.2rem;
    }
  }

  .button--icon & {
    float: left;
    margin: 0;
  }

  &.dashing-icon--white:before  { color: $white; }
  &.dashing-icon--black:before  { color: $black; }
  &.dashing-icon--blue:before   { color: $blue-600; }
  &.dashing-icon--gray:before,
  &.dashing-icon--grey:before   { color: $gray; }
  &.dashing-icon--green:before  { color: $green; }
  &.dashing-icon--orange:before { color: $orange; }
  &.dashing-icon--red:before    { color: $red; }
  &.dashing-icon--purple:before { color: $purple; }

  //ui-colors
  &.dashing-icon--ui-black:before  { color: $ui-black; }
  &.dashing-icon--ui-blue:before   { color: $ui-blue; }
  &.dashing-icon--ui-green:before  { color: $ui-green; }
  &.dashing-icon--ui-red:before    { color: $ui-red; }
  &.dashing-icon--ui-orange:before { color: $ui-orange; }

  //brand-colors
  &.dashing-icon--brand-purple:before { color: $ui-purple; }

  //icon font codes

  &.dashing-icon--arrow-down:before       { content: '\e800'; } /* '' */
  &.dashing-icon--calendar:before         { content: '\e801'; } /* '' */
  &.dashing-icon--checkmark-filled:before { content: '\e802'; } /* '' */
  &.dashing-icon--checkmark-stroke:before { content: '\e803'; } /* '' */
  &.dashing-icon--close:before            { content: '\e804'; } /* '' */
  &.dashing-icon--comment-add:before      { content: '\e806'; } /* '' */
  &.dashing-icon--comment:before          { content: '\e807'; } /* '' */
  &.dashing-icon--do-not-pull:before      { content: '\e808'; } /* '' */
  &.dashing-icon--do-not-push:before      { content: '\e809'; } /* '' */
  &.dashing-icon--fit-page:before         { content: '\e80a'; } /* '' */
  &.dashing-icon--fit-width:before        { content: '\e80b'; } /* '' */
  &.dashing-icon--flip:before             { content: '\e80c'; } /* '' */
  &.dashing-icon--hidden:before           { content: '\e80d'; } /* '' */
  &.dashing-icon--info:before             { content: '\e80e'; } /* '' */
  &.dashing-icon--info-filled:before      { content: '\e80f'; } /* '' */
  &.dashing-icon--info-stroke:before      { content: '\e810'; } /* '' */
  &.dashing-icon--location:before         { content: '\e811'; } /* '' */
  &.dashing-icon--locked:before           { content: '\e812'; } /* '' */
  &.dashing-icon--minus:before,
  &.dashing-icon--zoom-out:before         { content: '\e814'; } /* '' */
  &.dashing-icon--new-tab:before          { content: '\e815'; } /* '' */
  &.dashing-icon--notification:before     { content: '\e816'; } /* '' */
  &.dashing-icon--page:before             { content: '\e817'; } /* '' */
  &.dashing-icon--pencil:before           { content: '\e818'; } /* '' */
  &.dashing-icon--phone:before            { content: '\e819'; } /* '' */
  &.dashing-icon--play:before             { content: '\e81b'; } /* '' */
  &.dashing-icon--plus:before,
  &.dashing-icon--add:before,
  &.dashing-icon--zoom-in:before          { content: '\e81c'; } /* '' */
  &.dashing-icon--pull:before             { content: '\e81d'; } /* '' */
  &.dashing-icon--push:before             { content: '\e81e'; } /* '' */
  &.dashing-icon--question-filled:before  { content: '\e81f'; } /* '' */
  &.dashing-icon--quicknav:before,
  &.dashing-icon--grid:before             { content: '\e820'; } /* '' */
  &.dashing-icon--reply:before            { content: '\e821'; } /* '' */
  &.dashing-icon--rotate:before           { content: '\e822'; } /* '' */
  &.dashing-icon--search:before           { content: '\e823'; } /* '' */
  &.dashing-icon--settings:before         { content: '\e824'; } /* '' */
  &.dashing-icon--show:before             { content: '\e825'; } /* '' */
  &.dashing-icon--time:before             { content: '\e826'; } /* '' */
  &.dashing-icon--trash:before            { content: '\e827'; } /* '' */
  &.dashing-icon--unlocked:before         { content: '\e828'; } /* '' */
  &.dashing-icon--view-double:before      { content: '\e829'; } /* '' */
  &.dashing-icon--arrow-left:before       { content: '\e82a'; } /* '' */
  &.dashing-icon--arrow-long-down:before  { content: '\e82b'; } /* '' */
  &.dashing-icon--arrow-long-left:before  { content: '\e82c'; } /* '' */
  &.dashing-icon--arrow-long-up:before    { content: '\e82d'; } /* '' */
  &.dashing-icon--arrow-right:before      { content: '\e82e'; } /* '' */
  &.dashing-icon--arrow-up:before         { content: '\e82f'; } /* '' */
  &.dashing-icon--heart:before            { content: '\e832'; } /* '' */
  &.dashing-icon--question-stroke:before  { content: '\e833'; } /* '' */
  &.dashing-icon--view-single:before      { content: '\e834'; } /* '' */
  &.dashing-icon--checkmark:before        { content: '\e835'; } /* '' */
  &.dashing-icon--arrow-long-right:before { content: '\e836'; } /* '' */
  &.dashing-icon--alert-stroke:before     { content: '\e837'; } /* '' */
  &.dashing-icon--alert-filled:before     { content: '\e838'; } /* '' */
  &.dashing-icon--add-person:before       { content: '\e839'; } /* '' */

  //Below Added on Jan 15, 2018
  &.dashing-icon--inbox:before            { content: '\e83d'; } /* '' */
  &.dashing-icon--face-amazing:before     { content: '\e83e'; } /* '' */
  &.dashing-icon--face-awful:before       { content: '\e83f'; } /* '' */
  &.dashing-icon--face-ok:before          { content: '\e840'; } /* '' */
  &.dashing-icon--face-good:before        { content: '\e841'; } /* '' */
  &.dashing-icon--face-bad:before         { content: '\e842'; } /* '' */
  &.dashing-icon--mobile-phone:before     { content: '\e844'; } /* '' */
  &.dashing-icon--notification-off:before { content: '\e845'; } /* '' */
  &.dashing-icon--star-stroke:before      { content: '\e847'; } /* '' */
  &.dashing-icon--star-filled:before,
  &.dashing-icon--star:before             { content: '\e831'; } /* '' */
  &.dashing-icon--menu:before             { content: '\e849'; } /* '' */
  &.dashing-icon--categories:before       { content: '\e84a'; } /* '' */
  &.dashing-icon--mail:before             { content: '\e81a'; } /* '' */
  &.dashing-icon--chat-filled:before      { content: '\e813'; } /* '' */
  &.dashing-icon--popular:before          { content: '\e830'; } /* '' */
  &.dashing-icon--paper-check:before      { content: '\e83a'; } /* '' */
  &.dashing-icon--paper-check-2:before    { content: '\e805'; } /* '' */

  //Added Feb 16, 2018
  &.dashing-icon--pause:before            { content: '\e846'; } /* '' */
}

.flex.has-icon {
  .dashing-icon { margin-right: $space-xs; }
}
