// Icon map
$icon-map: (
	'arrow-down': '\e800',
	'calendar': '\e801',
	'checkmark-filled': '\e802',
	'checkmark-stroke': '\e803',
	'close': '\e804',
	'comment-add': '\e806',
	'comment': '\e807',
	'do-not-pull': '\e808',
	'do-not-push': '\e809',
	'fit-page': '\e80a',
	'fit-width': '\e80b',
	'flip': '\e80c',
	'hidden': '\e80d',
	'info': '\e80e',
	'info-filled': '\e80f',
	'info-stroke': '\e810',
	'location': '\e811',
	'locked': '\e812',
	'minus': '\e814',
	'zoom-out': '\e814',
	'new-tab': '\e815',
	'notification': '\e816',
	'page': '\e817',
	'pencil': '\e818',
	'phone': '\e818',
	'play': '\e81b',
	'plus': '\e81c',
	'add': '\e81c',
	'pull': '\e81d',
	'push': '\e81e',
	'question-filled': '\e81f',
	'quicknav': '\e820',
	'grid': '\e820',
	'reply': '\e821',
	'rotate': '\e822',
	'search': '\e823',
	'settings': '\e824',
	'show': '\e825',
	'time': '\e826',
	'trash': '\e827',
	'unlocked': '\e828',
	'view-double': '\e829',
	'arrow-left': '\e82a',
	'arrow-long-down': '\e82b',
	'arrow-long-left': '\e82c',
	'arrow-long-up': '\e82d',
	'arrow-right': '\e82e',
	'arrow-up': '\e82f',
	'heart': '\e832',
	'question-stroke': '\e833',
	'view-single': '\e834',
	'checkmark': '\e835',
	'arrow-long-right': '\e836',
	'alert-stroke': '\e837',
	'alert-filled': '\e838',
	'add-person': '\e839',
	//Below Added on Jan 15, 2018
	'inbox': '\e83d',
	'face-amazing': '\e83e',
	'face-awful': '\e83f',
	'face-ok': '\e840',
	'face-good': '\e841',
	'face-bad': '\e842',
	'mobile-phone': '\e844',
	'notification-off': '\e845',
	'star-stroke': '\e847',
	'star-filled': '\e831',
	'star': '\e831',
	'menu': '\e849',
	'categories': '\e84a',
	'mail': '\e81a',
	'chat-filled': '\e813',
	'popular': '\e830',
	'paper-check': '\e83a',
	'paper-check-2': '\e805',
	//Added Feb 16, 2018
	'pause': '\e846'
);

@each $name, $glyph in $icon-map {
	.dashing-icon--#{$name}::before {
		content: $glyph;
	}
}

// Icon color map
$icon-color-map: (
	'white': $color-white,
	'black': $color-black,
	'blue': $color-blue,
	'gray': $color-gray-3,
	'grey': $color-gray-3,
	'green': $color-green,
	'orange': $color-orange,
	'red': $color-red,
	'purple': $color-purple
);

@each $name, $color in $icon-color-map {
	.dashing-icon--#{$name}::before {
		color: $color !important;
	}
}

// Icon color map (mirrors typography sizes)
$icon-size-map: (
	'xs': $font-size-xsmall,
	's': $font-size-small,
	'm': $font-size-medium,
	'l': $font-size-large,
	'xl': $font-size-xlarge
);

@each $name, $size in $icon-size-map {
	.dashing-icon--#{$name}::before {
		font-size: $size !important;
	}
}

@font-face {
	font-family: 'dashing-icons';
	font-style: normal;
	font-weight: $font-weight-normal;
}

.dashing-icon {
	line-height: 0;

	&::before {
		color: $color-icon-primary;
		display: inline-block;
		font-family: 'dashing-icons';
		font-size: 1em; // Used em so icon takes the size of the parent
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-style: normal;
		// For safety - reset parent styles, that can break glyph codes
		font-variant: normal;
		font-weight: $font-weight-normal;
		line-height: 1em;
		opacity: 0.9;
		speak: none;
		text-align: center;
		text-decoration: inherit;
		text-transform: none;
	}

	%action & {
		display: inline-block;
		margin-left: -0.2rem;
		margin-right: 0.2rem;
	}

	&.flow-opposite {
		%action & {
			margin-left: 0.2rem;
			margin-right: -0.2rem;
		}
	}

	.button--icon & {
		float: left;
		margin: 0;
	}
}

.flex.has-icon {
	align-items: baseline;
	.dashing-icon { margin-right: $space-xs; }
}
