@use '/node_modules/@smi/design-tokens/dist/scss/tokens.scss' as token;
@use '/node_modules/@smi/design-tokens/dist/css/tokens' as *;

:root {
	// --color-purple: #595478;
	// --color-semantic-blue: #097cbf;
	// --color-semantic-green: #00875d;
	// --color-semantic-red: #d1323f;
	// --color-semantic-orange: #f8652a;
	// --color-data-purple: #9f8fca;
	// --color-data-teal: #64ccc9;
	// --color-black: #222228;
	// --color-gray-4: #6f6f75;
	// --color-gray-3: #e1e1e7;
	// --color-gray-2: #eeeef4;
	// --color-gray-1: #f3f3f9;
	// --color-white: #ffffff;
	// --color-dark-semantic-blue: #30bbf7;
	// --color-dark-semantic-green: #3eb188;
	// --color-dark-semantic-orange: #f97b49;
	// --color-dark-semantic-red: #f34448;
	// --color-dark-gray-5: #898890;
	// --color-dark-gray-6: #56555c;

	//need to adjust token color
	--color-dark-gray-7: #2e2d38;

	//added gray-8 for 50% of gray-7 (for disabled inputs)
	--color-dark-gray-8: #25232b;
}


/* Variants of Base Colors */
$color-purple-light: lighten(token.$color-purple, 10%);
$color-purple-dark: darken(token.$color-purple, 10%);

$color-semantic-blue-light: lighten(token.$color-semantic-blue, 10%);
$color-semantic-blue-dark: darken(token.$color-semantic-blue, 10%);

$color-semantic-green-light: lighten(token.$color-semantic-green , 10%);
$color-semantic-green-dark: darken(token.$color-semantic-green, 10%);

$color-semantic-orange-light: lighten(token.$color-semantic-orange, 10%);
$color-semantic-orange-dark: darken(token.$color-semantic-orange, 10%);

$color-semantic-red-light: lighten(token.$color-semantic-red, 10%);
$color-semantic-red-dark: darken(token.$color-semantic-red, 10%);

/* Data Visuals */
$color-data-teal-light: lighten(token.$color-data-teal, 10%);
$color-data-teal-dark: darken(token.$color-data-teal, 10%);

$color-data-purple-light: lighten(token.$color-data-purple, 10%);
$color-data-purple-dark: darken(token.$color-data-purple, 10%);

/* Variants of Dark Mode Colors */
$color-dark-semantic-blue-light: lighten(token.$color-dark-semantic-blue, 10%);
$color-dark-semantic-blue-dark: darken(token.$color-dark-semantic-blue, 10%);

$color-dark-semantic-green-light: lighten(token.$color-dark-semantic-green, 10%);
$color-dark-semantic-green-dark: darken(token.$color-dark-semantic-green, 10%);

$color-dark-semantic-red-light: lighten(token.$color-dark-semantic-red, 10%);
$color-dark-semantic-red-dark: darken(token.$color-dark-semantic-red, 10%);

$color-dark-semantic-orange-light: lighten(token.$color-dark-semantic-orange, 10%);
$color-dark-semantic-orange-dark: darken(token.$color-dark-semantic-orange, 10%);

$color-dark-gray-6-light: lighten(token.$color-dark-gray-6, 10%);
$color-dark-gray-6-dark: darken(token.$color-dark-gray-6, 10%);

/* Gradient */
$color-gradient: linear-gradient(to right, token.$color-purple, #5a89ad, token.$color-data-teal);

/* Shadows */
$color-shadow: #3c4043;
