@use '/node_modules/@smi/design-tokens/dist/scss/tokens.css';

/* Base Colors */
$color-purple: var(--color-purple) !default;
$color-purple-light: lighten($color-purple, 10%) !default;
$color-purple-dark: darken($color-purple, 10%) !default;

$color-blue: var(--color-semantic-blue) !default;
$color-blue-light: lighten($color-blue, 10%) !default;
$color-blue-dark: darken($color-blue, 10%) !default;

$color-green: var(--color-semantic-green) !default;
$color-green-light: lighten($color-green, 10%) !default;
$color-green-dark: darken($color-green, 10%) !default;

$color-orange: var(--color-semantic-orange) !default;
$color-orange-light: lighten($color-orange, 10%) !default;
$color-orange-dark: darken($color-orange, 10%) !default;

$color-red: var(--color-semantic-red) !default;
$color-red-light: lighten($color-red, 10%) !default;
$color-red-dark: darken($color-red, 10%) !default;

$color-black: var(--color-black) !default;
$color-gray-4: var(--color-gray-4) !default;
$color-gray-3: var(--color-gray-3) !default;
$color-gray-3-dark: darken($color-gray-3, 10%) !default;
$color-gray-2: var(--color-gray-2) !default;
$color-gray-1: var(--color-gray-1) !default;
$color-white: var(--color-white) !default;

/* Data Visuals */
$color-data-teal: var(--color-data-teal);
$color-data-purple: var(--color-purple);

/* Dark Mode */
// TODO: add light and dark versions
$color-dark-semantic-blue: var(--color-dark-semantic-blue);
$color-dark-semantic-green: var(--color-dark-semantic-green);
$color-dark-semantic-red: var(--color-dark-semantic-red);
$color-dark-semantic-orange: var(--color-dark-semantic-orange);

$color-dark-gray-5: var(--color-dark-gray-5);
$color-dark-gray-6: var(--color-dark-gray-6);
$color-dark-gray-7: var(--color-dark-gray-7);

/* Gradient */
$color-gradient: linear-gradient(to right, $color-purple, #5a89ad, $color-data-teal);

/* Shadows */
$color-shadow: #3c4043;
