@mixin button($background-color, $background-color-dark, $color, $button-type: default) {
  @if $button-type == default {
    background-color: $background-color;
    color: $color;
    .dashing-icon::before { color: $color; }

    &:hover,
    &:focus,
    &:active {
      background-color: $background-color-dark;
    }
  }

  @if $button-type == border {
    background-color: transparent;
    border-color: $background-color;
    color: $background-color;

    .dashing-icon::before { color: $background-color; }

    &:hover,
    &:focus,
    &:active {
      background-color: $background-color-dark;
      border-color: transparent;
      color: $color;

      .dashing-icon::before {
        color: $color;
        transition: all 50ms ease-in-out;
      }
    }
  }

  @if $button-type == transparent {
    background-color: transparent;
    color: $background-color;

    &:hover,
    &:focus,
    &:active { background-color: $color-gray-2; }
    .dashing-icon::before { color: $background-color; }
  }
}

@mixin user-select($value) {
  -webkit-user-select: $value;
  -moz-user-select: $value;
  -ms-user-select: $value;
  -o-user-select: $value;
  user-select: $value;
}
