/* Actions Variables
  =========================================================================== */

$buttons: ".button, button, input[type='submit'], input[type='reset']";
$button-disabled: "&[disabled], &.disabled, &.button--disabled";

/* Actions Extendables
  =========================================================================== */

%action {
  @include user-select(none);
  border: none;
  cursor: pointer;
  font-size: $font-size-small;
  font-weight: $font-weight-semibold;
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 50ms ease-in-out;
  &:first-of-type { margin-left: 0; } //Clears left margin of first %action element
  &:last-of-type { margin-right: 0; } //Clears right margin of last %action element
  &:hover { transition: all .1s ease-in-out; }
}

/* Actions Styles
  =========================================================================== */
#{$buttons} {
  @extend %action;
  @extend %button--smooth;
  @include button($background-color: $blue, $color: $white);

  -webkit-font-smoothing: auto;
  font-weight: $font-weight-normal;
  margin: 0.05rem 0.25rem;
  padding: 0.75rem 1rem;
  text-align: center;

  @media #{$tablet} {
    display: inline-block;
    padding: 0.5rem 1rem;
  }

  #{$button-disabled} {
    cursor: default;
    opacity: 0.4;
    pointer-events: none;
  }

  //Ripple Effect
  &.ripple {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);

    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      pointer-events: none;
      background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
      background-repeat: no-repeat;
      background-position: 50%;
      transform: scale(10, 10);
      opacity: 0;
      transition: transform .5s, opacity 1s;
    }

    &:active:after {
      transform: scale(0, 0);
      opacity: .3;
      transition: 0s;
    }
  }

  &.button-block,
  &.button--block {
    display: block !important;
    width: 100%;
  }

  //Button Sizes
  &.button--large {
    font-size: $font-size-medium !important;
    padding: 0.6rem 1.2rem;
  }
  &.button--small {
    font-size: $font-size-xsmall !important;
    padding: 0.4rem 0.75rem;
  }

  //Button Color Options
  &.button--primary { @include button($background-color: $blue, $color: $white); }

  &.button--gray,
  &.button--grey,
  &.button--secondary {
    @include button($background-color: $gray-200, $color: $gray-900);
    .dashing-icon:before { color: $gray-700 !important; }
  }
  &.button--blue {@include button($background-color: $blue, $color: $white); }
  &.button--green { @include button($background-color: $green, $color: $white); }
  &.button--orange { @include button($background-color: $orange, $color: $black); }
  &.button--purple { @include button($background-color: $purple, $color: $white); }
  &.button--red { @include button($background-color: $red, $color: $white); }
  &.button--white { @include button($background-color: $white, $color: $gray-800); }
  &.button--black { @include button($background-color: $black, $color: $white); }

  //Used to display actions and icons with a transparent background
  //transparentize(white, 1) used instead of transparent because "darken" requires an rgb color value
  &.button--transparent {
    @include button($background-color: transparentize(white, 1), $color: $blue);
    @include transparent--button($color: $blue);
    &:not(.button--icon) { //Retains button--icon padding
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }

    &.button--primary { @include transparent--button($color: $blue); }
    &.button--secondary { @include transparent--button($color: $gray-600); }
    &.button--blue { @include transparent--button($color: $blue); }
    &.button--gray,
    &.button--grey { @include transparent--button($color: $gray-600); }
    &.button--green { @include transparent--button($color: $green); }
    &.button--red { @include transparent--button($color: $red); }
    &.button--orange { @include transparent--button($color: $orange); }
    &.button--purple { @include transparent--button($color: $purple); }
    &.button--white { @include transparent--button($color: $white); }
  }

  &.button--border {
    @include border--button($blue);
    border: 2px solid;

    @media #{$tablet} {
      padding-top: calc(0.45rem - 2px);
      padding-bottom: calc(0.5rem - 2px);
      padding-left: calc(1rem - 2px);
      padding-right: calc(1rem - 2px);
    }

    &.button--primary { @include border--button($blue); }
    &.button--blue { @include border--button($blue); }
    &.button--green { @include border--button($green); }
    &.button--red { @include border--button($red); }
    &.button--orange { @include border--button($orange); }
    &.button--purple { @include border--button($purple); }

    &.button--gray,
    &.button--secondary {
      @include button($background-color: transparentize(white, 1), $color: $gray-700); border-color: $gray-500;
      &:hover, &:focus { @include button($background-color: $gray-200, $color: $gray-900); border-color: transparentize(white, 1);}
      .dashing-icon:before {
        color: $gray-800 !important;
        transition: all 50ms ease-in-out;
      }
    }

    &.button--white {
      @include border--button($white);
      &:hover, &:focus {
        color: $gray-800 !important;
        .dashing-icon:before {
          color: $gray-800 !important;
          transition: all 50ms ease-in-out;
        }
      }
    }
  }

  &.button--round { @extend %button--round; }
  &.button--smooth { @extend %button--smooth; }
  &.button--square { @extend %button--square; }

  //Fixes Firefox alignment
  .dashing-icon.flow-opposite { display: inline-block; }
}

//Used for creating clickable dashing icons
.button--icon {
  border-radius: 50px !important;
  padding: 1rem;
  &.button--icon--small,
  &.button--small { padding: 0.6rem; }

  &.button--icon--main {
    @extend %shadow-100;
    &:active { @extend %shadow-50; }
  }

  //Used to display actions and icons with a transparent background
  &.button--transparent {
    &:hover, &:focus { @include button($background-color: rgba($gray, .2), $color: transparentize(white, 1)); opacity: 1;}
  }
}

//Provides margin when a button and action are paired together
.button ~ .action {
  margin-left: 0.5rem;
}
