@mixin button-group($background-color, $color) {
	.button { @include button($background-color, darken($background-color, 10%), $color); }

	input:checked ~ label { //active state of button-group
		background-color: darken($background-color, 10%);
		border-color: darken($background-color, 10%);
	}
}

@mixin button-group--border($background-color, $checked-color) {
	.button { @include transparent--button($color-gray-4); }

	input:checked ~ label { //active state of button-group
		background-color: $background-color;
		border-color: $background-color;
		color: $checked-color;

		&:hover { background-color: $background-color; }

		.dashing-icon:before { color: $checked-color; }
	}
}

// Toggle Button Styles
.button-group {
	@extend .button--smooth;
	margin: 0;
	padding: 0;
	overflow: auto;

	.button--radio {
		@include button-group($color-blue, $color-white);
		display: inline-block;
		float: left;

		&:first-of-type label {
			margin-left: 0;
			border-radius: 50px 0 0 50px;
		}

		&:last-of-type label {
			border-radius: 0 50px 50px 0;
		}

		input { display: none; }

		label {
			border-radius: 0;
			display: inline-block;
			margin: 0 0 0 -1px;
		}
	}
	//border radius for smooth buttons
	&.button--smooth {
		.button--radio:first-of-type label { border-radius: 5px 0 0 5px; }

		.button--radio:last-of-type label { border-radius: 0 5px 5px 0; }
	}

	//border radius for square buttons
	&.button--square {
		.button--radio:first-of-type label,
		.button--radio:last-of-type label { border-radius: 0; }
	}

	&.button--blue 		{ .button--radio { @include button-group($color-blue, $color-white); } }

	&.button--green   { .button--radio { @include button-group($color-green, $color-white); } }

	&.button--orange  { .button--radio { @include button-group($color-orange, $color-black); } }

	&.button--purple  { .button--radio { @include button-group($color-purple, $color-white); } }

	&.button--red     { .button--radio { @include button-group($color-red, $color-white); } }

	&.button--gray,
	&.button--grey {
		.button--radio { @include button-group($color-gray-4, $color-white); }

		.button { border-color: $color-gray-3 !important; }
	}

	//Border Button Groups
	&.button--border {
		.button--radio    { @include button-group--border($color-blue, $color-white);} //default button-group--border style
		&.button--blue    { .button--radio { @include button-group--border($color-blue, $color-white); } }

		&.button--green   { .button--radio { @include button-group--border($color-green, $color-white); } }

		&.button--orange  { .button--radio { @include button-group--border($color-orange, $color-black); } }

		&.button--purple  { .button--radio { @include button-group--border($color-purple, $color-white); } }

		&.button--red     { .button--radio { @include button-group--border($color-red, $color-white); } }

		&.button--gray,
		&.button--grey {
			.button--radio { @include button-group--border($color-gray-3, $color-gray-4); }

			.button { border-color: $color-gray-3 !important; }
		}

		.button {
			border: 1px solid $color-border;
			display: inline-block;
			background-color: transparent;
			color: $color-subtext;
		}
	}

	.dashing-icon { margin: 0 !important; }

	.dashing-icon--arrow-left { width: 16px; } //fixes weird sizing difference between arrow-right and arrow-left
}

/* Vertical Button Styles
  =========================================================================== */
@mixin button-group--vertical {
	display: -webkit-inline-box;
	display: -moz-inline-box;
	display: -ms-inline-flexbox;
	display: -webkit-inline-flex;
	display: inline-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;

	.button--radio {
		display: block;

		&:first-of-type label { margin-top: 0; }

		label {
			display: block !important;
			border-width: 1px;
			margin: auto;
			margin-top: -1px;
		}
	}
}

.button-group.button-group--vertical {
	@include button-group--vertical;
	@include button-group--vertical-border;
}

.button-group.button-group--vertical_phone {
	@media #{$phone} {
		@include button-group--vertical;
		@include button-group--vertical-border;
	}
}

.button-group.button-group--vertical_tablet {
	@media #{$tablet} {
		@include button-group--vertical;
		@include button-group--vertical-border;
	}
}
