.text-color--white { color: $color-white; }
.text-color--black { color: $color-black; }
.text-color--gray, .text-color--grey { color: $color-subtext; }
.text-color--blue { color: $color-blue; }
.text-color--green { color: $color-green; }
.text-color--orange { color: $color-orange; }
.text-color--purple { color: $color-purple; }
.text-color--red { color: $color-red; }
