//Remove margin
.remove-margin, .no-margin { margin: 0 !important; }
.remove-margin--top, .no-margin--top { margin-top: 0 !important; }
.remove-margin--right, .no-margin--right { margin-right: 0 !important; }
.remove-margin--bottom, .no-margin--bottom { margin-bottom: 0 !important; }
.remove-margin--left, .no-margin--left { margin-left: 0 !important; }

//Remove padding
.remove-padding, .no-padding { padding: 0 !important; }
.remove-padding--top, .no-padding--top { padding-top: 0 !important; }
.remove-padding--right, .no-padding--right { padding-right: 0 !important; }
.remove-padding--bottom, .no-padding--bottom { padding-bottom: 0 !important; }
.remove-padding--left, .no-padding--left { padding-left: 0 !important; }
