/* Imported font family
  ================================================== */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700);

/* Imported base components
  ================================================== */
@import "./vendor/vendor";
@import "./colors/given-colors";
@import "./mixins/mixins";
@import "./variables/variables";
@import "./utilities/utilities";
@import "./extendables/extendables";
@import "./typography/typography";
// @import "./grid/css-grid";
@import "./theme/theme";
@import "./icons/icons";

@font-face {
  font-family: 'dashing-icons';
  src: url('https://assets.smchcn.net/dashing-icons.woff') format('woff');
}

/* Default base element styles
  ================================================== */

hr {
  border: 0;
  border-top: 2px solid $color-border;
}
