/* Card Styles
  =========================================================================== */

//TODO remove .card--header, .card--content, .card--footer with major release

.card {
  background-color: $white;
  border-radius: 5px;
  margin: 1.5rem auto;
  @extend %card-shadow;

  .grid & { margin-bottom: $space-m; }
  @media #{$phone} {
    .grid & {
      @supports(display: grid) { //Fallback. IE does not support negative margin on cards
        border-radius: 0;
        margin-left: -#{$space-m};
        margin-right: -#{$space-m};
  		}
    }
  }

  .card--header, &.card--content, &.card--footer,
  .card-header, &.card-content, &.card-footer {
    hr { margin: ($grid-gutter) 0; }
  }

  //Spans the hr full width within a card. card--header, card--content, card--footer will use padding for spacing.
  hr { margin: 0; }

  .card--header,
  .card-header {
    padding: $grid-gutter $grid-gutter 0 $grid-gutter;
    padding-bottom: 0;
    &.has-border {
      border-bottom: 2px solid $gray-100;
      padding-bottom: $grid-gutter;
      +.card--content .card-banner,
      +.card-content .card-banner  {
        margin-top: -$grid-gutter;
      }
    }
    h1, h2, h3, h4 { margin-bottom: 0; } //removes default margin-bottom in card-headers
  }


  .card--content,
  .card-content {
    overflow: auto;
    padding: $grid-gutter;
  }

  .card--footer,
  .card-footer {
    padding: 0 $grid-gutter $grid-gutter $grid-gutter;
    &.has-border {
      border-top: 2px solid $gray-100;
      padding-top: $grid-gutter;
    }
  }

  .card--header + &.card--footer,
  .card-header + &.card-footer {
    padding-top: $grid-gutter;
  }

  //Use "is-selectable" to indicate a clickable card, add disabled or is-disabled to fade back the card
  &.is-selectable {
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;

    &:hover {
      @extend %card-shadow--hover;
      cursor: pointer;
    }
  }

  &.disabled,
  &.is-disabled,
  &.is-selectable.is-disabled,
  &.is-selectable.disabled {
    opacity: 0.4;
    pointer-events: none;
    background-color: $gray-200;
    box-shadow: none;
  }

  &.card--dashed {
    border: 2px dashed $gray-200;
    box-shadow: none;
  }

  .card--narrow{
    max-width: 750px;
  }

  .card--list, .card-list {
    margin: 0;
    padding: 0;
    list-style: none;
     li {
      padding: 0.75rem;
      transition: $global-transition;
    }
     &.is-selectable {
      li {
        cursor: pointer;
        &:hover {
          background-color: $gray-100;
        }
      }
    }
  }
  //Table within Card
  .table--container {
    overflow-x: auto;
    border-radius: 0 0 5px 5px;
    .table,
    table {
      margin-top: $grid-gutter !important;
      border-radius: 0 0 5px 5px;
      th {
        border-top: 2px solid;
        border-color: $gray-200;
        padding: $space-xs $space-m !important;
        background-color: $gray-100;
      }
      &.has-arrow {
        th,tr {
          td:last-of-type  {
            width: 3rem;
          }
        }
      }
      &.is-selectable {
        tbody tr {
          transition: $global-transition;
          &:hover {
            cursor: pointer;
            background-color: $gray-100;
          }
        }
      }
    }
  }
}
