//Variables
$container-colors: $blue;//#413552
$sidebar-background: #354052;
$app-background:     #e0e0e0;
$sidebar-highlight:  #9D6CDE;
$sidebar-text-color: $white;
$sidebar-width: 12rem;

$content-width: 1200px;

$header-padding: 0.5rem;
$header-height: 5rem;
$half-padding: 0.5rem;
$full-padding: $grid-gutter;//1rem;

//Theme
.header {
  overflow: hidden;
  z-index: 3;
  display: flex;
  align-items: center;
  padding: $header-padding;
  position: relative;
  grid-column: 1 / -1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  clear: both;/*fallback*/
  height: $header-height;
  max-height: $header-height;

  max-width: $content-width;
  margin: auto;

  .title, .spacer { display: none; }//hidden unless "fullscreen" is applied

}

.app {
  float: right;/*fallback*/
  margin-top: $header-height;
  -webkit-overflow-scrolling: touch;

  grid-column: 1 / 3;
  width: 100%;

  @media #{$tablet} {
    grid-column: 2 / 3;
    width: calc(100% - #{$sidebar-width});/*fallback*/
  }
}

//Structure
.content {
  max-width: $content-width;
  margin: auto;
  &.content--reader-width {//move this to base?
    max-width: $content-width / 2;
  }
}

.grid-phoenix {
  display: grid;
  grid-template-columns: $sidebar-width 1fr;
  margin: 0 auto;

  &.map {
    grid-template-columns: 1fr $sidebar-width;
  }
}

@supports (display: grid) { .grid-phoenix > * { width: auto; } }

//--------------------------------\\
//---------- FULLSCREEN ----------\\
//--------------------------------\\
//Dashboard for fullscreen processes (add .fullscreen to .grid-phoenix)

.fullscreen {
  .header {
    .title {
      display: inline;
      width: 100%;
      color: $white;
      font-size: 1.25rem;
      font-weight: 600;
      flex-direction: column;
      text-align: left;
      flex: 4;

      @media #{$tablet} { color: $black; flex: auto; text-align: center;}

      .subtitle {
        opacity: 0.6;
        margin: 0;
        color: $white;

        @media #{$tablet} { color: $black; }
      }
    }

    .spacer {
      display: flex;
      width: auto;
      padding-right: 0.5rem;

      &:last-of-type  { flex: 1; justify-content: flex-end; }

      @media #{$tablet} {
        width: 40rem;
        &:last-of-type { flex: auto; }
      }

      .action {
        white-space: nowrap;
      }
    }
  }

  .logo, .alert, .profile, .mobile-sidebar--button, .crumbs { display: none; }
  .sidebar { display: none; width: 0rem;}
  .app     { grid-column: 1 / 3; width: 100%; }
}

.map {
  .sidebar {
    &.is-hidden {
      display: none; width: 0rem;
    }
  }
  .app { float: left; grid-column: 1 / 3; width: 100%; }
}
