//--------------------------------\\
//---------- VARIABLES  ----------\\
//--------------------------------\\

$content-width: 1200px !default;

$header-height: 4rem;
$sub-nav-height: 3rem;

$header-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);

.header {
  z-index: 2;
  display: flex;
  align-items: center;
  padding: $space-xs;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;
  max-height: $header-height;

  max-width: $content-width;
  margin: auto;

  width: 100%;//IE wants this... okay IE. Here you are.

  &::after {
    z-index: -1;
  	content: "";
  	width: 100%;
  	height: $header-height;
    background: $brand-blue;
  	position: fixed;
  	top: 0;
  	left: 0;
  }

  .header-nav {

    ul {
      @extend %remove-list-style;

      li {
        display: inline-block;
        align-items: center;

        a {
          margin: 0 $space-m;
          display: flex;
          align-items: center;
          color: $white;
          font-weight: 600;
          font-size: 1.1rem;
          border-bottom: 2px solid transparent;
          @include transition(0.2s ease-out);

          &:hover, &.active { border-bottom: 2px solid $white; }

        }
      }
    }
  }
}

.content {
  z-index: 0;
  max-width: $content-width;
  margin: auto;
  margin-top: $header-height;
  -webkit-overflow-scrolling: touch;

  &.content--reader-width { //TODO rename this
    max-width: $content-width / 2;
  }
}

.sub-nav {
  z-index: 1;
  height: $sub-nav-height;

  ~.content {
    margin-top: calc(#{$header-height} + #{$sub-nav-height});
  }

  position: fixed;
  left: 0;
  right: 0;
  top: $header-height;

  max-width: $content-width;
  margin: auto;

  width: 100%;

  &::after {
  	content: "";
    box-shadow: $header-shadow;
  	width: 100%;
  	height: $sub-nav-height;
    background-color: $white;
  	position: fixed;
  	top: $header-height;
  	left: 0;
  	z-index: -1;
  }

  ul, li, a {
    height: 100%;
  }

  ul {
    @extend %remove-list-style;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;

    li {
      display: inline-block;
      margin: 0 $space-m;

      a {
        display: flex;
        align-items: center;
        color: $brand-blue;
        font-weight: 600;
        font-size: 1rem;
        @include transition(0.2s ease-out);

        border-bottom: 3px solid transparent;
        &:hover, &.active  { border-bottom: 3px solid $brand-blue; }
      }
    }
  }
}
