//This file is for small elements that have not yet been approved
//but needed to be represented visually

.logo {
  width: 10.75rem;
  height: 4rem;
  background-color: $container-colors;
}

.crumbs {
  margin-left: 0;
  padding-left: 1rem;
  color: $white;
  font-weight: 600;
  margin-right: auto;

  @media #{$tablet} {
    padding-left: 2rem;
    color: $black;
  }
}

.profile {
  width: 3rem;
  height: 3rem;
  border-radius: 50px;
  background-color: $container-colors;
  margin-left: 0.5rem;

  @extend %icon-white;
}

.alert {
  width: 2rem;
  height: 2rem;
  border-radius: 50px;
  background-color: $container-colors;
  margin-left: 0.5rem;
  position: relative;

  @extend %icon-white;

  .count {
  	position: absolute;
  	bottom: 1rem;
  	right: 1rem;
  	background-color: $red-500;
  	border-radius: 50px;
  	color: $white;
    font-weight: bold;
    padding: 0rem 0.25rem;
    text-align: center;
    min-width: 1.25rem;
  }
}

.logo, .profile, .alert, .mobile-sidebar--button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert { margin-left: auto; }
.profile, .logo, .header-nav { display: none; @media #{$tablet} { display: flex; } }
.mobile-sidebar--button { display: flex; @media #{$tablet} { display: none; } }
