.footer-container {
	bottom: 0;
	margin-top: -#{$footer-height_phone};
	position: absolute;
	top: unset;
	width: 100%;

	@media #{$tablet} {
		margin-top: -#{$footer-height};
	}
}

.footer {
	align-items: center;

	border-top: 2px solid $color-border;
	margin: auto;
	margin-top: 2rem;
	// max-width: $global-content-width;
	max-width: 1200px;
	padding: $space-m $space-m $space-xs $space-m;
	width: 100%;
}

.footer-nav {
	ul {
		@extend %remove-list-style;
		display: flex;
		flex-wrap: wrap;

		li {
			margin: 0 $space-l $space-xs 0;

			&:last-of-type {
				margin-right: 0;
			}
		}
	}
}
