@keyframes openModal {
  from {
    transform: translateY(-25%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.prevent-scrolling { overflow: hidden; }

.dash-overlay,
.modal-overlay {
  background-color: rgba($black, 0.80);
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  &.is-locked {
    overflow: hidden;
  }
}

.dash-modal,
.modal {
  background-color: $white;
  border-radius: 15px;
  margin: 1.5rem auto;
  max-width: 35rem;
  outline: 0;
  width: 90%;
  z-index: 1050;
  cursor: default;
  overflow: hidden;

  animation: openModal 0.3s ease-out;

  @media #{$tablet} {
    margin: 5rem auto 5rem auto;
  }

  &.modal-small { max-width: 25rem; }
  &.modal-large { max-width: 45rem; }

  .modal-header, .modal-content, .modal-footer {
    padding: $grid-gutter;

    hr {
      border: none;
      border-bottom: 2px solid $gray-150;
      margin: $grid-gutter (-$grid-gutter);
    }
  }

  .modal-close {
    @include user-select(none);
    float: right;
    font-size: 1.5rem;
    position: relative;
    right: .7rem;
    top: .7rem;
    cursor: pointer;
    margin-left: -2rem;
  }

  .modal-header {
    border-bottom: 2px solid $gray-150;
    text-align: center;
  }

  .modal-content {
    p {
      line-height: 1.4rem;
    }

    &.has-video {
      padding: 0;
      position: relative;
      padding-bottom: 56.3%;
      height: 0;
      overflow: hidden;
      max-width: 100%;
      transform: translateY(0);

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    // p:first-of-type { margin-top: 0; }
    // p:last-of-type { margin-bottom: 0; }
  }

  .modal-footer { background-color: $gray-100; }
  .dashing-icon--close:before { color: #555 !important; }
}
