$toast-width: 300px;

.toast-message {
	@extend %card-shadow--hover;
	background-color: $color-purple;
	border-radius: 5px;
	bottom: 1rem;
	margin: $space-m $space-m 0 $space-m;
	opacity: 0;
	padding: $space-s $space-m $space-s calc(#{$space-xl} + #{$space-xs});

	position: fixed;
	visibility: hidden;
	z-index: 999;

	@media #{$tablet} {
		left: 50%;
		margin-left: calc(-#{$toast-width} / 2);
		min-width: $toast-width;
	}
	* { color: $color-white; }

	p {
		font-weight: $font-weight-semibold;
		margin: 0;
	}

	.toast-message--icon {
		@extend .dashing-icon;
		@extend .dashing-icon--info-stroke;
		@extend .dashing-icon--white;
		left: $space-m;
		position: absolute;
		top: $space-m;
		@media #{$tablet} { top: $space-m;}
	}

	&.success {
		background-color: $color-green;

		.toast-message--icon {
			@extend .dashing-icon--checkmark-filled;
		}
	}

	&.warning {
		background-color: $color-orange;
		* { color: $color-black; }

		.toast-message--icon {
			@extend .dashing-icon--black;
			@extend .dashing-icon--info-filled;
		}
	}

	&.error {
		background-color: $color-red;

		.toast-message--icon {
			@extend .dashing-icon--alert-filled;
		}
	}

	&.is-visible {
		animation-duration: 4s;
		animation-name: slideInUpThenOut;
		animation-timing-function: ease-in-out;
		visibility: visible;
	}
}

@keyframes slideInUpThenOut {
	0% {
		bottom: 0rem;
		opacity: 0;
	}

	10% {
		bottom: 1rem;
		opacity: 1;
	}

	90% {
		bottom: 1rem;
		opacity: 1;
	}

	100% {
		bottom: 0rem;
		opacity: 0;
	}
}
