/* Flex Table Styles
  =========================================================================== */
$selectable-icon-space: 2rem;
$expandable-icon-space: 2.5rem;
$expandable-left-border: 5px;

$flex-table--border-width: 1px !default;
$flex-table--border-color: $color-border !default;
$flex-table--header-color: $color-purple;
$flex-table--header-text: $color-white;

.flex-table {
	@extend .card;
	@extend %card-shadow;
	margin: 0;
	overflow: hidden;

	.flex-table--title {
		margin: 0;
		padding: $grid-gutter;

		+ .table-row--header {
			border-radius: 0 !important;
			// border-top: $flex-table--border-width solid $flex-table--border-color;
		}
	}

	.table-row--header,
	.table-row {
		@extend %remove-list-style;
		align-items: center;
		border-bottom: $flex-table--border-width solid $flex-table--border-color;
		display: block;
		justify-content: space-between;
		padding: $grid-gutter;

		li {
			@extend .no-wrap;
			flex: 1 1 0px;
			padding-right: 0.5rem;
			@media #{$phone} {
				white-space: normal;
			}
		}
		@media #{$tablet} { display: flex; }
	}

	&.is-condensed {
		.table-row { padding: $grid-gutter/2 $grid-gutter; }
	}
	&.font-small { font-size: 0.9rem; }

	.table-row--header {
		background-color: $flex-table--header-color;
		border: 0;
		border-radius: 5px 5px 0 0;
		color: $flex-table--header-text;
		cursor: default;
		font-weight: $font-weight-semibold;
		padding: $grid-gutter/2 $grid-gutter;
	}

	.table-row:last-of-type { border: 0; }

	&.row-selectable {
		//Space for arrow icon
		.table-row--header {
			padding-right: $selectable-icon-space;
		}

		.table-row {
			padding-right: $selectable-icon-space;
			width: 100%;
		}

		a {
			@extend %remove-list-style;
			align-items: center;
			border-bottom: $flex-table--border-width solid $flex-table--border-color;
			color: $color-text;
			cursor: pointer;
			display: flex;
			font-weight: $font-weight-normal;
			justify-content: space-between;
			margin: 0;
			position: relative;
			text-decoration: none;
			transition: background-color 0.2s ease-in-out;

			&:hover { background-color: $color-hover;
				opacity: 1; }

			&:last-of-type {
				border: 0;
			}

			li:last-of-type {
				margin-top: -11px; //half of icon height
				padding: 0;
				position: absolute;
				right: $grid-gutter/2;
				top: 50%;
			}
		}

		&.font-small {
			.table-row li:last-of-type { margin-top: -8px; }
		}
	}

	&.row-expandable {
		//Space for arrow icon
		.table-row--header {
			padding-left: calc(#{$expandable-icon-space} + #{$expandable-left-border});
			@media #{$phone} { display: none; }
		}

		.table-row {
			border-left: 5px solid transparent;
			cursor: pointer;
			padding-right: $expandable-icon-space;
			position: relative;
			transition: background-color 0.2s ease-in-out;
			&:hover { background-color: $color-hover; }

			li:first-of-type {
				padding: 0;
				position: absolute;
				transition: transform 0.3s;

				i {
					@extend .dashing-icon--arrow-right;
					transition: transform 0.1s linear;
				}
				@media #{$phone} {
					margin-top: -11px; //half of icon height
					right: $grid-gutter/2;
					top: 50%;
				}
				@media #{$tablet} {
					left: calc(#{$grid-gutter} - #{$expandable-left-border});
				}
			}

			&.expanded {
				border-bottom: 0;
				border-left: 5px solid $color-data-teal;

				+ .table-row--content {
					border-bottom: $flex-table--border-width solid $flex-table--border-color;

					border-top: $flex-table--border-width solid $flex-table--border-color;
					height: auto;
					left: 0%;
					padding: 1rem;
					transition: left 0.25s;

					&:last-of-type {
						border-bottom: 0;
					}

					@media #{$tablet} {
						height: auto;
						transition: height 0.25s;
					}
				}
				@media #{$tablet} {
					li:first-of-type { transform: rotate(90deg); }
				}
			}
			@media #{$tablet} {
				padding-left: $expandable-icon-space;
				padding-right: $grid-gutter;
			}
		}
		//Custom table row content
		.table-row--content {

			background-color: $color-white;
			bottom: 0;
			left: 100%;
			overflow: auto;

			position: fixed;
			right: 0;
			top: 0;
			transition: left 0.25s;
			z-index: $zindex-overpanel;

			.close {
				display: block;
				opacity: 1;

				@media #{$tablet} {
					display: none;
					opacity: 0;
				}
			}

			@media #{$tablet} {
				border-left: 5px solid $color-data-teal;
				height: 0;
				overflow: hidden;
				padding: 0;

				position: inherit;

				//for example app only
				transition: height 0.25s;
				transition: padding 0.5s;
				z-index: 0;
			}
		}
	}
}

/* Flex Table Loading Animation
  =========================================================================== */
.flex-table.is-loading {
	overflow: hidden;

	.table-row {
		@extend %loading-animation;
		overflow: hidden;

		&:hover {
			background-color: inherit;
			cursor: default;
		}

		li {
			margin-top: 0;
			padding-right: 0 !important;
			right: 0;

			&:not(:last-child) {
				margin-bottom: $space-xs;
				@media #{$tablet} {
					margin-bottom: 0;
				}
			}
			@media #{$tablet} {
				margin-right: $space-xl;
			}
		}
	}

	// Fixes li spacing for icon for expandable loading table
	&.row-expandable {
		.table-row li:first-of-type {
			left: inherit;
			margin-top: 0;
			padding-right: inherit;
			position: inherit;
			right: 0;
		}
	}

}


/* Default Table Styles
  =========================================================================== */
$table--header-row: $color-white !default;
$table--odd-row: $color-hover !default;
$table--even-row: $color-white !default;
$table--dividers: $color-border !default;
$table--border: $color-gray-3-dark !default;

.table--container,
.card-table {
	.table {
		background-color: $color-white;
		font-size: $font-size-small;
		margin: 0;
		max-width: 100%;
		width: 100%;

		thead tr { background-color: $table--header-row; }

		th,
		td {
			padding: $grid-gutter;
			text-align: left;
		}

		td { vertical-align: middle; }
		th { border-bottom: 2px solid $color-border; }
	}
}

/* Table States
  =========================================================================== */
//Add border to container
.table--container.has-border {
	@media #{$tablet} {
		border: 2px solid $table--border;
		border-radius: 10px;
		overflow: hidden;
	}
}

//Add dividing lines to table rows
.table.has-dividers,
.table.has-divider {
	td { border-bottom: 2px solid $table--dividers; }
	tr:last-of-type { td { border-bottom: 0;} }
}

//Add alternating row colors to table rows
.table.has-row-color {
	tr {
		&:nth-child(odd) { background-color: $table--odd-row; }
		&:nth-child(even) { background-color: $table--even-row; }
	}
	thead tr:nth-child(odd) { background-color: $table--header-row; }

	//Adds specific hover styles for colored rows
	&.has-hover {
		tr:nth-child(odd):hover { td { background-color: darken($table--odd-row, 7%); }}
		tr:nth-child(even):hover { td { background-color: darken($table--even-row, 7%); }}
	}
}

//Add hover table rows
.table.has-hover {
	td { @include transition(all 0.15s ease-in-out); }
	tr:hover { td { background-color: $color-hover; } }

	tr.disabled {
		&:hover {
			td {
				background-color: transparent;
				cursor: not-allowed;
			}
		}
	}
}
