$table--header-row: $white !default;
$table--odd-row: $gray-50 !default;
$table--even-row: $white !default;
$table--dividers: $gray-100 !default;
$table--border: $gray-200 !default;

.table--container,
.card-table {
  .table {
    background-color: $white;
    font-size: $font-size-small;
    margin: 0;
    max-width: 100%;
    width: 100%;

    thead tr { background-color: $table--header-row; }

    th, td {
      padding: $grid-gutter;
      text-align: left;
    }

    td { vertical-align: middle; }
    th { border-bottom: 2px solid $gray-200; }
  }
}

/* Table States
  =========================================================================== */
//Add border to container
.table--container.has-border {
  @media #{$tablet} {
    border: 2px solid $table--border;
    border-radius: 10px;
    overflow: hidden;
  }
}

//Add dividing lines to table rows
.table.has-dividers,
.table.has-divider {
  td { border-bottom: 2px solid $table--dividers; }
  tr:last-of-type { td { border-bottom: none;} }
}

//Add alternating row colors to table rows
.table.has-row-color {
  tr {
    &:nth-child(odd) { background-color: $table--odd-row; }
    &:nth-child(even) { background-color: $table--even-row; }
  }
  thead tr:nth-child(odd) { background-color: $table--header-row; }

  //Adds specific hover styles for colored rows
  &.has-hover {
    tr:nth-child(odd):hover { td { background-color: darken($table--odd-row, 7%); }}
    tr:nth-child(even):hover { td { background-color: darken($table--even-row, 7%); }}
  }
}

//Add hover table rows
.table.has-hover {
  td { @include transition(all 0.15s ease-in-out); }
  tr:hover { td { background-color: $gray-100; } }
  tr.disabled {
    &:hover {
      td {
        background-color: transparent;
        cursor: not-allowed;
      }
    }
  }
}
