$content-width: 1200px !default;
$global-banner-height: 3.5rem;
$global-banner-height_phone: 4rem;

/* Shared Banner Styles
  =========================================================================== */
@mixin shared-banner {
	&.has-success,
	&.has-error {
		p { color: var(--color-text-invert); }
		.dashing-icon::before { color: var(--color-text-invert);}
	}

	&.has-warning {
		p { color: var(--color-black); }
		.dashing-icon::before { color: var(--color-black);}
	}

	&.has-success { background-color: var(--color-success); }
	&.has-warning { background-color: var(--color-warning); }
	&.has-error { background-color: var(--color-error); }

	.dashing-icon {
		margin-right: $space-xs;
		&::before { padding: 1px; }
	}

	p {
		font-size: $font-size-small;
		font-weight: $font-weight-semibold;
		margin: 0;
	}

	a {
		border-bottom: solid 2px;
		color: inherit;
		cursor: pointer;
		text-decoration: none;

		&:focus,
		&:hover {
			color: inherit;
			opacity: 0.6;
			text-decoration: none;
			transition: all 50ms ease-in-out;
		}
	}
}

/* Banner Styles
  =========================================================================== */
.page-banner {
	background-color: var(--color-container-background);
	left: 0;
	padding: 2rem 1rem;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;

	h4 {
		color: var(--color-subtext);
		margin-top: 0.5rem;
	}

	.button--banner {
		//@include button($gray-400, $color-white);
		@extend %button--smooth;
		position: absolute;
		right: 1rem;
		top: 2.15rem;
	}
}

.card-banner {
	@include shared-banner;
	align-items: baseline;
	background-color: var(--color-container-background);
	display: flex;
	margin: 0 -#{$grid-gutter};
	padding: $grid-gutter;

	&.has-button {
		align-items: center;
		padding: calc($grid-gutter / 2) $grid-gutter;
		button { white-space: nowrap; }
		p { margin-right: $grid-gutter; }
	}
}

.global-banner-container {
	@include shared-banner;
	animation: fadein 0.25s;
	height: $global-banner-height_phone;
	left: 0;
	max-height: $global-banner-height_phone;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 4;

	@media #{$tablet} {
		height: $global-banner-height;
		max-height: $global-banner-height;
	}
}

.global-banner {
	align-items: center;
	display: flex;
	height: 100%;
	margin: auto;

	max-width: $content-width;
	overflow-x: auto;
	overflow-y: hidden;
	padding: 0 $space-m;
	white-space: nowrap;

	width: 100%;//IE wants this... okay IE. Here you are.

	p {
		font-size: $font-size-normal;
		padding-right: $space-m;
	}
}
