/*
_______   _______ ___________ ________  ________ _   _ _____ ___  _
|  ___\ \ / / ___ \  ___| ___ \_   _|  \/  |  ___| \ | |_   _/ _ \| |
| |__  \ V /| |_/ / |__ | |_/ / | | | .  . | |__ |  \| | | |/ /_\ \ |
|  __| /   \|  __/|  __||    /  | | | |\/| |  __|| . ` | | ||  _  | |
| |___/ /^\ \ |   | |___| |\ \ _| |_| |  | | |___| |\  | | || | | | |____
\____/\/   \|_|   \____/\_| \_|\___/\_|  |_|____/\_| \_/ \_/\_| |_|_____/

This is an EXPERIMENT and is not ready to be included in production!
*/
@import '../base/base';
@import '../modules/typography/typography';

//This file is for placeholder pieces that have been needed but should be replaced by official modules.

//VARIABLES
$container-colors: transparent;//#413552

.logo {
	background-color: $container-colors;
	height: 4rem;
	width: 10.75rem;
}

.crumbs {
	color: $color-white;
	font-weight: $font-weight-semibold;
	margin-left: 0;
	margin-right: auto;
	padding-left: 1rem;

	@media #{$tablet} {
		color: $color-black;
		padding-left: 2rem;
	}
}

.profile {
	border-radius: 5px;
	color: $color-white;
	cursor: pointer;
	padding: $space-xs;
	width: auto;

	.profile-image {
		background-color: $color-background;
		border-radius: 50%;
		height: 2rem;
		margin-right: $space-xs;
		position: relative;
		width: 2rem;

		.initials {
			align-items: center;
			color: $color-black;
			display: flex;
			height: 2rem;
			justify-content: center;
			position: absolute;
			width: 2rem;
		}
	}

	.profile-name {
		color: $color-text;
		display: none;
		font-weight: $font-weight-semibold;
		margin-right: $space-xs;
		@media #{$desktop} {
			display: inline-block;
		}
	}
}

.alert {
	background-color: $container-colors;
	border-radius: 50px;
	height: 2rem;
	margin-left: 0.5rem;
	position: relative;
	width: 2rem;

	.dashing-icon::before { color: $color-orange;
		font-size: 1.5rem; }

	.count {
		background-color: $color-red;
		border-radius: 50px;
		bottom: 1rem;
		color: $color-white;
		font-weight: $font-weight-bold;
		min-width: 1.25rem;
		padding: 0 0.25rem;
		position: absolute;
		right: 1rem;
		text-align: center;
	}
}

.logo,
.profile,
.alert {
	align-items: center;
	display: flex;
	justify-content: center;
}

.alert { margin-left: auto; }

.logo,
.header-nav { display: none;
	@media #{$tablet} { display: flex; } }
