/* Color Scale
  ================================================== */

$white: #fff;
$black: #000;

//brand colors
$ui-purple: #9f65ae;
$brand-light-gray: #ededed;
$brand-gray: #d4d4d4;
$brand-grey: #d4d4d4;
$brand-black: #24292c;
$brand-blue: #28336d;

//marketing colors
$samaritan-purple: #af93c5;
$guidelines-purple_alt: #622e68;
$guidelines-purple: #54377c;
$paper: #fff;
$barbi-world-pink: #ef557b;
$receiver-orange: #f68b20;
$executive-blue: #434e5b;
$medical-blue: #6bc9d1;
$sharing-blue: #71b9e0;
$medical-green: #2eb9ab;

//ui-colors
$ui-blue: #3f70c9;
$ui-green: #09aa66;
$ui-red: #da3d30;
$ui-orange: #ffa11f;
$ui-white: #fff;
$ui-black: #40464c;

//Flat gray color scale
$gray-50: #f2f2f2;
$gray-100: #ededed;
$gray-150: #e0e0e0;
$gray-200: #d4d4d4;
$gray-250: #c7c7c7;
$gray-300: #bababa;
$gray-400: #a1a1a1;
$gray-500: #878787;
$gray-600: #6e6e6e;
$gray-700: #555;
$gray-800: #3b3b3b;
$gray-900: #222;
$gray: $gray-600;

//Cool gray color scale
$gray-50c: #f5f6f7;
$gray-100c: #edf1f2;
$gray-150c: #dde2e6;
$gray-200c: #d2d5d9;
$gray-250c: #c4c8cd;
$gray-300c: #b6bbc2;
$gray-400c: #9ca3aa;
$gray-500c: #828b94;
$gray-600c: #6c747d;
$gray-700c: #575d64;
$gray-800c: #41464b;
$gray-900c: #24292c;
$gray-cool: $gray-600c;

$blue-50: #e9ffff;
$blue-100: #d0f3ff;
$blue-200: #b7daff;
$blue-300: #9dc0ff;
$blue-400: #84a7ed;
$blue-500: #6a8dd3;
$blue-600: #5174ba;
$blue-700: #375aa0;
$blue-800: #1e4187;
$blue-900: #04276d;
$blue: $ui-blue;

$green-50: #acffeb;
$green-100: #93ffd2;
$green-200: #7afeb9;
$green-300: #60e49f;
$green-400: #47cb86;
$green-500: #2db16c;
$green-600: #149853;
$green-700: #007e39;
$green-800: #006520;
$green-900: #004b06;
$green: $ui-green;

$orange-50: #ffffb0;
$orange-100: #fff997;
$orange-200: #ffe07e;
$orange-300: #ffc664;
$orange-400: #f7ad4b;
$orange-500: #dd9331;
$orange-600: #c47a18;
$orange-700: #aa6000;
$orange-800: #914700;
$orange-900: #772d00;
$orange: $ui-orange;

$purple-50: #f4cbff;
$purple-100: #dbb2e8;
$purple-200: #c299cf;
$purple-300: #a87fb5;
$purple-400: #8f669c;
$purple-500: #754c82;
$purple-600: #5c3369;
$purple-700: #42194f;
$purple-800: #290036;
$purple-900: #0f001c;
$purple: $ui-purple;

$red-50: #ffcab8;
$red-100: #ffb19f;
$red-200: #ff9886;
$red-300: #ff7e6c;
$red-400: #f76553;
$red-500: #dd4b39;
$red-600: #c43220;
$red-700: #aa1806;
$red-800: #910000;
$red-900: #700;
$red: $ui-red;

$yellow-50: #ffffef;
$yellow-100: #ffffd6;
$yellow-200: #ffffbd;
$yellow-300: #ffffa3;
$yellow-400: #ffff8a;
$yellow-500: #f2e670;
$yellow-600: #d9cd57;
$yellow-700: #bfb33d;
$yellow-800: #a69a24;
$yellow-900: #8c800a;
$yellow: $yellow-500;
