
  /* Base Colors */
  $purple:                      #595478 !default;
  $purple-light:                lighten($purple, 10%) !default;
  $purple-dark:                 darken($purple, 10%) !default;

  $blue:                        #097CBF;
  $blue-light:                  lighten($blue, 10%) !default;
  $blue-dark:                   darken($blue, 10%) !default;

  $green:                       #00875D;
  $green-light:                 lighten($green, 10%) !default;
  $green-dark:                  darken($green, 10%) !default;

  $orange:                      #F8652A;
  $orange-light:                lighten($orange, 10%) !default;
  $orange-dark:                 darken($orange, 10%) !default;

  $red:                         #D1323F;
  $red-light:                   lighten($red, 10%) !default;
  $red-dark:                    darken($red, 10%) !default;

  $black:                       #222228;
  $gray-4:                      #6F6F75;
  $gray-3-dark:                 #B4B4B8;
  $gray-3:                      #E1E1E7;
  $gray-2:                      #EEEEF4;
  $gray-1:                      #F3F3F9;
  $white:                       #FFFFFF;

  /* Primary and Accent */
  $color-primary:               $purple;
  $color-primary-light:         $purple-light;
  $color-primary-dark:          $purple-dark;

  $color-accent:                $blue;
  $color-accent-light:          $blue-light;
  $color-accent-dark:           $blue-dark;

  /* Semantic */
  $color-success:               $green;
  $color-warning:               $orange;
  $color-error:                 $red;

  /* Border */
  $color-border:                $gray-3;

  /* Hover/Selectable */
  $color-hover:                 $gray-1;

  /* Body Background */
  $color-background:            $gray-2;

  /* Typography */
  $color-text:                  $black;
  $color-subtext:               $gray-4;
  $color-link:                  $color-accent;
  $color-link-visted:           $color-accent-dark;

  /* Forms */
  $form-element-border:         $color-border;
  $form-element-border-focus:   $color-accent;
  $form-element-border-error:   $color-error;
  $form-element-bg:             $white;
  $form-text-placeholder:       $color-subtext;

  /* Buttons */
  $btn-primary-bg:              $color-primary;
  $btn-primary-hover:           $color-primary-dark;
  $btn-primary-text:            $white;

  $btn-gray-bg:                 $gray-3;
  $btn-gray-hover:              $gray-3-dark;
  $btn-gray-text:               $black;

  /* Icons */
  $color-icon-primary:          $color-subtext;
