/* Button Variables
===========================================================================
*/

$buttons: ".button, button, input[type='submit'], input[type='reset']";
$button-disabled: '&[disabled], &.disabled, &.button--disabled';
$action--focus: $color-focus !default;

/* Dependencies
===========================================================================
*/

@import './button-mixins';

//Available theme files
@import './button-theme-default';//Use this file until additional themes are ready to be supported.
//@import "./button-theme-light.scss";
//@import "./button-theme-dark.scss";

/* Actions Extendables
===========================================================================
*/

%button--round { border-radius: 50px; }
%button--smooth { border-radius: 5px; }
%button--square { border-radius: 0; }

%action {
	@include user-select(none);

	border: 0;
	cursor: pointer;
	font-size: $font-size-small;
	font-weight: $font-weight-semibold;
	outline: none;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 50ms ease-in-out;
	&:first-of-type { margin-left: 0; }
	&:last-of-type { margin-right: 0; }

	&:hover { opacity: 1;
		transition: all 0.1s ease-in-out; }

	&:focus { box-shadow: 0 0 0 4px $action--focus;
		opacity: 1; }
}

/* Button Structure
===========================================================================
*/

#{$buttons} {
	@extend %action;
	@extend %button--smooth;

	-webkit-font-smoothing: auto;
	font-weight: $font-weight-normal;
	margin: 0.05rem 0.25rem;
	padding: $space-s $space-m;
	text-align: center;

	@media #{$tablet} {
		display: inline-block;
		padding: $space-xs $space-m;
	}

	#{$button-disabled} {
		cursor: default;
		opacity: 0.4;
		pointer-events: none;
	}

	&.button--block {
		display: block;
		width: 100%;

		&:not(:first-child) {
			margin: $space-xs 0 0 0;
		}

		&_phone,
		&_mobile {
			@media #{$phone} {
				display: block;
				width: 100%;

				&:not(:first-child) {
					margin: $space-xs 0 0 0;
				}
			}

			@media #{$tablet} { display: inline-block; }
		}
	}

	//Button Sizes
	&.button--large {
		font-size: $font-size-medium !important;
		padding: 0.6rem 1.2rem;
	}

	&.button--small {
		font-size: $font-size-xsmall !important;
		padding: 0.4rem 0.75rem;
	}

	//Used to display actions and icons with a transparent background
	//transparentize(white, 1) used instead of transparent because "darken" requires an rgb color value
	&.button--transparent {
		&:not(.button--icon) { //Retains button--icon padding
			padding-left: 0.5rem;
			padding-right: 0.5rem;
		}
	}

	&.button--border {
		border: 2px solid;

		@media #{$tablet} {
			padding-bottom: calc(0.5rem - 2px);
			padding-left: calc(1rem - 2px);
			padding-right: calc(1rem - 2px);
			padding-top: calc(0.45rem - 2px);
		}
	}

	&.button--round { @extend %button--round; }

	&.button--smooth { @extend %button--smooth; }

	&.button--square { @extend %button--square; }

	&.button--icon,
	&.button--mobile-sidebar {
		border-radius: 50px !important;
		padding: 0.6rem;
	}

	//Fixes Firefox alignment
	.dashing-icon.flow-opposite { display: inline-block; }
}

/* Button-Group Structure
===========================================================================
*/

.button-group {
	@extend .button--smooth;
	margin: 0;
	overflow: auto;
	padding: 0;

	//border radius for default buttons
	.button--radio:first-of-type label { border-radius: 50px 0 0 50px; }
	.button--radio:last-of-type label { border-radius: 0 50px 50px 0; }

	//border radius for smooth buttons
	&.button--smooth {
		.button--radio:first-of-type label { border-radius: 5px 0 0 5px; }
		.button--radio:last-of-type label { border-radius: 0 5px 5px 0; }
	}

	//border radius for square buttons
	&.button--square {
		.button--radio:first-of-type label,
		.button--radio:last-of-type label { border-radius: 0; }
	}

	&.button-group--vertical { @include button-group--vertical-border; }
	&.button-group--vertical_phone { @media #{$phone} { @include button-group--vertical-border; } }
	&.button-group--vertical_tablet { @media #{$tablet} { @include button-group--vertical-border; } }

	//Border Button Groups
	&.button--border {
		.button {
			background-color: transparent;
			border: 1px solid var(--color-border);
			color: $color-subtext;
			display: inline-block;
		}
	}

	.button--radio {
		display: inline-block;
		float: left;
		&:first-of-type label { margin-left: 0; }
		input { display: none; }

		label {
			border-radius: 0;
			display: inline-block;
			margin: 0 0 0 -1px;
		}
	}


	&.button-group--vertical {
		@include button-group--vertical;
	}

	&.button-group--vertical_phone {
		@media #{$phone} {
			@include button-group--vertical;
		}
	}

	&.button-group--vertical_tablet {
		@media #{$tablet} {
			@include button-group--vertical;
		}
	}

	.dashing-icon { margin: 0 !important; }
	.dashing-icon--arrow-left { width: 16px; } //fixes weird sizing difference between arrow-right and arrow-left
}
