.ordered-list--custom {
	counter-reset: step-counter;  /* Sets a counter named 'step-counter' and sets value to 0 */
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		align-items: baseline;
		counter-increment: step-counter;  /* Increments 'step-counter' variable */
		display: flex;
		margin-bottom: $grid-gutter;

		&::before {
			background-color: $color-gray-3;
			border-radius: 50%;
			color: $color-black;
			content: counter(step-counter); /* Displays the value of 'step-counter' */
			font-size: 1rem;
			font-weight: $font-weight-semibold;
			margin-right: $grid-gutter/2;
			padding: 0.3rem 0.7rem;
		}

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	& > *:not(li) { /* Indent all content within <ol> to line up with the <li> */
		text-indent: 2.5rem;
	}
	//Example: Custom Colored Lists
	&.ordered-list--color-blue {
		@include ordered-list($color-blue, $color-white);
	}
}
