$content-width: 1200px !default;
$global-banner-height: 3rem;

/* Shared Banner Styles
  =========================================================================== */
.banner {
  &.has-success,
  &.has-error {
    p { color: $white; }
    .dashing-icon:before { color: $white;}
  }

  &.has-warning {
    p { color: $black; }
    .dashing-icon:before { color: $black;}
  }

  &.has-success { background-color: $green; }
  &.has-warning { background-color: $orange; }
  &.has-error   { background-color: $red; }

  .dashing-icon {
    margin-right: $space-xs;
    &::before { padding: 1px; }
  }

  p {
    font-size: 0.9rem;
    font-weight: 600;
    margin: 0;
  }

  a {
    border-bottom: solid 2px;
    color: inherit;
    cursor: pointer;

    &:focus,
    &:hover {
      opacity: 0.6;
      transition: all 50ms ease-in-out;
      text-decoration: none;
      color: inherit;
    }
  }
}

/* Banner Styles
  =========================================================================== */
.page-banner {
  background-color: $color-gray-3;
  text-align: center;
  padding: 2rem 1rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  h4 {
    color: $color-subtext;
    margin-top: 0.5rem;
  }

  .button--banner {
    //@include button($gray-400, $color-white);
    @extend %button--smooth;
    position: absolute;
    top: 2.15rem;
    right: 1rem;
  }
}

.card-banner {
  @extend .banner;
  align-items: baseline;
  background-color: $color-gray-3;
  display: flex;
  padding: $grid-gutter;
  margin: 0 -#{$grid-gutter};

  &.has-button {
    padding: $grid-gutter/2 $grid-gutter;
    align-items: center;
    button { white-space: nowrap; }
    p { margin-right: $grid-gutter; }
  }
}

.global-banner {
  @extend .banner;
  background-color: $gray-200;
  display: flex;
  align-items: center;
  padding: $space-xs $space-m;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $global-banner-height;
  max-height: $global-banner-height;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;

  max-width: $content-width;
  margin: auto;

  width: 100%;//IE wants this... okay IE. Here you are.

  &::after {
    z-index: -1;
  	content: "";
  	width: 100%;
  	height: $global-banner-height;
    background: $gray-200;
  	position: fixed;
  	top: 0;
  	left: 0;
    background-color: $gray-200;
  }

  p {
    font-size: $font-size-small;
    font-weight: $font-weight-semibold;
    padding-right: $space-m;
    margin: 0;
  }

  &.has-error {
    &::after { background-color: $red; }
  }
  &.has-warning {
    &::after { background-color: $orange; }
  }
}
