/* Banner Styles
  =========================================================================== */
.page-banner {
  background-color: $gray-150;
  left: 0;
  padding: 2rem 1rem;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;

  h4 {
    color: $gray-700;
    margin-top: 0.5rem;
  }

  .button--banner {
    @extend %button--smooth;
    @include button($gray-400, $white);
    position: absolute;
    right: 1rem;
    top: 2.15rem;
  }
}

.card-banner {
  align-items: baseline;
  background-color: #d4d4d4;
  display: flex;
  margin: 0 -#{$grid-gutter};
  padding: $grid-gutter;

  &.has-button {
    align-items: center;
    padding: $grid-gutter/2 $grid-gutter;
    button { white-space: nowrap; }
    p { margin-right: $grid-gutter; }
  }

  a {
    border-bottom: solid 2px;
    color: inherit;
    cursor: pointer;

    &:focus,
    &:hover {
      color: inherit;
      opacity: 0.6;
      text-decoration: none;
      transition: all 50ms ease-in-out;
    }
  }

  &.has-success,
  &.has-error {
    p { color: $white; }
    .dashing-icon::before { color: $white;}
  }

  &.has-warning {
    p { color: $black; }
    .dashing-icon::before { color: $black;}
  }

  &.has-success { background-color: $green; }
  &.has-warning { background-color: $orange; }
  &.has-error { background-color: $red; }

  .dashing-icon { margin-right: 0.5rem; }

  p {
    font-size: 0.9rem;
    font-weight: 600;
    margin: 0;
  }
}
