$card-checkbox--active: $blue !default; //Color of checkbox and card when checked
$card-checkbox--focus: $blue-300 !default; //Color of border around card-checkbox when focused
$card-checkbox--padding: 1rem !default; //Padding of checkbox

.checkbox-card { @extend .checkbox--custom; }
.radio-card { @extend .radio--custom; }

.checkbox-card,
.radio-card {
  display: inline-flex;
  margin-right: 0.5rem;

  .card {
    float: none;
    margin: 0;
    padding: $card-checkbox--padding;
    border: 2px solid transparent;
    @extend %card-shadow;

    &:hover {
      @extend %card-shadow--hover;
    }

    &:before {
      display: inline-block;
    }
    //disabled card
    &.disabled {
      background-color: $gray-200;
      border-color: $gray-200;
      pointer-events: none;
      opacity: 0.4;
      color: $gray-700;
    }

    //centers checkbox and radio button to card
    &.center-align,
    &.align-center {
      float: none;
    }
  }

  &.is-block,
  &.block {
    display: block;
    margin-bottom: 0.5rem;
    width: 100%;
  }

  input:focus ~ label:before { box-shadow: none; }
  input:focus ~ label { box-shadow: 0 0 0 2px $card-checkbox--focus; }
  input:checked ~ label, input:active ~ label {
    color: $card-checkbox--active;
    border: 2px solid $card-checkbox--active;
  }

  //disabled radio button
  input[disabled] ~ label,
  input[disabled]:active ~ label,
  input[disabled]:checked ~ label {
    cursor: default;
    pointer-events: none;
    &:before {
      border-color: $gray-400 !important;
      background-color: $gray-200 !important;
    }
  }
  &.checkbox-card--small {
    .card { padding: calc(#{$card-checkbox--padding} / 2); }
  }
  &.radio-card--small {
    .card { padding: calc(#{$card-checkbox--padding} / 2); }
  }
}

.radio-card {
  .card {
    &:before {
      top: calc(#{$card-checkbox--padding} + 2px);
      left: $card-checkbox--padding;
    }
  }
  &.radio-card--small {
    .card {
      &:before {
        top: calc((#{$card-checkbox--padding} / 2) + 2px);
        left: calc((#{$card-checkbox--padding} / 2) + 3px);
      }
    }
  }
}
