$inputs: 'select, textarea,input[type="date"],input[type="time"],input[type="email"],input[type="month"],input[type="number"],input[type="password"],input[type="tel"],input[type="text"]';

fieldset {
  border: none;
  padding: 0;
  margin: 0;

  label {
    display: block;
    font-size: $font-size-xsmall;
    font-weight: $font-weight-semibold;
    margin-bottom: 0.3rem;
    text-align: left;

    &.inline {
      @include user-select(none);
      font-size: $font-size-normal;
      display: inline-block;
      font-weight: normal;
      cursor: pointer;
    }
  }

  //Supports all standard input types
  #{$inputs} {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: $white;
    border: 2px solid $gray-150;
    border-radius: 5px;
    font-size: $font-size-normal;
    max-width: 100%;
    padding: 0.6rem;
    width: 100%;
    //EXPERIMENTAL
    margin-bottom: $space-m;

    &:focus {
      border-color: $blue;
      outline-color: transparent;
      outline-style: none;
    }

    //Adds light gray background color to disabled inputs
    &[disabled] {
      background-color: $gray-100 !important;
      border-color: $gray-100 !important;
      cursor: default !important;
    }
  }

  input[type="date"],
  input[type="time"],
  input[type="month"] {
    min-height: 2.75rem;
  }

  input[type=checkbox],
  input[type=radio] {
    float: left;
    margin-top: 0.3rem;
    margin-right: 0.5rem;
  }

  textarea {
    resize: vertical;
    .grid & {
      width: 100%; //needed to support css-grid
    }
  }

  select {
    cursor: pointer;
    .grid & {
      width: 100%; //needed to support css-grid
    }
  }

  //Add class to containing fieldset or div to display a button
  .input--add-on {
    display: flex;
    margin-bottom: $space-m;

    #{$inputs} { margin-bottom: 0; }
    select {
      padding-right: $space-xl;
      width: auto !important;
    }

    .add-on--before {
      border-radius: 5px 0 0 5px;
      border-right: none;
      flex: 1;
    }

    .add-on--after {
      border-radius: 0 5px 5px 0 !important;
      margin: 0;

      &.button--border {
        @include border--button($gray-150); //makes button border the same color as the input
        color: $gray-500;
        .dashing-icon:before {
          color: $gray-500;
        }
      }
    }
  }

    // select.add-on--after,
    // select.add-on--before {
    //   padding-right: 2rem;
    //   flex: none;
    // }
    //
    // .add-on--field,
    // .add-on--before,
    // .add-on--after {
    //   width: 5rem; //set to fix forms escaping from headers on mobile
    //   @media #{$tablet} {
    //     width: auto;
    //   }
    //   flex-grow: 1;
    // }
    //
    // .add-on--field,
    // .add-on--before {
    //   border-radius: 5px 0 0 5px;
    //   border-right: none;
    // }
    //
    // .add-on--after {
    //   border-radius: 0 5px 5px 0;
    // }
    //
    // select.add-on--after,
    // select.add-on--before {
    //   padding-right: 2rem;
    //   flex: none;
    // }
    //
    // .add-on--button {
    //   border-radius: 0 5px 5px 0 !important;
    //   padding-top: calc(0.6rem + 3px);
    //   padding-bottom: calc(0.6rem + 3px);
    //   margin: 0;
    //
    //   &.button--border {
    //     @include border--button($gray-150);
    //     color: $gray-500;
    //     .dashing-icon:before {
    //       color: $gray-500;
    //     }
    //   }
    // }

  //Add class to containing fieldset or div to display a down arrow icon in the menu
  &.select--has-icon,
  .select--has-icon {
    position: relative;
    &:after {
      content: '\e800';
      color: $gray-400;
      font-family: 'dashing-icons';
      font-size: 12px;
      font-weight: 600;
      pointer-events: none;
      position: absolute;
      right: 2rem; bottom: calc(#{$grid-gutter} * 2);
    }

    .grid & { //supports select positioning in grid
      &:after {
        right: 1rem;
        bottom: 2rem;
      }
    }

    &.has-error:after { color: $red-400; }
    &.has-warning:after { color: $orange-400; }

    &.column--nested {
      &:after { right: 1.5rem; bottom: 1.5rem; }
      @media #{$tablet} {
        &:last-of-type:after { right: 0.5rem; }
        }
    }

    //Removes default select icon in IE
    select::-ms-expand { display: none; }
  }
}

/* Form States
*/

fieldset {
  .message {
    color: $gray-800;
    font-size: $font-size-small;
    list-style: none;
    margin: 0;
    margin-top: -#{$space-s};
    margin-bottom: $space-m;
    overflow: auto;
    padding: 0;

    // li {
    //   float: left;
    //   font-size: $font-size-normal;
    //   margin-right: 0.5rem;
    //   margin-bottom: $space-m;
    // }
  }

  //Adds red text to lables and inputs for error states
  &.has-error,
  .has-error {
    label, #{$inputs} {
      color: $red;
      border-color: $red-200;
    }

    #{$inputs} {
      &:focus { border-color: $red; }
    }

    .message { color: $red; }
  }

  //Adds orange text to lables and inputs for warning states
  &.has-warning,
  .has-warning {
    label, #{$inputs} {
      color: $orange;
      border-color: $orange-300;
    }

    #{$inputs} {
      &:focus { border-color: $orange; }
    }

    .message { color: $orange; }
  }
}
