/* Card Styles
  =========================================================================== */
@use '/node_modules/@smi/design-tokens/dist/scss/tokens.scss' as token;

//TODO remove .card--header, .card--content, .card--footer with major release

.card,
%card {
	@extend %card-shadow;
	background-color: var(--color-container-background);
	border-radius: 5px;
	margin: 1.5rem auto;

	.card--header,
	&.card--content,
	&.card--footer,
	.card-header,
	&.card-content,
	&.card-footer {
		hr { margin: ($grid-gutter) 0; }
	}

	//Spans the hr full width within a card. card--header, card--content, card--footer will use padding for spacing.
	hr { margin: 0; }

	.card--header,
	.card-header {
		padding: $grid-gutter $grid-gutter 0 $grid-gutter;
		padding-bottom: 0;

		&.has-border {
			border-bottom: 2px solid var(--color-border);
			padding-bottom: $grid-gutter;

			+.card--content .card-banner,
			+.card-content .card-banner {
				margin-top: -$grid-gutter;
			}
		}

		&.has-icon {
			align-items: baseline;
			display: flex;
			i { margin-right: $space-xs; }
		}

		h1,
		h2,
		h3,
		h4 { margin-bottom: 0; } //removes default margin-bottom in card-headers
	}


	.card--content,
	.card-content {
		overflow: auto;
		padding: $grid-gutter;
	}

	.card--footer,
	.card-footer {
		padding: 0 $grid-gutter $grid-gutter $grid-gutter;

		&.has-border {
			border-top: 2px solid var(--color-border);
			padding-top: $grid-gutter;
		}
	}

	.card--header + &.card--footer,
	.card-header + &.card-footer {
		padding-top: $grid-gutter;
	}

	//Use "is-selectable" to indicate a clickable card, add disabled or is-disabled to fade back the card
	&.is-selectable {
		transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;

		&:hover {
			@extend %card-shadow--hover;
			cursor: pointer;
		}
	}

	&.disabled,
	&.is-disabled,
	&.is-selectable.is-disabled,
	&.is-selectable.disabled {
		box-shadow: none;
		opacity: 0.4;
		pointer-events: none;
	}

	&.card--dashed {
		border: 2px dashed var(--color-border);
		box-shadow: none;
	}

	.card--narrow {
		max-width: 750px;
	}

	.card--list,
	.card-list {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			padding: $space-s $space-m;
			transition: $global-transition;
		}

		&.is-selectable {
			li {
				cursor: pointer;

				&:hover {
					background-color: var(--color-hover);
				}

				a {
					margin: -#{$space-s} -#{$space-m};
					padding: $space-s $space-m;
					&:hover { opacity: 1; }
				}
			}
		}

		&.has-border {
			li {
				border-bottom: 1px solid var(--color-border);
				&:last-of-type { border: 0; }
			}
		}
	}
	//Table within Card
	.card-table {
		border-radius: 0 0 5px 5px;
		overflow-x: auto;

		.table,
		table {
			border-radius: 0 0 5px 5px;
			margin-top: $grid-gutter !important;

			th {
				background-color: var(--color-container-background);
				border-top: 2px solid var(--color-border);
				padding: $space-xs $space-m !important;
			}

			&.has-arrow {
				th,
				tr {
					td:last-of-type {
						width: 3rem;
					}
				}
			}

			&.is-selectable {
				tbody tr {
					transition: $global-transition;

					&:hover {
						background-color: var(--color-hover);
						cursor: pointer;
					}
				}
			}
		}
	}
}

.card-info {
	@extend %card;
	background-color: var(--card-info-bg);
	border-left: 6px solid var(--color-accent);
	min-width: 100%;
	overflow: hidden;

	.dashing-icon::before { color: var(--color-accent); }

	.card-info--title {
		color: var(--color-accent);
		margin: 0;
	}

	.card-header { padding-top: $space-s; }
	.card-content { padding: $space-s $space-m; }

	.card-header,
	.card-content {
		&.has-icon {
			align-items: baseline;
			display: flex;
			.dashing-icon { margin-right: $space-xs; }
		}

		&.has-button {
			align-items: center;
			display: flex;
			button { white-space: nowrap; }
		}
	}
	//TODO: lighten here...
	&.has-warning {
		// background-color: lighten(var(--color-warning), 40%);
		// background-color: lighten(token.$color-semantic-orange, 40%);
		background-color: var(--card-warning-bg);
		border-left-color: var(--color-warning);
		.card-info--title { color: var(--color-warning); }
		.dashing-icon::before { color: var(--color-warning); }
	}

	&.has-error {
		background-color: var(--card-error-bg);
		border-left-color: var(--color-error);
		.card-info--title { color: var(--color-error); }
		.dashing-icon::before { color: var(--color-error); }
	}

	&.has-success {
		background-color: var(--card-success-bg);
		border-left-color: var(--color-success);
		.card-info--title { color: var(--color-success); }
		.dashing-icon::before { color: var(--color-success); }
	}
}

//Set the margin of Cards when they are within a Grid
.grid {
	:not(.checkbox-card):not(.radio-card):not(.card-content) > .card:not(.card--dashed) {
		@media #{$phone} {
			border-radius: 0;
			margin: 0 -#{$grid-gutter} $grid-gutter -#{$grid-gutter};
		}
		@media #{$tablet} {
			margin: 0 0 $grid-gutter 0;
			&:last-of-type { margin-bottom: 0; }
		}
	}
}

/* Card Loading Animation
  =========================================================================== */
.card.is-loading {
	overflow: hidden;

	.card-header,
	.card--header,
	.card-content,
	.card--content,
	.card-footer,
	.card--footer {
		@extend %loading-animation;
		overflow: hidden;
	}

	.card-header,
	.card--header {
		* {
			width: 200px; //Sets a static width for the header
		}
	}

	.card-footer,
	.card--footer {
		* {
			margin: 0;
			width: 100px; //Sets a static width for footer buttons
		}
	}
}

@keyframes loadingCard {
	100% {
		transform: translateX(100%);
	}
}
